<% content_for :banner do %>
    <%= link_to immigration_index_path do %>
        <div style="height: 200px">
          <%= image_tag 'banner_immigration.jpg', :class => 'banner' %>
          <p class="banner">
            <i>
              Бизнес иммиграция, инвестиционные проекты, разработка финансовой стратегии, управление и развитие бизнеса,
              привлечение кредита и финансирование в США – все это возможно с нашей бизнес-группой компаний
            </i>
          </p>
        </div>
    <% end %>
<% end %>
<div style="text-align: justify">
  <h1 class="underlined font-large">Изменение статуса <em  class="handwritten" style="font-size: 30px;">в США</em></h1>

  <p>
    <span style="font-size: 1.5em;">Наша команда опытных и квалифицированных адвокатов во Флориде оказывает содействие в
    процедуре изменения статуса наших клиентов в США.</span> Иммиграционная служба может изменить Ваш любой легальный
    статус на другой, в период Вашего пребывания в США, таким образом, что во время изменения статуса Вам даже не
    придется покидать пределы США для получения новой визы.
  </p>

  <div>
    <a class="image-popup-vertical-fit" href="<%= asset_path('extra/14_1_1.jpg') %>">
      <%= image_tag 'extra/14_1_1.jpg', :width => 200, :height => 120, :style => 'margin-left: 10px;' %>
    </a>
    <a class="image-popup-vertical-fit" href="<%= asset_path('extra/14_1_2.jpg') %>">
      <%= image_tag 'extra/14_1_2.jpg', :width => 180, :height => 120, :style => 'margin-left: 14px;' %>
    </a>
  </div>

  <p>
    Одним из популярных направлений среди наших клиентов является Изменение туристического статуса (B1/B2) на статус L-1 в
    США.
  </p>

  <p>
    Бизнесмены часто приезжают в США по гостевой визе, чтобы встретиться с деловыми партнерами и узнать возможности
    расширения своего бизнеса в Америке. Если Вы, находясь в Америке, решили приобрести или открыть новое предприятие,
    мы поможем Вам подать запрос в иммиграционную службу о смене Вашего статуса на статус L-1. Это позволит Вам начать
    работу, не покидая США.
    В таком случае Ваш спонсор должен отправить заявление на смену статуса до даты окончания действия визы 1-94, и Вы
    сохраняете легальный статус в США, пока иммиграционная служба занимается рассмотрением заявления. Сопровождающие Вас
    члены семьи также могут поменять гостевой статус на статус L-2, не покидая США.
    Если заявление о смене статуса удовлетворено, у Вас нет необходимости покидать США для получения соответствующей
    визы;
    Вы можете начать работать, как только получите извещение о предоставлении Вам статуса L-1. Это автоматически
    продлевает срок Вашего пребывания в США до одного года для нового офиса и до трех лет для фирмы, которая
    существовала более года. Вы можете находиться в США в течение срока, указанного в извещении. Вы так же имеете
    законное право обратиться за продлением статуса.
  </p>

  <div>
    <a class="image-popup-vertical-fit" href="<%= asset_path('extra/14_2_1.jpg') %>">
      <%= image_tag 'extra/14_2_1.jpg', :width => 290, :height => 120, :style => 'margin-left: 70px;' %>
    </a>
  </div>

  <p>
    Как видите, процедура получения статуса постоянного жителя США не проста и требует заполнения множества документов,
    форм, поэтому данная процедура может быть грамотно проведена только при помощи квалифицированного адвоката. Простому
    человеку, не юристу, крайне сложно разобраться и сделать все правильно. Настоятельно рекомендуем
    <%= link_to 'обратиться к сотрудникам нашей группы компаний', page_contact_us_path %>, в которую входят компании
    <%= link_to('Credit Services of America', 'http://www.creditservicesamerica.com') %>,
    <%= link_to('American EB-5 Centers', 'http://americaneb5centers.com') %>,
    <%= link_to('Data Business Systems', 'http://www.google.com') %>,
    <%= link_to('US BABY TIME', 'http://usbabytime.com') %> и многие другие.
  </p>

  <p>
    Наши специалисты также оказывают содействие в изменение любого не иммиграционного статуса пребывания в США
    J1,(B1/B2), K-1, F1 на рабочий и иммиграционный статус.
  </p>
</div>