<div style="text-align: justify;">
  <h1>Иммиграция в США (EB5 и другие визы)</h1>

  <p>Первым шагом на пути к иммиграции в США является получение Green Card (Гринкарта).</p>

  <p>
    Согласно Американскому иммиграционному законодательству, существует несколько вариантов получения Green Card для
    эмиграции в Америку на постоянное проживание, таких как: через получение виз EB-5, L-1A, а так же виз: ЕВ-1, ЕВ-2,
    ЕВ-3, ЕВ-4, ряда виз для людей с исключительными возожностями и через получение политического убежища.
  </p>

  <p>
    Наиболее вероятным способом иммиграции в США для большинства бизнесменов является получение Green Card через визу
    инвестора EB-5 или рабочую визу L-1A.
  </p>

  <h3 class="underlined">EB-5 - виза инвестора.</h3>

  <p>
    По существующим правилам, получить визу EB-5, можно, выполнив одно из следующих условий:
  </p>
  <ol>
    <li>Инвестировать один миллион долларов США в любом штате Америки и нанять, по крайней мере, 10 штатных
      сотрудников.
    </li>
    <li>Инвестировать 500 тысяч долларов США, если бизнес расположен в областях с очень высоким уровнем безработицы и
      нанять не менее 10 штатных сотрудников.
    </li>
    <li>Инвестировать 500 тысяч долларов США в "региональный центр", прямо или косвенно создать 10 рабочих мест.</li>
  </ol>

  <p>
    Мы - компания <b><%= link_to('American EB-5 Centers', 'http://americaneb5centers.com/') %></b>, входящая в бизнес-группу компаний (в
    группу также входят компании
    <b>
      <i>
      <%= link_to 'Credit Services of America', 'http://www.creditservicesamerica.com' %>,
      <%= link_to 'Data Business Systems', 'http://google.com' %>,
      <%= link_to 'US BABY TIME ', 'http://usbabytime.com' %>
      </i>
    </b> и многие другие) являемся
    одним из официально признанных иммиграционной службой США "региональных центров".
  </p>

  <p>
    Региональные центры это юридические лица признанные иммиграционной службой как организации координирующие
    инвестиции, сделанные по программу EB-5 в определенном географическом регионе. В одном регионе может быть несколько
    Региональных центов, признанных иммиграционной службой. Со списком Региональных центов, признанных иммиграционной
    службой США, можно ознакомится <%= link_to 'здесь', 'http://www.uscis.gov/working-united-states/permanent-workers/employment-based-immigration-fifth-preference-eb-5/immigrant-investor-regional-centers'%>.
  </p>

  <p>
    В случае выбора вами инвестирования средств через наш региональный центр, вы не должны будете управлять проектом
    сами. В результате инвестиций за два года должно быть создано или сохранено минимум 10 рабочих мест с полной ставкой
    оплаты. Мы обеспечим вам создание требуемых рабочих мест и возьмем на себя все остальные заботы, таки как уплата
    налогов и полное управление проектом.
  </p>

  <p>
    Важно отметить, что инвестиции через региональные центры это лишь альтернатива прямым инвестициям. Прямые
    инвестиции - это самый короткий способ получения грин карты. Инвестиции в данном случае должны будут сделаны в новое
    коммерческое предприятие, которое должно быть создано либо с нуля, или куплено у бывших владельцев и значительно
    расширено. Критерием «значительного расширения» считается рост минимум 40 процентов и создание 10 новых рабочих
    мест, удовлетворяющим требованиям законодательства. Мы полностью возьмем на себя управление бизнесом инвестора, если
    вы выберете данный способ инвестиций.
  </p>

  <p>
    Преимущества инвестиций через <b><%= link_to 'American EB-5 Centers', '(http://www.creditservicesamerica.com' %></b>:
  </p>
  <ol>
    <li>Краткосрочность процесса.</li>
    <li>Гибкость - мы предлагаем как прямые инвестиции, так и инвестиции через аккредитованный региональный центр,
      которым мы и являемся.
    </li>
    <li>Грин Карта Инвестору. Полный возврат инвестиций и получение устойчивой прибыли.</li>
    <li>Дети получают все привилегии постоянных легальных жителей: Они могут посещать колледжи и университеты как
      постоянные жители, а не как иностранные студенты (более низкая плата за обучение).
    </li>
    <li>Инвестор и его семья получают все привилегии постоянных жителей США: право на работу и карточку
      социальногострахования, водительские права, право свободного перемещения.
    </li>
    <li>После 5-ти лет - право получения гражданства США.</li>
  </ol>
  <p>
    При инвестировании в "региональный центр", инвестор должен доказать, что источник финансирования для инвестиций
    законен. Инвестиционные деньги могут быть прибылью компании, продажами недвижимого имущества, продажей акций,
    зарплатой, и даже деньгами в подарок от родителей или родственников. Необходимо будет представить налоговые
    документы (справку об уплате подоходного налога и т.д.), чтобы доказать легальность происхождения денег.
  </p>

  <p>
    Любой из двух вариантов требует хорошо спланированных действий, анализа бизнес-плана, проверки компании в США
    рассматриваемой для покупки. В случае, если у вас возникли вопросы свяжитесь с нами.
  </p>

  <h3 class="underlined">L-1А - рабочая виза.</h3>

  <p>
    Если у Вас есть свои собственный бизнес, своя компания, или Вы сотрудник высшего звена компании в которой
    работаете, то мы рекомендуем Вам получать Green Card, через получение рабочей визы L-1А. Получение Гринкарты через
    рабочую визу L-1A является на сегодня наиболее простым и доступным вариантом иммиграции в США.
  </p>

  <p>
    Имея рабочую визу L-1A, можно подавать документы на Green Card уже через 1 год после получения этой визы L-1А при
    условии выполнения в течение этого времени определенных условий.
  </p>

  <p>
    Общий принцип: необходимо создать активный инвестиционный бизнес (открытый в США, как дочерняя компания российской
    компании, собственником или руководителем, которой вы являетесь) с привлечением местной рабочей силы, с официальной
    уплатой налогов за них, в кол-ве не менее 5 человек и объемом инвестиций от 500 000 долларов США.
  </p>

  <p>
    Данные цифры являются проверенной статистикой из многолетнего опыта работы иммиграционных адвокатов, позволяющие
    получить практически 100% результат. Происходит это в несколько этапов:
  </p>
  <ol>
    <li>открытие компании в США;</li>
    <li>наем на работу 3-х сотрудников;</li>
    <li>вложение 50% инвестиций от общей суммы;</li>
    <li>подготовка пакета документов для подачи на визу L-1A;</li>
    <li>подача документы на получение визы L-1A через иммиграционного адвоката и получение этой визы (автоматически визы
      получают и все члены Вашей семьи).
    </li>
  </ol>
  <p>
    После получения визы L-1A, которая позволяет официально работать в США, Вы продолжаете вести бизнес своей компании
    в США и, как правило, этот бизнес доходный. Статус визы L-1A позволяет Вам и членам Вашей семьи (супруге/супругу и
    всем Вашим детям до 21 года) находиться безвыездно в США в течение всего периода действия визы.
  </p>

  <p>
    Через год с момента первой инвестиции, можно через иммиграционного адвоката подавать документы на Green Card
    (документы подаются на вас и членов вашей семьи - супругу/супруга и всех ваших детей до 21 года). К этому времени, в
    Вашей компании должно работать не менее 5 человек.
  </p>

  <p>
    При Ваших финансовых возможностях инвестировать суммы от 500 000 до 10 000 000 долларов, мы готовы предложить вам
    бизнес-проекты со стабильной высокой доходностью, вне зависимости от желания получить грин-карту.
  </p>

</div>