<% content_for :banner do %>
    <%= link_to immigration_index_path do %>
        <div style="height: 200px">
          <%= image_tag 'banner_immigration.jpg', :class => 'banner' %>
          <p class="banner">
            <i>
              Бизнес иммиграция, инвестиционные проекты, разработка финансовой стратегии, управление и развитие бизнеса,
              привлечение кредита и финансирование в США – все это возможно с нашей бизнес-группой компаний
            </i>
          </p>
        </div>
    <% end %>
<% end %>
<div style="text-align: justify">
  <h1 class="underlined font-large">Инвестиционные <em class="handwritten"  style="font-size: 30px;">услуги</em></h1>

  <p>
    Исходя из нашего многолетнего опыта и досконального изучения рынка США, <span style="font-size: 1.5em;">мы готовы предложить Вам собственные
    инвестиционные проекты с высокой рентабельностью доходов и минимальными сроками окупаемости.</span>
  </p>

  <p>
    Все проекты запускаются и управляются специалистами нашей компании, что гарантирует минимальные финансовые риски
    для инвестора.
  </p>

  <p>
    <span style="font-size: 1.5em;">Суть предложения:</span> стратегическое партнерство – инвестирование в различные проекты, подбор инвестиционных
    проектов по критериям, заданным потенциальным инвестором.
  </p>

  <p>
    <span style="font-size: 1.5em;">Форма предложения:</span> краткосрочное, среднесрочное и долгосрочное вложение денег с возвратом средств и
    увеличением первоначального капитала при сохранении заданного уровня риска.
  </p>

  <p>
    Спектр предлагаемых инвестиционных проектов компании достаточно широк: от инвестиций в медицинские проекты,
    IT-проекты, банковский сектор, коммерческую недвижимость до инвестиций в коммерческую разработку природных
    ресурсов.
    Каждый наш проект уникален: со своей историей, легендой и концепцией. Наши специалисты готовы помочь Вам в выборе
    подходящего проекта именно для Ваших нужд, просто свяжитесь с нами, и мы ответим на все интересующие Вас в этой
    области вопросы.
  </p>

  <div>
    <a class="image-popup-vertical-fit" href="<%= asset_path('extra/17_1_1.jpg') %>">
      <%= image_tag 'extra/17_1_1.jpg', :width => 140, :height => 100, :style => 'margin-left: 5px;' %>
    </a>
    <a class="image-popup-vertical-fit" href="<%= asset_path('extra/17_1_2.jpg') %>">
      <%= image_tag 'extra/17_1_2.jpg', :width => 140, :height => 100 %>
    </a>
    <a class="image-popup-vertical-fit" href="<%= asset_path('extra/17_1_3.jpg') %>">
      <%= image_tag 'extra/17_1_3.jpg', :width => 140, :height => 100 %>
    </a>
  </div>

  <p>
    C некоторыми проектами Вы можете
    ознакомиться <%= link_to 'здесь', 'http://americaneb5centers.com/projects/' %>.
  </p>

</div>