<% content_for :banner do %>
    <%= link_to immigration_index_path do %>
        <div style="height: 200px">
          <%= image_tag 'banner_immigration.jpg', :class => 'banner' %>
          <p class="banner">
            <i>
              Бизнес иммиграция, инвестиционные проекты, разработка финансовой стратегии, управление и развитие бизнеса,
              привлечение кредита и финансирование в США – все это возможно с нашей бизнес-группой компаний
            </i>
          </p>
        </div>
    <% end %>
<% end %>
<div style="text-align: justify;">
  <h1 class="underlined font-large">Иммиграция <em class=" handwritten" style="font-size: 30px;">в США</em></h1>

  <p><span style="font-size: 1.5em;">Первым шагом на пути к иммиграции в США является получение Green Card (Гринкарта).</span></p>

  <p>
    Согласно Американскому иммиграционному законодательству, существует несколько вариантов получения Green Card для
    эмиграции в США на постоянное проживание, таких как: через получение виз EB-5, L-1A, а так же виз: ЕВ-1, ЕВ-2,
    ЕВ-3, ЕВ-4, ряда виз для людей с исключительными возможностями и через получение политического убежища, или
    заключения брака с гражданином США.
  </p>

  <div>
    <a class="image-popup-vertical-fit" href="<%= asset_path('extra/15_1_1.jpg') %>">
      <%= image_tag 'extra/15_1_1.jpg', :width => 180, :height => 120, :style => 'margin-left: 130px;' %>
    </a>
  </div>

  <p>
    Наиболее вероятным способом иммиграции в США для большинства бизнесменов является получение Green Card через визу
    инвестора EB-5 или рабочую визу L-1A.
  </p>

  <h3>EB-5 - виза инвестора</h3>

  <p>
    По существующим правилам, получить визу EB-5, можно, выполнив одно из следующих условий:
  </p>
  <ol>
    <li>Инвестировать один миллион долларов США в любом штате Америки и нанять, по крайней мере, 10 штатных
      сотрудников.
    </li>
    <li>Инвестировать 500 тысяч долларов США, если бизнес расположен в областях с очень высоким уровнем безработицы и
      нанять не менее 10 штатных сотрудников.
    </li>
    <li>Инвестировать 500 тысяч долларов США в <b>"Региональный центр"</b> или через <b>"прямые инвестиции"</b>,
      прямо или косвенно создать 10 рабочих мест.</li>
  </ol>

  <p>
    Мы - компания <%= link_to('American EB-5 Centers', 'http://americaneb5centers.com/') %>, входящая в бизнес-группу
    компаний (в группу также входят компании
      <%= link_to 'Credit Services of America', 'http://www.creditservicesamerica.com' %>,
      <%= link_to 'Data Business Systems', 'http://dbsmanage.com' %>,
      <%= link_to 'US BABY TIME', 'http://usbabytime.com' %>
    и многие другие) являемся
    одним из официально признанных иммиграционной службой США "Региональных центров".
  </p>

  <p>
    <span style="font-size: 1.5em;">Региональные центры</span> - это юридические лица, признанные иммиграционной службой как организации координирующие
    инвестиции, сделанные по программе EB-5 в определенном географическом регионе. В одном регионе может быть несколько
    Региональных центов, признанных иммиграционной службой. Со списком Региональных центов, признанных иммиграционной
    службой США, можно ознакомиться <%= link_to 'здесь', 'http://www.uscis.gov/working-united-states/permanent-workers/employment-based-immigration-fifth-preference-eb-5/immigrant-investor-regional-centers'%>.
  </p>

  <p>
    В случае выбора Вами инвестирования средств через наш Региональный центр, Вы не должны будете управлять проектом
    сами. В результате инвестиций за два года должно быть создано или сохранено минимум 10 рабочих мест с полной ставкой
    оплаты. Мы обеспечим Вам создание требуемых рабочих мест и возьмем на себя все остальные заботы, такие как уплата
    налогов и полное управление проектом.
  </p>

  <p>
    Важно отметить, что инвестиции через <b>Региональные центры</b> это лишь альтернатива <b>прямым инвестициям</b>. <b>Прямые
    инвестиции</b> - это самый короткий способ получения Green Card. Инвестиции, в данном случае, должны быть сделаны в новое
    коммерческое предприятие, которое должно быть создано либо с нуля, или куплено у бывших владельцев и значительно
    расширено. Критерием «значительного расширения» считается рост минимум 40 процентов и создание 10 новых рабочих
    мест, удовлетворяющих требованиям законодательства. Мы полностью возьмем на себя управление бизнесом инвестора, если
    Вы выберете данный способ инвестиций.
  </p>

  <p>
    Преимущества инвестиций через группу компаний <%= link_to 'American EB-5 Centers', 'http://americaneb5centers.com' %>:
  </p>
  <ol>
    <li>Краткосрочность процесса.</li>
    <li>Гибкость - мы предлагаем как <b>прямые инвестиции</b>, так и инвестиции через аккредитованный <b>Региональный центр</b>,
      которым мы и являемся.
    </li>
    <li>Green Card Инвестору. Полный возврат инвестиций и получение устойчивой прибыли.</li>
    <li>Дети получают все привилегии постоянных легальных жителей: они могут посещать колледжи и университеты как
      постоянные жители, а не как иностранные студенты (более низкая плата за обучение).
    </li>
    <li>Инвестор и его семья получают все привилегии постоянных жителей США: право на работу и карточку
      социального страхования, водительские права, право свободного перемещения.
    </li>
    <li>После 5-ти лет - право получения гражданства США.</li>
  </ol>
  <p>
    При инвестировании в <b>"Региональный центр"</b> или через <b>"прямые инвестиции"</b>, инвестор должен доказать,
    что источник финансирования для инвестиций законен. Инвестиционные деньги могут быть прибылью компании, получены с продажи
    недвижимого имущества, с продажи акций, зарплатой и даже деньгами в подарок от родителей или родственников.
    Необходимо будет предоставить налоговые документы (справку об уплате подоходного налога и т.д.), чтобы доказать
    легальность происхождения денег.
  </p>

  <p>
    Любой из двух вариантов требует хорошо спланированных действий, анализа бизнес-плана, проверки компании в США,
    рассматриваемой для покупки. В случае, если у Вас возникли вопросы,
    <%= link_to 'свяжитесь с нами', 'http://americaneb5centers.com/contact-us/index.html' %>.
  </p>

  <div>
    <a class="image-popup-vertical-fit" href="<%= asset_path('extra/15_2_1.jpg') %>">
      <%= image_tag 'extra/15_2_1.jpg', :width => 140, :height => 160, :style => 'margin-left: 70px;' %>
    </a>
    <a class="image-popup-vertical-fit" href="<%= asset_path('extra/15_2_2.jpg') %>">
      <%= image_tag 'extra/15_2_2.jpg', :width => 160, :height => 160, :style => 'margin-left: 15px;' %>
    </a>
  </div>

  <h3>L-1А - рабочая виза</h3>

  <p>
    Если у Вас есть свой собственный бизнес, своя компания, или Вы сотрудник высшего звена компании в которой
    работаете, то одним из вариантом получения Green Card, может стать получение рабочей визы L-1А. Получение Green Card
    через рабочую визу L-1A является на сегодня доступным вариантом иммиграции в США, хотя иммиграция через визу
    инвестора EB5 является наиболее предпочтительной с точки зрения иммиграционных адвокатов.
  </p>

  <p>
    Имея рабочую визу L-1A, можно подавать документы на Green Card уже через 1 год после получения этой визы, при
    условии выполнения в течение этого времени определенных условий.
  </p>

  <p>
    Общий принцип: необходимо создать активный инвестиционный бизнес (открытый в США, как дочерняя компания российской
    компании, собственником или руководителем, которой Вы являетесь) с привлечением местной рабочей силы, с официальной
    уплатой налогов за работников, в кол-ве не менее 5 человек и объемом инвестиций от 500 000 долларов США.
  </p>

  <p>
    Данные цифры являются проверенной статистикой из многолетнего опыта работы иммиграционных адвокатов, позволяющие
    получить практически 100% результат. Процесс проходит в несколько этапов:
  </p>
  <ol>
    <li>Открытие компании в США.</li>
    <li>Найм на работу 3-х сотрудников.</li>
    <li>Вложение 50% инвестиций от общей суммы.</li>
    <li>Подготовка пакета документов для подачи на визу L-1A.</li>
    <li>Подача документы на получение визы L-1A через иммиграционного адвоката и получение этой визы (автоматически визы
      получают и все члены Вашей семьи).
    </li>
  </ol>
  <p>
    После получения визы L-1A, которая позволяет официально работать в США, Вы продолжаете вести бизнес своей компании
    в США и, как правило, этот бизнес доходный. Статус визы L-1A позволяет Вам и членам Вашей семьи (супруге/супругу и
    всем Вашим детям до 21 года) находиться безвыездно в США в течение всего периода действия визы.
  </p>

  <p>
    Через год, с момента первой инвестиции, через иммиграционного адвоката можно подавать документы на Green Card
    (документы подаются на Вас и членов Вашей семьи - супругу/супруга и всех Ваших детей до 21 года). К этому времени, в
    Вашей компании должно работать не менее 5 человек.
  </p>

  <p>
    <i><b>При Ваших финансовых возможностях инвестировать суммы от 500 000 до 10 000 000 долларов США, мы готовы предложить Вам
    бизнес-проекты со стабильно высокой доходностью, вне зависимости от желания получить Green Card.</b></i>
  </p>

</div>