<div style="text-align: justify">
  <h1>III Раздел: Иммиграционные и инвестиционные услуги</h1>

  <p><i>Бизнес иммиграция, инвестиционные проекты, разработка финансовой стратегии, управление и развитие бизнеса,
    привлечение кредита и финансирование в США – все это возможно с нашей бизнес-группой компаний (надпись в основном
    фото
    блоке)</i></p>

  <h3 class="underlined">Иммиграционные и инвестиционные услуги</h3>

  <p>
    <b>Мы профессионально оказывает любые услуги в решении юридических и иммиграционных вопросов.</b>
    Мы - ведущая бизнес-группа компаний, специализирующаяся на реализации инициатив, которые направлены на
    предоставлении
    юридических и иммиграционых
    услуг, осуществление инвестиционных проектов, обеспечение устойчивого развития различных бизнесов и осуществление
    инвестиционных проектов, а также на организацию и сопровождению родов в США. В группу входят компании
    <b>
      <%= link_to('Credit Services of America', 'http://www.creditservicesamerica.com') %>,
      <%= link_to('American EB-5 Centers', 'http://www.creditservicesamerica.com') %>,
      <%= link_to('Data Business Systems', 'http://www.google.com') %>,
      <%= link_to('US BABY TIME', 'http://usbabytime.com') %> и многие другие.
    </b> Мы предоставляем консультационные услуги, оказываем содействие в
    организации иммиграционного процесса, помогаем в создании компании в США, с организацией и управлением бизнесом
    созданной компании. В течение всего процесса по получению Green Card, мы будем рядом с Вами. Адвокаты, с которыми мы
    работаем, обладают большим опытом работы с клиентами из разных стран, свободно владеют несколькими языками, имеют
    дипломы ведущих университетов США, таких как Гарворд и Берклей.
    Кроме того мы предлагаем управленческие решения, занимаемся привлечением финансирования в инвестиционные проекты,
    управлением и реструктуризацией действующих бизнесов, а также разработкой и управлением инвестиционными проектами.
    Проект может находиться на любой стадии развития – от инновационной идеи до расширения уже построенного бизнеса.
  </p>

  <p style="text-decoration-line: underline;">
    Мы предлагаем вам следующие услуги, и если Вас интересует какой-либо другой вопрос – вы всегда
    можете обратиться к нам 24/7 <%= link_to('Контакты', page_contact_us_path) %>:
  </p>

  <ul>
    <li><%= link_to 'Изменение статуса в США', immigration_change_usa_status_path %></li>
    <li><%= link_to 'Иммиграции в США (EB5 и другие визы)', immigration_immigration_path %></li>
    <li><%= link_to 'Организация Вашего бизнеса и работы в США', immigration_bussines_and_work_path %></li>
    <li><%= link_to 'Инвестиционные услуги', immigration_immigration_service_path %></li>
    <li><%= link_to 'Оперативные консультации адвокатов', immigration_lawyer_consulting_path %></li>
  </ul>
</div>




