<% content_for :banner do %>
    <%= link_to immigration_index_path do %>
        <%= image_tag 'banner_immigration.jpg', :class => 'banner' %>
    <% end %>
<% end %>
<div style="text-align: justify;">
  <h1 class="underlined font-large">Консультации <em class="handwritten" style="font-size: 30px;">адвокатов</em></h1>

  <p>
    <span style="font-size: 1.5em;">Оперативные консультации адвокатов помогут Вам в принятии верного решения.</span>
    Услуги адвоката в США крайне востребованны в силу специфики Американского законодательства. Планируете ли
    Вы <%= link_to 'открыть свой бизнес в США', immigration_bussines_and_work_path %>, купить недвижимость,
    <%= link_to 'инвестировать деньги в США', immigration_immigration_service_path %>,
    <%= link_to 'поменять свой статус пребывания в стране', immigration_change_usa_status_path %>,
    или <%= link_to 'иммигрировать', immigration_immigration_path %> в
    США - наши <span style="font-size: 1.5em;">адвокаты во Флориде</span> окажут эффективную и
    своевременную правовую помощь и поддержку в решении различных вопросов.
  </p>

  <p>
    Наша команда опытных юристов и адвокатов поможет Вам понять и правильно оценить Вашу конкретную ситуацию, а также
    принять верное решение по поводу того, как действовать дальше!
  </p>

  <p>
    Мы поможем Вам найти решения наиболее сложных правовых вопросов и защитить свои интересы в США, гарантировав при
    этом полную конфиденциальность сведений.
    Наши специалисты готовы ответить на все Ваши вопросы, связанные с оказанием юридической помощи 
    <span style="font-size: 1.5em;">адвокатами и юристами в США</span>. В случае, если у Вас возникли вопросы,
    <%= link_to 'свяжитесь с нами', 'http://americaneb5centers.com/contact-us/index.html' %>.
  </p>

</div>