<div style="text-align: justify;">
  <h1>Оперативные консультации адвокатов помогут Вам в принятии верного решения</h1>

  <p>
    <b>Услуги адвоката в США</b> крайне востребованны в силу специфичности американского законодательства. Планируете ли
    Вы <%= link_to 'открыть свой бизнес в США', immigration_bussines_and_work_path %>, купить недвижимость,
    <%= link_to 'инвестировать деньги в США', immigration_immigration_service_path %>,
    <%= link_to 'поменять свой статус пребывания в стране', immigration_change_usa_status_path %>,
    или <%= link_to 'иммигрировать', immigration_immigration_path %> в
    США - наши <b><%= link_to 'адвокаты во Флориде', immigration_lawyer_consulting_path %></b> окажут эффективную и
    своевременную правовую помощь и поддержку в решении различных вопросов.
  </p>

  <p>
    Наша команда опытных юристов и адвокатов поможет Вам понять и правильно оценить вашу конкретную ситуацию, а также
    принять верное решение по поводу того, как действовать дальше!
  </p>

  <p>
    Мы поможем Вам найти решения наиболее сложных правовых вопросов и защитить свои интересы в США, гарантировав при
    этом полную конфиденциальность сведений.
  </p>

  <p>
    Наши специалисты готовы ответить на все Ваши вопросы, связанные с оказанием юридической помощи <b>адвокатами и
    юристами в США.</b>
  </p>

</div>