<% content_for :banner do %>
    <%= link_to organize_index_path do %>
        <%= image_tag 'banner_organization.jpg', :class => 'banner' %>
    <% end %>
<% end %>
<div style="text-align: justify">
  <h1 class="underlined font-large" style="text-align: left">Квалифицированная помощь при оформлении
    <em class="handwritten" style="font-size: 30px;">Американской визы, страховании, бронировании билетов</em></h1>


  <p>
    <span style="font-size: 1.5em">Если Вы собираетесь в США, то первостепенной Вашей задачей станет получение Американской
    визы.</span>
    Это довольно хлопотное дело, особенно если Вы собрались делать это впервые. Если Вы не знаете, где оформляют визу и
    как оформить визу правильно, а времени до поездки осталось не много, следует обратиться к профессионалам US BABY
    TIME. Получить Американскую визу в Москве, оформить страховку, подобрать удобные варианты перелета и решить
    остальные формальные вопросы можно легко в нашем партнерском
    агентстве. <%= link_to 'Профессиональный коллектив', page_about_us_path %> уже ни один год оказывает помощь в
    решении даже, на первый взгляд, самых сложных вопросов.</p>

  <h3>Наши специалисты в России могут:</h3>

  <ul style="text-align: left">
    <li>Проконсультировать Вас по всем вопросам оформления визы в США. А также предложить список документов, образцы
      справок и писем, проинформировать о сроках и возможностях оформления визы в ускоренные сроки
    </li>
    <li>Помочь заполнить электронную анкету (онлайн)</li>
    <li>Подготовить документы для подачи в Визовый центр США</li>
    <li>Подготовить к собеседованию</li>
    <li>Осуществить запись на подачу документов в Посольства</li>
  </ul>
  <p>Консультанты визового отдела отслеживают статус визы и своевременно информируют Клиента о готовности визы.</p>

  <p>Наш курьерский отдел оперативно доставляет полученные паспорта в офисы Клиентов.</p>

  <p>Большинство людей получают отказ в Американской визе из-за того, что они сделали простую ошибку при заполнении, в
    режиме онлайн, заявления по форме DS-160, либо при прохождении интервью! У Вас может быть хорошая репутация и
    визовая история, стабильная работа, капитал, супруг(а) и дети в родной стране, но несмотря на все
    это, малейшая ошибка может привести к отказу в получении Американской визы.</p>

  <p>В компании US BABY TIME мы обеспечим, чтобы заявление было заполнено правильно, объясним Вам методику проведения
    интервью, чтобы Вы имели максимально высокие шансы на его успешное прохождение. Мы устраним все тревожные сигналы и
    сведем к минимуму все проблемные вопросы, которые могут возникнуть у консульского работника, ответственного за
    выдачу визы.</p>

  <p>
    Более подробнее о получении визы США и о наших рекомендациях по оформлению визы Вы можете узнать
    <%= link_to 'здесь', '/US_Visa.pdf' %>.
  </p>

  <p>
    Более подробнее о прохождении границы США по прилету и о наших рекомендациях Вы можете узнать
    <%= link_to 'здесь', '/Border.pdf' %>.
  </p>
</div>