<% content_for :banner do %>
    <%= link_to organize_index_path do %>
        <div style="height: 200px">
          <%= image_tag 'banner_organization.jpg', :class => 'banner' %>
          <p class="banner" style="padding-top: 18px; height: 26px;">
            <i>
              Иногда мечты сбываются,…если очень захотеть
            </i>
          </p>
        </div>
    <% end %>
<% end %>
<div style="text-align: justify;">
  <h1 class="underlined font-large">Подбор курсов <em class="handwritten" style="font-size: 30px;">Английского языка</em></h1>

  <p><span style="font-size: 1.5em">Представители компании US BABY TIME найдут лучший вариант для Вашего языкового
    обучения во Флориде, на период пребывания, и позаботятся обо всех сопутствующих услугах.</span></p>

  <p>
    Мы предлагаем нашим клиентам не просто выучить Английский язык, но и сделать это в максимально комфортном и
    приятном для жизни месте. Штат Флорида идеально для этого подходит. Десятки тысяч людей со всего мира приезжают в
    этот штат, чтобы отдохнуть, родить ребенка и заодно выучить иностранный язык. Не случайно здесь так много языковых
    школ. Компания US BABY TIME работает лишь с теми школами, которые имеют все необходимые аккредитации и хорошую
    репутацию.
  </p>

  <div>
    <a class="image-popup-vertical-fit" href="<%= asset_path('extra/10_1_1.jpg') %>">
      <%= image_tag 'extra/10_1_1.jpg', :width => '140px', :height => '100px', :style => 'margin-left: 5px;' %>
    </a>
    <a class="image-popup-vertical-fit" href="<%= asset_path('extra/10_1_2.jpg') %>">
      <%= image_tag 'extra/10_1_2.jpg', :width => '140px', :height => '100px' %>
    </a>
    <a class="image-popup-vertical-fit" href="<%= asset_path('extra/10_1_3.jpg') %>">
      <%= image_tag 'extra/10_1_3.jpg', :width => '140px', :height => '100px' %>
    </a>
  </div>

  <%= link_to 'Список некоторых языковых школ Флориды и их краткая характеристика', organize_english_courses_list_path %><br><br>

</div>