<% content_for :banner do %>
    <%= link_to organize_index_path do %>
        <div style="height: 200px">
          <%= image_tag 'banner_organization.jpg', :class => 'banner' %>
          <p class="banner" style="padding-top: 18px; height: 26px;">
            <i>
              иногда мечты сбываются,…если очень захотеть
            </i>
          </p>
        </div>
    <% end %>
<% end %>
<div style="text-align: justify;">
  <h1 class="underlined font-large"  style="text-align: left;">Экскурсии с профессиональными
    <em class=" handwritten" style="font-size: 29px;">гидами</em></h1>

  <p>
    <span style="font-size: 1.5em">Самый южный штат США Флорида является прекрасным вариантом для посещения в любое
    время года,</span> ведь и в летний, и в зимний период он буквально утопает в солнечном свете и тепле. Во многом
    именно это стало причиной высокой популярности солнечного штата среди туристов всех стран мира, включая и Россию.
    Помимо благоприятного климата здесь есть и немало других особенностей, открывающих массу возможностей для
    развлечений и познавательных экскурсий.
  </p>

  <p>
    Компания US BABY TIME разработала индивидуальные экскурсионные программы, благодаря которым Ваш досуг во Флориде
    будет максимально интересным и запоминающимся. Обзорные экскурсии, пляжный отдых, круизы, прогулки на яхте и рыбалка
    – эти и другие наши предложения позволят Вам увидеть самый солнечный штат США во всем его великолепии.
  </p>

  <div>
    <%= image_tag 'extra/5_1_1.jpg', :width => 300, :height => 150, :style => 'margin-left: 60px;' %>
  </div>

  <h3>Мы предлагаем Вам:</h3>
  <ul style="text-align: left;">
    <li><%= link_to 'Обзорные экскурсии во Флориде с русскоговорящими гидами', organize_excursion_path %></li>
    <li><%= link_to 'Рыбалку, дайвинг, прогулки на яхте и другие развлечения для любителей активного отдыха', organize_excursion_path %></li>
    <li><%= link_to 'Трансферы между городами', organize_transfer_path %></li>
    <li>Встречи и проводы в Майами или Орландо</li>
  </ul>

  <div>
    <%= image_tag 'extra/5_2_1.jpg', :width => 360, :height => 130, :style => 'margin-left: 30px;' %>
  </div>

  <p>
    Мы можем организовать Ваше путешествие и досуг во всей
    <b>Флориде (Майами-Ки Вест-Нэйплс-Сент Питерсбург-Тампа-Орландо-Сан Августин-Дайтона Бич-Мыс Канаверал-Палм Бич
      и многие другие направления)</b>.
  </p>

  <div>
    <%= image_tag 'extra/5_3_1.jpg', :width => 120, :height => 80, :style => 'margin-left: 20px;' %>
    <%= image_tag 'extra/5_3_2.jpg', :width => 120, :height => 80, :style => 'margin-left: 14px;' %>
    <%= image_tag 'extra/5_3_3.jpg', :width => 120, :height => 80, :style => 'margin-left: 14px;' %>
  </div>

  <p>
    <%= link_to 'Немного подробнее об экскурсиях во Флориде', organize_excursion_list_path %>
  </p>

  <p>
    Путеводитель по Майами Вы можете загрузить
    <%= link_to 'здесь', '/Miami_travel_guide.pdf' %>.
  </p>

</div>