<div style="text-align: justify">
  <h1 class="underlined">I Раздел: Организационные услуги</h1>
  <br><br>
  <h3 class="underlined">Организационные услуги</h3>

  <p>Если вы мечтаете о новой этапе жизни вдали от суеты и повседневности, то ваши мечты сбудутся в солнечной Флориде.
    Красивейшая природа послужит отличными декорациями к вашему новому опыту, а мы возьмем на себя все организационные
    хлопоты. Просто расслабьтесь и наслаждайтесь друг другом, ведь жизнь не такая уж длинная, чтобы растрачивать ее на
    беспокойство и мелочи, связанные с формальными вопросами, когда это может сделать команда профессионалов US BABY
    TIME. Посетите раздел <%= link_to 'О нас', page_about_us_path %>, чтобы больше узнать о нашей компании</p>

  <p>Справа на уровне названия Организационные услуги необходимо добавить как на главной странице Спланируйте свой визит
    (на всех страницах в правом уголу одинаковое поле)</p>

  <p style="text-decoration-line: underline;">
    Мы предлагаем вам следующие услуги, и если Вас интересует какой-либо другой вопрос – вы всегда
    можете обратиться к нам 24/7 <%= link_to('Контакты', page_contact_us_path) %>:
  </p>

  <ul>
    <li><%= link_to 'Квалифицированная помощь при оформлении американской визы, страхование, бронировании билетов', organize_ticket_reservation_path %></li>
    <li><%= link_to 'Решение вопросов по подбору, аренде и покупке жилья и послеарендное/продажное сопровождение', organize_transport_rent_path %></li>
    <li><%= link_to 'Помощь в аренде на выгодных условиях транспортного средства', organize_transport_rent_path %></li>
    <li><%= link_to 'Предоставление транспортных услуг (трансфер, сопровождение)', organize_transfer_path %></li>
  </ul>

  <h3 class="underlined">Сопутствующие услуги</h3>
  <ul>
    <li><%= link_to 'Экскурсии с профессиональными гидами, в том числе рыбалка на частной яхте с русскоязычным капитаном', organize_excursion_path %></li>
    <li><%= link_to 'Профессиональный фотограф', organize_photographer_path %></li>
    <li><%= link_to 'Шоппинг с дизайнером, а также посещение специализированных детских магазинов', organize_shopping_path %></li>
    <li><%= link_to 'Сопровождение в салоны красоты и подбор женских услуг', organize_women_service_path %></li>
    <li><%= link_to 'Помощь в бронировании (билеты) на различные мероприятия', organize_actual_help_path %></li>
    <li><%= link_to 'Подбор курсов английского языка', organize_english_courses_path %></li>
    <li><%= link_to 'Подбор других курсов для родителей', organize_parent_courses_path %></li>
    <li><%= link_to 'Подбор детских садов, школ и различных детских кружков. Предоставление необходимой консультации;', organize_kid_garden_path %></li>
    <li><%= link_to 'Предоставление квалифицированного переводчика', organize_translation_service_path %></li>
  </ul>
  <h3 class="underlined">С чего начать/Getting started</h3>

  <p>
    <%= link_to 'Свяжитесь с нами', page_contact_us_path %>. US BABY TIME - компания для обеспечения качества Вашей
    жизни во Флориде.
    Мы прекрасно понимаем, что планирование поездки – это дополнительная психологическая и эмоциональная нагрузка. Мы
    готовы взять на себя все организационные хлопоты, что бы Вы чувствовали себя в окружении комфорта и абсолютной
    безопасности еще до начала поездки.
  </p>

  <%= render 'shared/why_we' %>
  <%= render 'shared/recommened_us' %>
</div>