<div style="text-align: justify">
  <h1 class="underlined handwritten" style="font-size: 30px;">Организационные услуги</h1>

  <p> <span style="font-size: 1.5em;">Если Вы мечтаете о новом этапе жизни вдали от суеты и повседневности, то Ваши
    мечты сбудутся в солнечной Флориде.</span>
    Красивейшая природа послужит отличными декорациями к Вашему новому опыту, а мы возьмем на себя все организационные
    хлопоты. Просто расслабьтесь и наслаждайтесь друг другом, ведь жизнь не такая уж длинная, чтобы растрачивать ее на
    беспокойство и мелочи, связанные с формальными вопросами, когда это может сделать команда профессионалов US BABY
    TIME. Посетите раздел <%= link_to 'О нас', page_about_us_path %>, чтобы больше узнать о нашей компании
  </p>

  <h3>
    Мы предлагаем Вам следующие услуги, и если Вас интересует какой-либо другой вопрос – вы всегда можете
    <%= link_to('обратиться к нам', page_contact_us_path) %> 24/7:
  </h3>

  <ul style="text-align: left">
    <li><%= link_to 'Квалифицированная помощь при оформлении американской визы, страховании, бронировании билетов', organize_actual_help_path %></li>
    <li><%= link_to 'Решение вопросов по подбору, аренде и покупке жилья и послеарендное/продажное сопровождение', organize_transport_rent_path %></li>
    <li><%= link_to 'Помощь в аренде на выгодных условиях транспортного средства', organize_transport_rent_path %></li>
    <li><%= link_to 'Предоставление транспортных услуг', organize_transfer_path %></li>
  </ul>

  <h3>Сопутствующие услуги</h3>
  <ul style="text-align: left">
    <li><%= link_to 'Экскурсии с профессиональными гидами, в том числе рыбалка на частной яхте с русскоязычным капитаном', organize_excursion_path %></li>
    <li><%= link_to 'Профессиональный фотограф', organize_photographer_path %></li>
    <li><%= link_to 'Шоппинг с дизайнером, а также посещение специализированных детских магазинов', organize_shopping_path %></li>
    <li><%= link_to 'Сопровождение в салоны красоты и подбор женских услуг', organize_women_service_path %></li>
    <li><%= link_to 'Помощь в бронировании билетов на различные мероприятия', organize_actual_help_path %></li>
    <li><%= link_to 'Подбор курсов английского языка', organize_english_courses_path %></li>
    <li><%= link_to 'Подбор других курсов для родителей', organize_parent_courses_path %></li>
    <li><%= link_to 'Подбор детских садов, школ и различных детских кружков. Предоставление необходимой консультации', organize_kid_garden_path %></li>
    <li><%= link_to 'Предоставление квалифицированного переводчика', organize_translation_service_path %></li>
  </ul>

  <h3>С чего начать</h3>
  <p>
    <%= link_to 'Свяжитесь с нами', page_contact_us_path %>. US BABY TIME - компания для обеспечения качества Вашей
    жизни во Флориде.
    Мы прекрасно понимаем, что планирование поездки – это дополнительная психологическая и эмоциональная нагрузка. Мы
    готовы взять на себя все организационные хлопоты, что бы Вы чувствовали себя в окружении комфорта и абсолютной
    безопасности еще до начала поездки.
  </p>
</div>