<div style="text-align: justify">
  <h1 class="underlined">Подбор детских садов, школ и различных детских кружков. Предоставление необходимой
    консультации</h1>

  <p>Для будущих мам, кто собирается на роды во Флориду в сопровождении детей, представители компании US BABY TIME могут
    предложить огромное количество возможностей по организации их досуга и обучения. Чтобы избавить вас от лишних забот,
    мы поможем вам найти подходящий детский сад, специализированные кружки или школу для ваших детей, в соответствии с
    вашими требованиями и нашими рекомендациями.</p>

  <h3 class="underlined">Список некоторых детских центров и образовательных центров Флориды, расположенных и их краткая
    характеристика:</h3>

  <p>Список рекомендуем детских садов, школ и образовательных центров</p>

  <p>Некоторые детские центры в Майами, которые мы рекомендуем для вас и ваших детей:</p>

  <b>Artec Academy</b>

  <p>
    В детском саду Artec Academy общаются на русском языке, а для детей старше 3-х лет проводятся уроки английского
    языка каждый день по два часа. При детском садике работает также субботняя школа для деток от 2-х до 6-ти лет. В
    этот детский сад мамы с удовольствием отдают старших детей, что позволяет уделить время семье, малышу и быстрее
    восстановить силы после родов в Майами.
  </p>
  600 E. Hallandale Beach Blvd., Unit 779<br>
  Hallandale, FL 33009<br>
  Тел.: (954) 455-0440<br>
  Веб-сайт: <%= link_to 'http://www.artecacademy.com' %><br><br>


  <p><b>Sunny Isles Kids Club</b> – лицензированный департаментом Флориды детский сад для детей от 1 до 5 лет. Здесь
    есть
    русскоязычный воспитатель. Занятия проводятся на английском языке. Вы можете выбрать из нескольких вариантов
    обучения:
    полный день – с 8-00 до 18-00, включает завтрак, ланч и полдник, а так же тихий час; с 8-00 до 13-00 – включает
    завтрак и ланч; с 13-00 до 18-00 – включает ланч и полдник. Группы состоят из 8-12 детей и 2 воспитателей.
  </p>
  17395 North bay Road Suite<br>
  102 Sunny Isles Beach Fl 33160<br>
  Тел.:(305) 933-3888<br>
  Веб-сайт: <%= link_to 'http://www.sunnyislesdaycare.com' %><br><br>

  <p><b>Nana’s Pre-School Learning Center</b> – небольшой, хорошо зарекомендовавший себя детский сад с различными
    программами и
    мероприятиями, направленными на развитие детей в безопасной и дружелюбной атмосфере с хорошим соотношением
    количества
    детей и воспитателей.
  </p>
  1010 S Federal Hwy , Hallandale Beach , FL 33009 <br>
  Тел.: (954) 456-6262 <br>
  Веб-сайт: <%= link_to 'www.nanaspreschool.com/' %> <br><br>

  <p><b>Aventura Learning Center</b> – образовательный центр для детей дошкольного возраста, где в теплой безопасной
    атмосфере
    детям предоставляются различные возможности для самореализации.
  </p>
  2221 NE 171st St.<br>
  North Miami Beach, FL 33160<br>
  Тел.: (305) 940-0408<br>
  Веб-сайт: <%= link_to 'http://www.aventuralearningcenter.com/' %><br><br>

  <p><b>KLA School Aventurа</b> – детский сад, программа которого основана на теории итальянского философа второй
    половины
    двадцатого века Лориса Малагуззи из провинции Реджио. Школа имеет 8 филиалов во Флориде и несколько в других штатах.
  </p>
  600 SW 1st Avenue Brickell, FL 33130<br>
  Тел.: (305) 377 0391<br>
  Веб-сайт: <%= link_to 'http://www.klaschools.com/' %><br><br>

  <p>
    <b>Aventura Montessori School</b> – детский сад для детей с 2,5 до 6 лет с отличным соотношением детей и
    воспитателей. В
    садике работают квалифицированные учителя и ассистенты.
  </p>
  123 SE 1st Ave, Hallandale Beach, FL 33009<br>
  Тел.:(954) 456-5609<br>
  Веб-сайт: <%= link_to 'www.aventuramontessorischool.com/‎' %><br><br>

  <p><b>Tauber Academy</b>– еврейский детский сад при Синагоге с оптимальным соотношением детей и воспитателей.
    Отличается очень
    сильной обучающей программой. Помимо ежемесячной оплаты садик берет регистрационный взнос в размере 1300$.</p>
  20400 NE 30th Avenue, Aventura, Florida 33180<br>
  Тел.:(305) 931-0010<br>
  Веб-сайт: <%= link_to 'http://www.tauberacademy.com/' %><br><br>

  <p><b>SmartKids</b>
    Для дошкольников во Флориде открыта школа SmartKids (Умные дети) с хорошей образовательной программой.</p>
  7044 Collins Ave, Sunny Isles Beach, FL 33160<br>
  Тел.:(305) 390-8261<br>
  Веб-сайт: <%= link_to 'http://www.smartkidsmiami.com' %><br><br>

  <p><b>Kirova Ballet Academy of Miami</b>
    В Майами работают несколько балетных школ для детей, среди них Kirova Ballet Academy of Miami.</p>
  955 E. Hallandale Beach Blvd., Hallandale Beach, FL 33009<br>
  Тел.: (305) 720-2484<br>
  Веб-сайт: <%= link_to 'http://www.kirovaballet.com' %><br><br>

  <p><b>Bass buddies</b>
    Дети от 4 до 6 лет могут посещать занятия в художественном классе Bass buddies, организованный музеем искусств
    «BASS»
    в Майами.
  </p>
  2100 collins avenue<br>
  miami beach, florida 33139<br>
  Тел.: (305) 673-7530<br>
  Веб-сайт: <%= link_to 'http://www.bassmuseum.org' %><br><br>

  <p>Ваш малыш не должен каждый день посещать детские центры, а может только тогда, когда вам это необходимо. Например,
    в
    то время, когда вы посещаете доктора с нашими специалистами. Даже нерегулярные занятия в детских центрах помогут
    вашим
    детям быстрее освоиться в новой для них стране и всесторонне развиваться.</p>

  <p><b>Гармоничное развитие детей более старшего возраста в частных школах Флориды</b></p>

  <p>Школы в США не ограничивают своих воспитанников лишь интеллектуальным развитием. Немалый выбор спортивных секций
    гарантирует сбалансированные физические тренировки в групповых (футбол, волейбол, чирлидинг) и в индивидуальных
    видах
    спорта (верховая езда, плавание). Особое место в расписании отведено творчеству: изобразительное искусство, музыка,
    фотография, танцы, драма и т.д. Учеба в США способствует появлению беглой и грамотной английской речи, так как это
    официальный язык общения в школе. К концу обучения дети владеют английским так же свободно, как и родным языком.
    Отличное знание английского вкупе с аттестатом о среднем образовании США позволит ребенку поступить в любой
    европейский или американский ВУЗ. Обучение в средних школах разделено на семестры, в конце которых проводятся
    итоговые
    тесты. Дети демонстрируют свои успехи в учебе, научные и творческие наработки, спортивные достижения. Летние
    каникулы
    в Америке - логическое продолжение учебного года. Школы организуют экскурсии, походы на природу и выезды в город.
  </p>

  <p>Компания US BABY TIME рекомендует частные школы в США по многим причинам:</p>
  <li>комплексное образование и эффективная подготовка к поступлению в лучшие мировые ВУЗы </li>
  <li>современное техническое оснащение и комфортные условия обучения </li>
  <li>возможность развивать важные личностные качества (лидерство, честность, верность слову, толерантность и т.д.) 
  </li>
  <li>обязательные спортивные тренировки и творческие занятия </li>
  <li>большой выбор школ-пансионов и дневных школ </li>
  <li>удобное расположение</li>

  <p>
    Все представленные на сайте US BABY TIME школы в США обеспечивают высокий уровень подготовки по академическим
    предметам, среди которых точные и гуманитарные науки, иностранные языки. Занятия проходят в небольших группах,
    благодаря чему преподаватель уделяет внимание каждому ученику, мотивирует его на саморазвитие и поиск своего места в
    жизни. Кроме обязательных уроков, дети ходят на факультативы, участвуют в научно-исследовательской деятельности,
    готовят проекты и презентации.
  </p>

  <%= link_to 'Список некоторых частных школ Флориды и их краткая характеристика', 'http://www.studylab.ru/age2/secondaryeducation/middleschool/country-usa/' %>
</div>