<% content_for :banner do %>
    <%= link_to organize_index_path do %>
        <%= image_tag 'banner_organization.jpg', :class => 'banner' %>
    <% end %>
<% end %>
<div style="text-align: justify;">
  <h1 class="underlined font-large">Список рекомендуемых <em class="handwritten" style="font-size: 30px;">детских садов, школ и образовательных центров</em></h1>

  <p>
    <span style="font-size: 1.5em">Некоторые детские центры в Майами, которые мы рекомендуем для Вас и Ваших детей:</span>
  </p>

  <p>
    <b>Artec Academy</b><br>
    В детском саду Artec Academy общаются на русском языке, а для детей старше 3-х лет проводятся уроки английского
    языка каждый день по два часа. При детском садике работает также субботняя школа для деток от 2-х до 6-ти лет. В
    этот детский сад мамы с удовольствием отдают старших детей, что позволяет уделить время семье, малышу и быстрее
    восстановить силы после родов в Майами.<br>
    600 E. Hallandale Beach Blvd., Unit 779<br>
    Hallandale, FL 33009<br>
    Тел.: (954) 455-0440<br>
    Веб-сайт: <%= link_to 'http://www.artecacademy.com', 'http://www.artecacademy.com' %>
  </p>

  <p>
    <b>Sunny Isles Kids Club</b> – лицензированный департаментом Флориды детский сад для детей от 1 до 5 лет. Здесь
    есть русскоязычный воспитатель. Занятия проводятся на английском языке. Вы можете выбрать из нескольких вариантов
    обучения: полный день – с 8-00 до 18-00, включает завтрак, ланч и полдник, а так же тихий час; с 8-00 до 13-00 –
    включает завтрак и ланч; с 13-00 до 18-00 – включает ланч и полдник. Группы состоят из 8-12 детей и 2
    воспитателей.<br>
    17395 North bay Road Suite<br>
    102 Sunny Isles Beach Fl 33160<br>
    Тел.:(305) 933-3888<br>
    Веб-сайт: <%= link_to 'http://www.sunnyislesdaycare.com', 'http://www.sunnyislesdaycare.com' %>
  </p>

  <p>
    <b>Nana’s Pre-School Learning Center</b> – небольшой, хорошо зарекомендовавший себя детский сад с различными
    программами и мероприятиями, направленными на развитие детей в безопасной и дружелюбной атмосфере с хорошим
    соотношением количества детей и воспитателей.<br>
    1010 S Federal Hwy , Hallandale Beach , FL 33009 <br>
    Тел.: (954) 456-6262 <br>
    Веб-сайт: <%= link_to 'www.nanaspreschool.com', 'www.nanaspreschool.com' %>
  </p>

  <p>
    <b>Aventura Learning Center</b> – образовательный центр для детей дошкольного возраста, где в теплой безопасной
    атмосфере детям предоставляются различные возможности для самореализации.<br>
    2221 NE 171st St.<br>
    North Miami Beach, FL 33160<br>
    Тел.: (305) 940-0408<br>
    Веб-сайт: <%= link_to 'http://www.aventuralearningcenter.com', 'http://www.aventuralearningcenter.com' %>
  </p>

  <p>
    <b>KLA School Aventurа</b> – детский сад, программа которого основана на теории итальянского философа второй
    половины двадцатого века Лориса Малагуззи из провинции Реджио. Школа имеет 8 филиалов во Флориде и несколько в
    других штатах.<br>
    600 SW 1st Avenue Brickell, FL 33130<br>
    Тел.: (305) 377 0391<br>
    Веб-сайт: <%= link_to 'http://www.klaschools.com', 'http://www.klaschools.com' %>
  </p>

  <p>
    <b>Aventura Montessori School</b> – детский сад для детей с 2,5 до 6 лет с отличным соотношением детей и
    воспитателей. В садике работают квалифицированные учителя и ассистенты.<br>
    123 SE 1st Ave, Hallandale Beach, FL 33009<br>
    Тел.:(954) 456-5609<br>
    Веб-сайт: <%= link_to 'http://www.aventuramontessorischool.com', 'http://www.aventuramontessorischool.com' %>
  </p>

  <p>
    <b>Tauber Academy</b> – еврейский детский сад при Синагоге с оптимальным соотношением детей и воспитателей.
    Отличается очень сильной обучающей программой. Помимо ежемесячной оплаты садик берет регистрационный взнос в
    размере 1300$.<br>
    20400 NE 30th Avenue, Aventura, Florida 33180<br>
    Тел.:(305) 931-0010<br>
    Веб-сайт: <%= link_to 'http://www.tauberacademy.com', 'http://www.tauberacademy.com' %>
  </p>

  <p>
    <b>SmartKids</b><br>
    Для дошкольников во Флориде открыта школа SmartKids (Умные дети) с хорошей образовательной программой.<br>
    7044 Collins Ave, Sunny Isles Beach, FL 33160<br>
    Тел.:(305) 390-8261<br>
    Веб-сайт: <%= link_to 'http://www.smartkidsmiami.com', 'http://www.smartkidsmiami.com' %>
  </p>

  <p>
    <b>Kirova Ballet Academy of Miami</b><br>
    В Майами работают несколько балетных школ для детей, среди них Kirova Ballet Academy of Miami.<br>
    955 E. Hallandale Beach Blvd., Hallandale Beach, FL 33009<br>
    Тел.: (305) 720-2484<br>
    Веб-сайт: <%= link_to 'http://www.kirovaballet.com', 'http://www.kirovaballet.com' %>
  </p>

  <p>
    <b>Bass buddies</b><br>
    Дети от 4 до 6 лет могут посещать занятия в художественном классе Bass buddies, организованный музеем искусств
    «BASS» в Майами.<br>
    2100 collins avenue<br>
    miami beach, florida 33139<br>
    Тел.: (305) 673-7530<br>
    Веб-сайт: <%= link_to 'http://www.bassmuseum.org', 'http://www.bassmuseum.org' %>
  </p>

  <p>Ваш малыш не должен каждый день посещать детские центры, а может только тогда, когда Вам это необходимо. Например,
    в то время, когда Вы посещаете доктора с нашими специалистами. Даже нерегулярные занятия в детских центрах помогут
    Вашим детям быстрее освоиться в новой для них стране и всесторонне развиваться.</p>

</div>