<% content_for :banner do %>
    <%= link_to organize_index_path do %>
        <div style="height: 200px">
          <%= image_tag 'banner_organization.jpg', :class => 'banner' %>
          <p class="banner" style="padding-top: 18px; height: 26px;">
            <i>
              Иногда мечты сбываются,…если очень захотеть
            </i>
          </p>
        </div>
    <% end %>
<% end %>
<div style="text-align: justify;">
  <h1 class="underlined font-large">Профессиональный <em class="handwritten" style="font-size: 30px;">фотограф</em></h1>

  <p>Сегодня рынок перенасыщен многообразием фотографов и фотостудий, особенно в солнечной Флориде, где спрос на
    действительно хорошего фотографа превышает предложение. Почти каждая семья хотя бы раз пользовалась услугами
    профессионального фотографа, будь то день рождения, юбилей, семейная фотосессия или фотосессия беременности. Поэтому очень
    важно найти не просто профессионала в этой деятельности, а человека, для которого фотография - это в первую очередь
    творчество и цель всей жизни, а не только заработок. Компания US BABY TIME предлагает услуги не просто
    профессионального фотографа - Елены Кухаревой, владеющего несколькими языками, но и любящей мамы, которая понимает
    что самое ценное в нашей жизни – время, проведенное с любимыми людьми. Прекрасные моменты во Флориде пролетают очень
    быстро, а так хочется сохранить память о них.</p>

  <blockquote><i>”Фотографировать – это значит задержать дыхание, когда все наши способности объединяются в погоне за ускользающей
    реальностью…” <p style="text-align: right;">Анри Картье-Брессон</p></i></blockquote>

  <div>
    <div style="float: left; width: 140px;">
      <%= image_tag 'extra/6_1_1.png', :width => 120, :height => 180, :style => 'margin-left: 5px;' %>
      <p style="text-align: center;"><i>Профессиональный фотограф Елена Кухарева</i></p>
    </div>
    <div>
      <%= image_tag 'extra/6_1_2.jpg', :width => 260, :height => 180, :style => 'margin-left: 10px;' %>
      <p style="text-align: center;"><i>Известная Российская актриса Тара</i></p>
    </div>
    <br style="clear: both;"/>
  </div>

  <p>Во время фотосессии нашему профессиональному фотографу важно поймать момент и отобразить в своих работах чувства,
    эмоции и позитив, которые переполняют ее героев! Обычно фотосъемка проходит в парке или на берегу океана, но всё
    зависит от Ваших пожеланий. Местом фотосъемки возможно выбрать Ваш дом или любое место, которое особенно Вам дорого.
    Главное — чтобы во время съемки Вы чувствовали себя комфортно!</p>

  <p>Наиболее популярным направлением во Флориде является фотосъемка беременных и детей. Нет ничего красивее фотографии
    женщины в "интересном" положении. А уж фото малышей и вовсе могут растрогать любого человека. Также популярна
    фотосъемка крещения ребенка.</p>

  <h3>Фотосессия беременных</h3>

  <p>Беременность - великолепный период в жизни любой женщины. Поэтому наш фотограф Елена особенно трепетно относится
    к этому виду фотографии. Очень трогательные моменты беременности просто обязаны быть запечатлены в виде
    профессиональных фотографий.</p>

  <div>
    <%= image_tag 'extra/6_2_1.jpg', :width => 200, :height => 140, :style => 'margin-left: 10px;' %>
    <%= image_tag 'extra/6_2_2.jpg', :width => 200, :height => 140, :style => 'margin-left: 10px;' %>
  </div>

  <h3>Фотосессия детей и новорожденных</h3>

  <p>Не менее интересно снимать маленьких детей и малышей. Особенно замечательные фото получаются у трехнедельных
    малышек. Число маленьких фотомоделей нашего фотографа Елены неуклонно растет и есть уже целые фотосесии детей
    в разном возрасте.</p>

  <div>
    <%= image_tag 'extra/6_3_1.jpg', :width => 200, :height => 140, :style => 'margin-left: 10px;' %>
    <%= image_tag 'extra/6_3_2.jpg', :width => 200, :height => 140, :style => 'margin-left: 10px;' %>
  </div>

  <h3>Семейная фотосессия</h3>

  <p>Заказать профессиональную семейную фотосессию - великолепный способ запечатлеть счастливые моменты жизни Вашей
    семьи. Семейная фотосессия проводится как на улице, так и в помещении (в студии или у Вас дома).</p>

  <div>
    <%= image_tag 'extra/6_4_1.jpg', :width => 200, :height => 140, :style => 'margin-left: 10px;' %>
    <%= image_tag 'extra/6_4_2.jpg', :width => 200, :height => 140, :style => 'margin-left: 10px;' %>
  </div>

  <p>Все эти жанры можно сочетать!</p>

  <ul>
    <li>Съемку желательно проводить в светлое время суток, при естественном освещении.</li>
    <li>Есть два варианта съемки “До обеда” и “После обеда”. Все будет зависеть от Вашего распорядка дня и конечно того,
      что Вы хотите получить от съемки. Фотосъемку, по Вашему желанию, можно совместить с прогулкой, независимо от
      времени года и погоды.
    </li>
    <li>В кадре будут самые важные люди, моменты, детали… В результате нашей совместной работы, через 1-2 недели, будут
      готовы  примерно 200 обработанных  (кадрирование, цветокоректность) фотографий,  А  выбранные Вами 10 лучших
      фотографий пройдут художественную авторскую обработку. Фотографии могут быть цветными и черно-белыми, оформленные
      на DVD-диск или USB флеш карту.
    </li>
  </ul>

  <p>
    Подробнее с великолепными работами нашего профессионального фотографа Елены можно ознакомиться
    <%= link_to 'здесь', 'https://www.facebook.com/PhotographyFamily' %>.
  </p>
</div>