<% content_for :banner do %>
    <%= link_to organize_index_path do %>
        <div style="height: 200px">
          <%= image_tag 'banner_organization.jpg', :class => 'banner' %>
          <p class="banner" style="padding-top: 18px; height: 26px;">
            <i>
              иногда мечты сбываются,…если очень захотеть
            </i>
          </p>
        </div>
    <% end %>
<% end %>
<div style="text-align: justify">
  <h1 class="underlined font-large">Помощь в аренде транспортного средства на <em class="handwritten" style="font-size: 30px;">выгодных условиях</em></h1>

  <p>
    <span style="font-size: 1.5em;">Компания US BABY TIME поможет Вам забронировать авто без каких-либо наценок. Вы оплачиваете
      исключительно саму стоимость аренды.</span> А если Вы заранее побеспокоитесь о вопросе аренды, то стоимость будет
    еще более низкой. Благодаря тому, что поддержка осуществляется на Русском языке, у Вас не возникнет никаких проблем,
    связанных с языковым барьером. Существует масса причин, по которым личный автомобиль может быть недоступен в течение
    какого-либо срока. Просто позвоните в нашу компанию и наши высококвалифицированные менеджеры в кратчайшие сроки
    подберут для Вас <b>автомобиль эконом класса, бизнес-класса, микроавтобус</b> или <b>элитный представительский
    автомобиль с водителем</b>. Среди представленных марок: <i>Toyota, Nissan, Mercedes-Benz</i> и многие другие.
  </p>

  <p>
    Для многих людей автомобиль является отражением их социального статуса, именно поэтому наша компания предлагает
    своим клиентам отдельное направление - богатый автопарк автомобилей <b>VIP категории</b>, в котором представлены
    суперкары, способные удовлетворить любые пожелания. Прокат элитных авто поможет Вам по-новому взглянуть на мир
    вокруг себя. Красота и грация, мощность и безопасность, комфортный роскошный салон и продуманность в каждой детали.
    Среди представленных марок: <i>Aston Martin, Audi, Bentley, BMW, Cadillac Escalade, Corvette, Ferrarri, Fisker,
    Hummer, Jaguar, Lamborghini, Maserati, McLaren, Porsche, Rolls Royce</i> и многие другие. Подробнее о данной услуге
    Вы можете узнать <%= link_to 'здесь', 'https://www.prestigeluxuryrentals.com/en-US/Home/'%>:
  </p>
  <div style="text-align: center;">
    <%= link_to 'https://www.prestigeluxuryrentals.com/en-US/Home/' do %>
      <%= image_tag 'partner_logo_3.jpg' %>
    <% end %>
  </div>
  <p>
    Арендуя автомобиль у наших партнеров (в аэропорту, в самом городе, или у Вас дома — неважно) Вы получаете массу
    выгод:
  </p>
  <ul>
    <li>Новые автомобили</li>
    <li>Полную страховку</li>
    <li>Гибкие условия аренды на любой срок</li>
    <li>Доставку авто на дом</li>
    <li>Отсутствие требования получать местное водительское удостоверение</li>
    <li>Детское кресло - бесплатно</li>
  </ul>
  <p>Автопарки наших партнеров формируются из современных моделей, не зависимо от класса. Все машины имеют
    небольшой пробег и отличное техническое состояние, не зависимо от модели и класса.</p>

  <p>С 1 сентября 2013 года для наших клиентов действует специальное предложение по аренде автомобилей Toyota Camry в
    Майами. При аренде от 1 месяца – стоимость составит 1000$ в месяц, включая все налоги и сборы. Доставка и возврат
    машины осуществляются у Вас дома.</p>

  <p>Машины сдаются в аренду на основании договора аренды.</p>

  <p>
    Условия аренды: полная страховка (КАСКО), франшиза 0.<br>
    Депозит 300$ – возвращается в день возврата машины.<br>
    Второй водитель – бесплатно.<br>
    Навигатор – бесплатно.<br>
    Авто кресло – бесплатно.<br>
    Возможна оплата пластиковыми картами VISA & MasterCard (+3%).<br>
  </p>

  <p>Необходимо предварительное бронирование данной услуги.</p>
</div>