<% content_for :banner do %>
    <%= link_to organize_index_path do %>
        <div style="height: 200px">
          <%= image_tag 'banner_organization.jpg', :class => 'banner' %>
          <p class="banner" style="padding-top: 18px; height: 26px;">
            <i>
              иногда мечты сбываются,…если очень захотеть
            </i>
          </p>
        </div>
    <% end %>
<% end %>
<div style="text-align: justify;">
  <h1 class="underlined font-large">Список рекомендуемых салонов <em class="handwritten" style="font-size: 30px;">красоты</em></h1>

  <p>
    <b>VIP Beauty Salon and Spa</b><br>
    18206 Collins Ave,<br>
    Sunny Isles Beach, FL 33160<br>
    Веб-сайт: <%= link_to 'http://www.vipsalon.com', 'http://www.vipsalon.com' %>
  </p>

  <p>
    <b>Aqualina Beauty Salon</b><br>
    Адрес: 17875 Collins Ave, Sunny Isles Beach, FL 33160<br>
    Тел.: (305) 918-6783<br>
    Веб-сайт: <%= link_to 'http://www.acqualinaresort.com', 'http://www.acqualinaresort.com' %>
  </p>

  <p>
    <b>EUROPEAN WAX CENTER </b>предлагает более 30 удобных офисов только в штате Флорида (в том числ и в Авентуре, Майами и
    Форте Лоудердэйле).<br>
    Веб-сайт: <%= link_to 'http://www.waxcenter.com' %>
  </p>
</div>