<ul id="nav">
  <li style="margin-left: 20px;">
    <%= link_to 'US BABY TIME', root_path %>
  </li>
  <li>
    <%= link_to 'О нас', page_about_us_path %>
  </li>
  <li>
    <%= link_to 'Услуги', page_service_path %>
  </li>
  <li>
    <%= link_to 'Почему мы', page_why_choose_us_path %>
  </li>
  <li>
    <%= link_to 'Цены', page_price_path %>
  </li>
  <li>
    <%= link_to 'Фото галерея', page_photo_gallery_path %>
  </li>
  <li>
    <%= link_to 'Контакты', page_contact_us_path %>
  </li>
</ul>