<ul id="nav">
<li style="margin-left: 20px;">
  <%= link_to 'US BABY TIME', root_path %>
</li>
<li>
  <%= link_to 'About', page_about_us_path %>
</li>
<li>
  <%= link_to 'Service', page_service_path %>
</li>
<li>
  <%= link_to 'Why to choose us', page_why_choose_us_path %>
</li>
<li>
  <%= link_to 'Price', page_price_path %>
</li>
<li>
  <%= link_to 'Photo gallery', page_photo_gallery_path %>
</li>
<li>
  <%= link_to 'Contact us', page_contact_us_path %>
</li>
</ul>