<h3 class="underlined">Нас рекомендуют</h3>

<p>
  Стратегическое планирование - один из факторов, которые являются обязательным для успеха в США, будь то изменение
  вашего легального статуса или развитие вашего бизнеса. Наша эффективная стратегия обеспечит долгосрочное развитие всех
  ваших начинаний в США, обеспечит достойную реализацию потенциала команды в рамках постоянно изменяющейся деловой
  среды, не зависимо от экономических и политических условий вашей страны. 
</p>
<p>
  Посетите раздел наших бизнес-услуг <%= link_to('http://americaneb5centers.com/services/') %>, чтобы узнать больше
  информации о возможностях.
</p>
<p>
  Посетите наш форум <%= link_to('часто задаваемых вопросов', 'http://americaneb5centers.com/faq/') %>, чтобы получить ответы
  на некоторые важные вопросы узнать больше о нашей работе.
</p>
<p>
  Посетите раздел <%= link_to('http://americaneb5centers.com/about-us/') %>, чтобы узнать больше информации о наших
  сотрудниках.e
</p>
<p>
  <b>
    Группа наших компаний активно вовлечена в благотворительную деятельность и является членом сообществ, которые
    безвозмездно помогают людям. Поддержите наши партнерские благотворительные организации:
    <%= link_to('http://www.cjfoundation.net/') %>,<%= link_to('http://jdchfoundation.org/') %>.
  </b>
</p>