<h3 class="underlined">Почему мы/Testimonials</h3>

<p>
  Посетите сайты группы наших компаний чтобы получить больше информации о наших сотрудниках и проектах. В группу входят
  компании <b>
  <%= link_to('Credit Services of America', 'http://www.creditservicesamerica.com') %>,
  <%= link_to('American EB-5 Centers', 'http://www.creditservicesamerica.com') %>,
  <%= link_to('Data Business Systems', 'http://dbsmanage.com') %>,
  <%= link_to('US BABY TIME', 'http://usbabytime.com') %> и многие другие.
</b>
</p>
<p>
  За годы своей профессиональной деятельности нашей компанией успешно реализовала большое количество инвестиционных
  проектов, успешно получено огромное количество имимграционных и рабочих виз. Сочетание в одной команде специалистов
  разного профиля позволяет нам создавать проекты, исходя из индивидуальных пожеланий Заказчика в сжатые сроки.
</p>
<p>
  Среди наших клиентов как Российские, так и зарубежные инвесторы. Со многими из них мы сохранили добрые и плодотворные
  отношения на много лет. Специфика нашей деятельности, связанной с обеспечением безопасности наших клиентов, не
  позволяет нам опубликовать полный список инвесторов и прибыльных инвестиционных проектов.
</p>
<p>Однако, с некоторыми проектами вы можете ознакомиться здесь <%= link_to('http://americaneb5centers.com/projects/') %>
  .</p>
<p>
  Мы работаем так, чтобы у наших клиентов оставались о нас и нашей работе только хорошие воспоминания. Мы работаем так,
  чтобы наши клиенты рекомендовали нас свои друзьям и знакомым. И нам это удается!
</p>
<p>
  При обращении в нашу компанию, мы готовы предоставить Вам полную, интересующую Вас информацию, ответить на любые Ваши
  вопросы, рассказать подробно обо всех этапах нашего с Вами сотрудничества.
</p>