<div style="text-align: justify;">
  <h1 class="underlined handwritten" style="font-size: 30px;">О нас</h1>
  <p>
    <span style="font-size: 1.5em;">Наша компания US Baby Time входит в бизнес-группу компаний</span>, не только предлагающих Вам полный спектр услуг по
    подготовке, организации и сопровождению беременности во Флориде, но и оказывает полное содействие в вопросах
    оформления документов и виз любой категории.
  </p>
  <p>
    Помимо полнопрофильного иммиграционного процесса, мы предлагаем услуги по ведению, развитию и приобретению бизнеса в
    США, аренде и покупке жилой и коммерческой недвижимости, а также другие широкие инвестиционные возможности.
  </p>
  <%= image_tag 'about_us_pic.jpg', :width => '100%' %>
  <p>Компания US Baby Time предлагает Вам основные варианты сотрудничества:</p>
  <p>
  <ol class="numeric_list">
    <li>
      Вы можете выбрать <%= link_to 'готовый пакет', page_service_path %>, услуг по родам в Майами.
    </li>
    <li>
      Вы можете выбрать <%= link_to 'сервис', page_service_path %> самостоятельно в соответствии с Вашими потребностями,
      воспользовавшись <%= link_to 'калькулятором услуг', '/' %>.
    </li>
    <li>
      Вы можете осуществить Вашу идею родов в Майами самостоятельно (без посредников), а в случае возникновения
      каких-либо трудностей или вопросов, <%= link_to 'обратиться к нам на любой стадии', page_contact_us_path %>, Вашего
      пребывания. Стоимость наших услуг остается не изменой при любом варианте сотрудничества.
    </li>
    <li>
      Вы можете <%= link_to 'обратиться за консультацией', page_contact_us_path %>, без каких-либо обязательств, по
      различным иммиграционным и инвестиционным проектам.
    </li>
  </ol>
  </p>
  <h3>Нас рекомендуют</h3>
  <p>
    Мы хотим узнать Ваше мнение о нашей работе и узнать больше о Вашем личном опыте в США. Посетите
    раздел <%= link_to 'Отзывы', '/' %>, чтобы оставить комментарии и узнать что пишут о нашей компании.
  </p>
  <p>
    С авторами отзывов вы можете пообщаться на форуме <%= link_to 'Facebook', 'https://www.facebook.com/groups/450956344973158/' %>.
  </p>
  <p>
    Нас знают! Вы можете ознакомиться с отзывами о нашей работе на форуме “Роды в США”
    – <%= link_to 'здесь.', 'http://www.deliveryinusa.com/?page_id=6974' %>
  </p>

  <p>
    Группа компаний, в которую входит компания US BABY TIME активно вовлечена в благотворительную деятельность и является
    членом сообществ, которые безвозмездно помогают людям. Поддержите благотворительные организации наших
    партнеров:  <%= link_to 'http://www.cjfoundation.net/', 'http://www.cjfoundation.net/' %>,
    <%= link_to 'http://jdchfoundation.org/', 'http://jdchfoundation.org/' %>.
  </p>
</div>