<div style="text-align: justify;">
  <h1 class="underlined">Отзывы</h1>
  <p>
    Отзывы о нашей работе не выдуманные, а настоящие – с их авторами Вы можете
    пообщаться <%= link_to 'Facebook', 'https://www.facebook.com/groups/450956344973158/' %>
  </p>

  <h3 class="underlined">Наши любимые клиенты(апрель, 2013):</h3>
  <div class="feedback">

    <%= image_tag 'feedback_001.jpg' %>

    <%= image_tag 'feedback_002.jpg' %>

    <p>Доктор Уэйн ДиЖиакомо на пикники US Baby Time</p>
    <p>С Днем рождения (декабрь, 2012)</p>

    <%= image_tag 'feedback_003.jpg' %>

    <p>На память! Декабрь, 2012.</p>
    <p>Дарья (2012 год)</p>

    <%= image_tag 'feedback_004.jpg' %>

    <p>
      Буквально 5 дней назад, моей доченьке Ульяне исполнился годик. Не поверите, но первой (не считая волшебную акушерку Дженис Хеллер и моего мужа), увидела малышку именно Наташа))) Я свободно говорю по-английски, но в силу того, что мой муж вынужден был остаться с моим старшим ребенком дома (в Майами) и утром отвезти его в сад, я попросила Наташу в качестве “группы поддержки” быть со мной на родах. Я никогда не забуду этого момента – для русской женщины всё-таки важно, чтобы кто-то свой был рядом видимо. Наташа мне помогала, держала за руку и уговаривала еще капельку потерпеть, когда я уже не могла терпеть, ибо дочь моя изо всех сил рвалась на свет Божий))
    </p>

    <p>
      Я не говорю уже о том, что начиная от встречи в аэропорту – она и так была всегда рядом, пока ко мне не прилетел мой муж, которого она встретила и доставила в мои объятия))
    </p>

    <p>
      Короче говоря, сотрудничая с Натальей – вы можете быть уверены, что всё будет ХО-РО-ШО!!!
    </p>

    <ol type="1">
      <li>
        <p class="title">
          <b>Дарья Л. </b> прокомментировал(а),
        </p>

        <p class="content">
          <i>Дарья says: </i><br/>
          У нас родился мальчик в декабре 2011.<br>
          Наталья работала с нами на протяжении 4 месяцев нахождения в США, больше того,
          когда мы приехали, муж уехал через неделю, и я осталась совсем одна. Наталья
          помогала во всех вопросах, если бы не она, то я бы точно уехала бы домой еще до
          родов, т.к. одной в США очень тяжело. Я не знаю вопроса, который бы не смогла
          решить Наталья. Пока я находилась в США, я познакомилась со многими девочками,
          которые тоже рожали в США. Они сотрудничали с разными фирмами и агентами, и у
          всех были хоть какие-то, но проблемы, которые не могли решить. У меня,
          благодаря Наталья, проблемы, если и возникали, то решались быстро и
          качественно.<br>
          Я редко встречала таких людей, как Наталья, которые решают твои вопросы, как
          свои, и стараются не просто формально отделаться, а сделать все возможное,
          чтобы это было максимально выгодно, удобно и быстро. Цены ниже рыночных – для
          нас это тоже был не маловажный фактор.<br>
          А еще, советую всем Наталью не только как ответственного, грамотного и
          добросовестного специалиста, но и как отзывчивого, внимательного человека,
          который всегда поддержит в сложную минуту. Мы до сих пор общаемся, и если что,
          то я точно знаю, что буду обращаться только к ней.!!!
        </p>
      </li>

      <li>
        <p class="title">
          <b>Елена</b> прокомментировал(а),
        </p>

        <p class="content">
          <i>Елена  says:</i> <br/>
          Добрый день! Хочу поделиться со всеми
          свом счастьем:). Счастьем,которому через 10 дней исполняется год. Ровно год
          назад в нашей семье появился американец . Это были вторые мои роды и если 10
          лет назад (после рождения дочери на Украине) я говорила STOP ,то сейчас я
          согласна родить и третьего . И все это благодаря тебе , Натали !<br>
          Благодаря твоей работе и заботе я и моя семья на протяжении нескольких месяцев
          были вместе в чужой для нас стране. И это время было незабываемым. Спасибо тебе
          большучее за все : за помощь в выборе квартиры, за помощь в оформлении старшего
          ребенка в школу , за оформление дакументов за все-все-все !!!<br>
          P.S. Надеюсь еще увидимся
        </p>
      </li>

      <li>
        <p class="title">
          <b>Светлана</b> прокомментировал(а),
        </p>

        <p class="content">
          <i>Светлана  says:</i> <br/>
          Идея родить в Америке была у меня давно, но воплотилась в реальность только в
          этом году. Сначала я обратилась за советом к подруге, которая живет в Америке,
          но она категорически мне не советовала рожать там, якобы потому что и ребенка
          заберут и куча сложностей с документами….. Но одно из самых замечательных
          изобретений прошлого века – чудо интернет, в котором информации о родах в США
          пруд пруди. Я благополучно нашла несколько компаний, коорые организовывают этот
          процесс и начала обзвон. Ни одна из компаний не подошла мне: цены – космос,
          отзывы – жуть, очень часто сотрудники компаний забывали перезвонить, хотя
          обещали. Так процесс поиска затянулся и визу я получать поехала в конце
          августа. Где-то 25.08, опять же найдя информацию в нете, я позвонила Наталье
          Кирк, зная, что она занимается документами, и спросила, не могла бы она мне
          помочь в организации всего процесса: от поиска жилья до проводов в аэропорт. И
          она согласилась помочь. С пониманием отнеслась к моим пожеланиям по жилью,
          которое, кстати, было ею найдено за 2 дня и на третий я его согласовала. Так
          07.09.12 я прилетела в Майами. Я очень боялась, что меня не встретят
          (беременным свойственно <span><%= image_tag 'feedback_smile_001.gif', :class => 'smile' %></span>), тем более о таких случаях я читала
          в отзывах. Самолет задержался, на таможне со мной долго общались (видимо я
          очень понравилась), и я очень порадовалась, что меня дождались и встретили.
          Наталья организовала весь процесс с максимальным комфортом: мы заселились, все
          соответствовало тому, что мне обещали, в течение без малого двух месяцев со
          мной всегда на связи была сотрудница компании Натальи, которая ОЧЕНЬ
          компетентна в вопросах покупок для новорожденных, в медицинских вопросах,
          всегда помогала и в решении бытовых вопросов. Мне очень понравился роддом
          (birthcenter). Замечательный персонал: ст. акушерка Джанис, несмотря на то, что
          передвигается в инвалидном кресле, действительно профессионал высочайшего
          уровня, она внимательна, предусмотрительна , заботлива. Вообще концепция этого
          заведения, как я пояла, звучит так: “Мы за естественные роды”. Все девочки
          старались максимально расслабить меня (учитывая срок, усталость, нервное
          напряжение мое), поддерживали, давли гомеопатические препараты, Джанис делала
          иглоукалывание. И так каждую консультацию вплоть до родов. Родовые комнаты
          напоминают больше детскую: цветные стены, красивые занавески, декоративные
          бабочки, красивое белье на кровати, ванная в комнате, туалет рядом. Обстановка
          прямо скажем, домашняя. Рожать я однозначно планировала без эпидуралки, это мой
          второй ребенок, поэтому я знала, каков процесс!<br>
          Сами роды прошли замечательно: со мной присутствовала на родах переводчик из
          Натальиной команды, из персонала было 4 человека: Джанис и три ее ассистентки.
          Отдельное спасибо Марии-Елене, она очень поддерживала меня и во время осмотров,
          и в процессе родов, и когда приходила на дом. По возвращению домой, мне не было
          удобно ходить в магазин первую неделю и опять слов благодарности заслуживает
          сотрудник команды Натальи. По моей просьбе мне даже продукты привозили на дом.<br>
          Я скажу так: мое пребывание в Америке прошло под знаком домашней обстановки:
          все, что было в контракте описано, команда выполнила в полном объеме, в срок.
          Документы на дочку я все получила за 10 дней. И прошу заметить, за срочность не
          доплачивала,, Наталья посоветовала, как сделать лучше, чтоб за те же деньги
          получить быстрее документы. Нам (беременным) организован был даже досуг: музей,
          прогулки на яхте, знакомство с итальянской кухней, походы по молам и т.д.<br>
          Я очень благодарна Наташе и за поддержку в решении вопроса по возврату депозита
          за квартиру. И вообще, не было у меня пробоем с решением любых задач, начиная
          от аренды молокоотсоса, заканчивая внеплановыми поездками к педиатру.<br>
          В результате: море позитива, масса новых знакомых, красивый флоридский загар,
          дочка – гражданка Америки и незабываемые 2 месяца жизни в Майами!<br>
          Всем, кто хочет рожать в Америке, скажу: не бойтесь, рожайте здесь, обращайтесь
          за советом к Наташе и знайте, что Вам всегда окажут квалифицированную помощь,
          поддержку и консультацию.
        </p>
      </li>
      <li>
        <p class="title">
          <b>Anna Skvo</b> прокомментировал(а),
        </p>

        <p class="content">
          <i>Anna Skvo says:</i> <br/>
          Хотела описать свой опыт приезда в
          Вашингтон в консульский отдел для получения российских документов.<br>
          Вначале оговорюсь, что мне по состоянию здоровья моего ребенка необходимо
          улететь из Майами в Россию до Нового Года. Мы с мужем обратились к Наталье Кирк
          для оформления ребенку российских документов.<br>
          Мы встретились с Натальей, она передала мне пакет документов для консульства.
          Вчера приехала в консульство, одновременно со мной приехала девушка, которая
          тоже подавала документы на ребенка.<br>
          Сотрудницы стали проверять документы вначале у девушки, потом у меня. Однако, у
          девушки они были оформлены неверно. Признаться, мне её стало жалко. Она
          переписывала заявление, ходила на почту за новым конвертом и т.п. В итоге я,
          сдав документы, освободилась гораздо быстрее, чем она. Наталья оформила так
          документы, что придраться было не к чему. К тому же, когда мы разговорились с
          девушкой по поводу оформления и цены, я была в шоке, от того, что с неё взяли
          гораздо больше, чем берет за свою работу Наталья Кирк!!!! Пример, как надо
          оформлять ряд документов приводили девушке, взяв мои документы.<br>
          Я вообще хочу сказать, что Наталья Кирк во многом мне помогла. Советовала как
          сделать лучше и быстрее. Многие просто берут деньги, берут работу и делают
          плохо, а Наталья входит в положение и делает всё возможное, чтобы помочь!!!!!!
          Считаю, что это говорит о профессионализме человека!!!!!!!!<br>
          Конечно же у меня ещё впереди получение паспорта, гражданства и всё такое
          прочее, но после вчерашнего мне очень хотелось привести Наталью Кирк в пример и
          посоветовать всё же, если кто-то не может сделать сам документы, обращаться к
          профессионалу.
        </p>
      </li>
       <!-- comment 5 -->
      <li>
        <p class="title">
          <b>Anna</b> прокомментировал(а),
        </p>

        <p class="content">
          <i>Anna says:</i> <br/>
          Ура ура получили полные комплекты
          документов для крошки! Скоро уезжаем домой и очень рады этому. Хотелось бы
          выразить огромную преогромную благодарность Наталье Кирк!!! Без нее сами бы
          точно не успели, понравилась очень оперативная и качественная работа, ни разу
          не пришлось ничего переделывать и переписывать, что при ограниченном времени
          очень актуально, очень порадовала скорость получения документов, в итоге мы
          очень довольны. Респект и уважуха Наталье. Совет приезжающим девушкам если не
          уверены в своих силах отдайте все в руки профессионала! Тем самым сэкономив
          время, деньги и нервы. Спасибо еще раз!!!
        </p>
      </li>

      <li>
        <p class="title">
          <b>Anna Skvo</b> прокомментировал(а),
        </p>

        <p class="content">
          <i>Anna Skvo says:</i> <br/>
          Мы с мужем хотим выразить огромную
          благодарность Наталье Кирк за то, что помогла нам попасть домой до Нового Года.<br>
          Ранее я уже писала, как она помогла мне оформить профессионально российские
          документы, для подачи в консульский отдел, это было 12 декабря, однако через
          неделю я уже держала паспорт в руках))) У нас был 1 шанс из 100 улететь до
          Нового Года в Москву, однако Наталья помогла нам его использовать по полной!!!!
          Поэтому повторюсь, что Наталья Кирк Профессионал своего дела!!!!))) Большая
          Молодец!!! Огромное ей человеческое Спасибо!!!! Мы Дома)))<br>
          Хочу добавить, что стоимость её услуг оправдана полностью, так как она
          профессионально выполняет свою работу на 100 процентов!!! Все, кто хотя бы раз
          сталкивался с оформлением бумаг знает как из-за одной неверно поставленной
          подписи, печати, запятой на смарку пойдёт вся работа, в данном случае большая
          потеря времени, в чём я могла убедиться когда привезла все документы собранные
          Кирк в российское консульство (о чём я ранее уже писала)!!!<br>
          PS На форуме также читала, что стоимость услуг Кирк крайне завышена, позволю
          себе не согласиться с подобным, тк у фирм посредников стоимость такого же
          пакета документов составляет 3 500 долларов.<br>
          Наталья! Огромное Вам спасибо от Меня и от Мужа!!!!!!!
        </p>
      </li>
      <li>
        <p class="title">
          <b>Эдна</b> прокомментировал(а),
        </p>

        <p class="content">
          <i>Эдна says:</i> <br/>
          В 2011 году я впервые стала мамой. Это
          чудо свершилось в Майами и именно там мы впервые столкнулись с Наташей. Наше
          знакомство началось со встречи в аэропорту и закончилось проводами в
          аэропорту.На протяжении всего нашего пребывания в Майами Наташа давала советы и
          отвечала на все интересующие вопросы. Оформление документов русских и
          американских она сделала очень оперативно, в итоге за 3 недели мы получили
          birth of certificate , американский паспорт, SSN, вписание ребенка в загран
          старого образца( без полетов в Вашингтон). Более того, потом помогла нам и
          подсказала как оформить документы на второго ребенка бесплатно. За это ,
          Наташа, тебе отдельное спасибо. А вообще хочу сказать, мамочкам , особенно тем,
          кто едет без мужей, отдайте оформление доков Наташе и наслаждайтесь
          материнством в Майами…и будьте уверенны, она все сделает на 100%.<br>
          Всем легких родов и Позитива!
        </p>
      </li>

      <li>
        <p class="title">
          <b>Жанна</b> прокомментировал(а),
        </p>

        <p class="content">
          <i>Жанна says:</i> <br/>
          Всем привет! Хочу поделиться своей
          “американской” историей и оставить отзыв о работе Наташи Кирк.<br>
          Я организовывала свои роды сама, поскольку хорошо знаю английский в силу
          профессиональной деятельности и мне ничего не стоило найти самой квартиру,
          машину и заключить контракт с доктором. Но вот страх перед оформлением
          документов сидел во мне глубоко и не отпускал! Я знала, что многие в Майами
          занимаются документами, но также я знала и то, что многих кидают (берут деньги,
          а документов как не было, так и нет). И я ужасно боялась такой участи,
          поскольку время мое в Майами было ограничено.<br>
          После долгих колебаний я все-таки решила, что не буду морочить себе голову
          документами. Ведь это требует столько времени! Нужно во всем разобраться,
          перечитать кучу сайтов, понять какие формы заполнять и в какой
          последовательности. Потом ездить по инстанциям и подавать все эти документы,
          бегать на почту и платить государственные сборы. Нет уж! Я решила, что лучше
          заплачу деньги, но пусть этим занимаются профессионалы. А я лучше проведу это
          время с ребенком и лишний раз посплю.<br>
          И тут как раз знакомые ребята посоветовали обратиться к Наташе. Сказали, что
          через нее все будет надежно и хорошо. Я решила довериться судьбе и позвонила…<br>
          Документы нам все оформили без проблем! Сначала мы с мужем выпили за «нового
          российского гражданина», когда по почте, через 10 дней после подачи, нам пришли
          российские документы. А потом, еще через 2 недели мы уже поднимали бокалы за
          нашего маленького американца – счастливого обладателя двух паспортов и
          гражданина двух могучих государств!<br>
          Так что спасибо, тебе Наташа, за то что в буквальном и переносном смысле
          СНИМАЕШЬ ГОЛОВНУЮ БОЛЬ!
        </p>
      </li>
      <li>
        <p class="title">
          <b>Мария</b> прокомментировал(а),
        </p>

        <p class="content">
          <i>Мария says:</i> <br/>
          Наш Малыш-Сынишка решил появиться на
          свет, когда НАТАЛЬЯ находилась в отпуске, на другом континенте. Я думала, что
          все, не успеем мы вовремя улететь (т.к. билеты обратно были через три недели).
          Но НАТАЛЬЯ была со мной на связи даже оттуда!!! Она, благодаря бесконечной
          ответсвенности за свое дело и своей команде, с которой работает, сделала
          невозможное!!! Чего это ей стоило, знает, наверное, только она <span><%= image_tag 'feedback_smile_002.gif', :class => 'smile'  %></span>)
          но Мы с Сынишкой в назначенный час, не меняя билетов, летели в Москву к Папе и
          двум Сестренкам, которые нас очень ждали <span><%= image_tag 'feedback_smile_002.gif', :class => 'smile'  %></span><br>
          НАТАЛЬЯ – Чудесный Человек! Она знает о родах в Майами ВСЕ, можете быть
          уверены! А уж в оформлении документов Ей, мне кажется, равных нет! А ведь это
          очень важный момент, особенно, если летишь рожать одна, без мужа. Наталья
          спасибо, Вам еще раз! Пусть и Ваши желания сбываются также, как Вы осуществили
          наше!!!<br>
          P.S. Отдельное спасибо персоналу из Berth Centre: акушерке ДЕБОРЕ, за ее
          отношение к людям и волшебные руки, ДОКТОРУ ДИ, за мастерство и бесконечный
          оптимизм<span><%= image_tag 'feedback_smile_002.gif', :class => 'smile'  %></span> и переводчице НАТАЛЬЕ, за добрые
          советы и безотказность в решении любой проблемы.<br>
          Ну и, конечно, огромное СПАСИБО моим новым друзьям, которых я нашла в солнечном
          Майами ОКСАНЕ и СЕРГЕЮ!!! ВЫ ЛУЧШИЕ!!! Ваше участие неоценимо!
        </p>
      </li>
      <!-- comment 10 -->
      <li>
        <p class="title">
          <b>Арина</b> прокомментировал(а),
        </p>

        <p class="content">
          <i>Арина says:</i> <br/>
          Хочу сказать Огромное СПАСИБО Наталье
          Кирк за её работу!<br>
          Готовясь к поездке в Майами, я прочитала достаточно хороших отзывов о US Baby
          Time, и была совершенно спокойна и уверена- я знала, что выбрала
          профессионалов! Но невероятно приятным плюсом к профессионализму Натальи
          оказались её человеческие качества! За 3 месяца в Майами она стала нам близким
          другом, по которому мы теперь очень скучаем! А если по делу, то свои документы
          мы получили в срок (и даже раньше); все наши проблемы и проблемки решались
          быстро и чётко; я всегда могла позвонить или написать Наталье, чтобы задать
          любой глупый вопрос, а она была такая приветливая и понимающая, не смотря на
          всю занятость так же необходимо отметить, как Наталья избавила нас от всех доп
          счетов, что приходили из госпиталя после родов. С этим сталкиваются практически
          все, и многие даже платят, потому что не могут ничего оспорить. Заключая
          контракт с Натальей Кирк можете быть уверены, что, родив ребёнка, вам не
          придётся переживать из-за счетов или документов, а это так важно, ведь первые
          недели с младенцем никому не даются легко.<br>
          Я уже была в Майами, и достаточно свободно говорю по-английски, но всё равно
          выбрала пакет с сопровождением и услугами переводчика. Я ни капли об этом не
          пожалела, потому что, особенно в самом начале, эти услуги оказались очень
          кстати. Мы бы и сами могли всё найти, со всеми договориться и так далее, но это
          бы заняло гораааздо больше времени, и наверняка понервничать бы пришлось, а
          беременным это ни к чему<br>
          В общем, спасибо ещё раз Наталье Кирк за наше счастливое лето <span><%= image_tag 'feedback_smile_002.gif', :class => 'smile'  %></span>)
          Всем рекомендую команду US Baby Time, если вы хотите получить действительно
          качественный сервис от настоящих, опытных профессионалов!
        </p>
      </li>
      <li>
        <p class="title">
          <b>Anna Belenkaya</b> прокомментировал(а),
        </p>

        <p class="content">
          <i>Anna Belenkaya says:</i> <br/>
          Захотелось оставить свой отзыв о работе
          Наташи Кирк и ее команды. Честно говоря, когда моя семья летела в Майами, мы
          были абсолютно спокойны, была полная уверенность, что все пройдет на ура,
          потому что о Наташе мы были слышали много хороших слов. И команда US Baвytime и
          Наташа полностью оправдали наше доверие. Все вовремя, любые вопросы решались
          сразу, документы в полном порядке, профессионализм на высшем уровне! Спасибо
          вам за вашу поддержку, за нашего малыша, уезжали со слезами и обязательно
          вернемся!!
        </p>
      </li>
      <li>
        <p class="title">
          <b>Анна Иванова</b> прокомментировал(а),
        </p>

        <p class="content">
          <i>Анна Иванова says:</i> <br/>
          Хотела оставить отзыв о работе Натальи и
          ее команде.<br>
          С Натальей Кирк мы познакомились экстренно, когда мои посредники оказались не
          компетентны в вопросе документов, да и вообще, мошенниками. К сожалению, это
          случается сплошь и рядом в Маями. Приехавшие на пмж в сша русскоговорящие люди,
          как правило, занимаются всем: и недвижимостью, и родами, и иммиграций и и тд.
          И, стараются нагреть вновь прибывших соотечественников. Что и произошло в моем
          случае, как потом выяснилось, к сожалению, не только в моем. Оставшись без
          обещанных документов пришлось искать человека, который все-таки их сделать
          может. Всегда есть вариант делать документы самостоятельно, с поездками и
          заполнением бумажек и тд. Лично мне, при рождении ребенка, хотелось
          сконцентрироваться на самом главном и отдать “рутину” в надежные руки
          профессионалов. Я очень рада, что за помощью обратилась именно к Наталье. С
          опытом, особенно, с негативным, начинаешь ценить простые истины: честность,
          порядочность и профессионализм. На этот раз я заранее узнавала отзывы о работе
          Кирк и выбирала ее целенаправленно. При первом знакомстве с Натальей, я
          наконец-то расслабилась, что документы моей крошки будут в порядке и готовы в
          обещанные сроки. Более того, после проделанной работы, мне понадобилось внести
          кое-какие изменения в сертификат о рождении, что тоже было сделано очень оперативно.<br>
          Всех, кто ищет посредников для такого проекта, как роды в Маями, хочется
          предостеречь, что эти услуги не стоят по 10-20.000$ реально, от посредников мне
          были необходимы 3 вещи: найти квартиру, снять машину, и, самое главное,
          получить документы. В результате, пришлось все эти услуги искать уже
          непосредственно в Маями и самой. Выбирая посредников, узнавайте отзывы у
          реальных людей, кто рожал и получал документы с ними. Как правило, на их
          рекламных сайтах красивые выдуманные отзывы. Будущие мамы, не ленитесь, выбирая
          первых попавшихся посредников, чтобы потом не нервничать на последних сроках.<br>
          И еще раз, я очень благодарна Наталье Кирк, что она помогла мне в трудную
          минуту и честно и, главное, в срок, выполнила свою работу, искренне рекомендую
          ее компанию, обязательно обращюсь и в следующий раз, тк рожать в Маями моей
          семье очень понравилось <span><%= image_tag 'feedback_smile_002.gif', :class => 'smile' %></span>)
        </p>
      </li>
      <li>
        <p class="title">
          <b>Sergey Khachatryan</b> прокомментировал(а),
        </p>

        <p class="content">
          <i>Sergey Khachatryan says:</i> <br/>
          Наташа, спасибо тебе за то, что ты есть
          и за твою готовность оказать помощь даже в самых запущенных ситуациях, спасибо,
          что отдаешься этому процессу целиком и со всем сердцем. И это так круто, когда
          есть челоевк, который благодаря своим действиям снимает огромное количество
          хлопотных вопросов, позволяя наслаждаться временем проведенным в Майами с так
          чудесно пополнившейся семьей.Ты – лучшая!!!
        </p>
      </li>
      <li>
        <p class="title">
          <b>Alexey Markin</b> прокомментировал(а),
        </p>

        <p class="content">
          <i>Alexey Markin says:</i> <br/>
          Наталья, спасибо Вам! Сделали
          невозможное, и за кратчайшие сроки мы держали в руках документы нашей доченьки
          и смогли вовремя улететь домой! Так что и от наших родственников отдельное
          спасибо, нас очень ждали домой))) Очень хорошо, что далеко от дома есть
          человек, на которого можно положиться. Вы ответственный, надежный и отзывчивый
          человек!
        </p>
      </li>
      <!--comment 15-->
      <li>
        <p class="title">
          <b>Рената Галеева</b> прокомментировал(а),
        </p>

        <p class="content">
          <i>Рената Галеева says:</i> <br/>
          Выражаю глубокую благодарность Наталье
          Кирк и и доктору Wayne DiGiacomo, а также персоналу Birth Center ( Наталье
          Сепеде и доктору Деборе ). Спасибо за вашу работу ! Отдельное спасибо еще раз
          Наталье Кирк, чье содействие и неоценимая человеческая помощь , рекомендации
          мне, несомненно, очень помогли. Рождение ребенка – что может быть важнее? Я
          свой выбор сделала ! Всем тем, кто сейчас ожидает пополнения в семье и
          рассматривает перспективу родов в Маями, смело рекомендую помощь профессионала
          – Натальи Кирк и супердоктора DiGiacomo!
        </p>
      </li>
      <li>
        <p class="title">
          <b>Suren Davidov</b> прокомментировал(а),
        </p>

        <p class="content">
          <i>Suren Davidov says:</i> <br/>
          Не когда не устану говорить огромное
          человеческое спасибо за весь процесс организованный Натальей и ее
          командой!!!!!!!!!!!! Все честно, четко, БЕЗ нервов и профессионально!!!!!
        </p>
      </li>
      <li>
        <p class="title">
          <b>Ekaterina Tarasova</b> прокомментировал(а),
        </p>

        <p class="content">
          <i>Ekaterina Tarasova says:</i> <br/>
          Наталья – вы молодец и настоящий
          профессионал. И этим всё сказано! Спасибо вам!!! Катя и Павел
        </p>
      </li>
      <li>
        <p class="title">
          <b>Светлана</b> прокомментировал(а),
        </p>

        <p class="content">
          <i>Светлана says:</i> <br/>
          Хочу поделиться своим счастьем! О дочери
          я мечтала давно. Когда забеременнела, даже не сомневалась, что будет дочка
          Машенька. Нам через 4 дня месяц!!!! И я безумно счастлива. Для этого ребенка я
          хочу открыть максимальные возможности и перспективы и именно поэтому доченьку я
          рожала в Америке. Сопровождение и поддержку мне оказывала команда Натальи Кирк.
          Мое мнение по оказанным услугам: отличное сочетание цены и качества, девочки отвечают
          за все, что говорят и обещают, условия контракта выполнены полностью и в срок.
          У меня не возникало ни с чем проблем. Я прилетела одна, поэтому, конечно, мне
          очень нужна была поддержка и эта команда мне ее обеспечила. Очень быстро Наташа
          нашла квартиру, отвечающую моим пожеланиям, корректно и правдиво были
          рассказаны и показаны условия в роддоме и госпитале, поездки по моим личным
          целям, к педиатру были организованы также с учетом моих возможностей, очень
          быстро мы получили все документы, что позволило нам с дочкой улететь через 3
          недели после родов: нас ждали дома…..<br>
          Мое впечатление: хорошая команда и правильный подход. Мы все были как старые
          друзья: даже был отпразднован наш первый юбилей – 1 неделя Машеньки: с накрытым
          столом, подарками и гостями. Было супер!!! И это тоже организовала Наталья. Так
          что мало того, что решались т.н. производственные вопросы, не забывалась и
          эмоциональная поддержка. А это тоже очень важно.<br>
          Отдельно хочу сказать огромное спасибо сотрудникам роддома,где я рожала: Джанис
          Хеллер и Марии-Елене! Они молодцы. Профессионально, по-матерински заботливо,
          аккуратно они помогли появиться на свет моему чуду!<br>
          Мои выводы: всем приверженцам натуральных родов без анестезии рекомендую
          Берзцентр и акушерку Джанис: не пожалеете!!!!! И всем желающим дать своим детям
          чуть больше возможностей и широкий старт: рожайте в Америке, а за
          сопровождением обращайтесь к Наташе Кирк!!!
        </p>
      </li>
      <li>
        <p class="title">
          <b>Chernyshova Olga</b> прокомментировал(а),
        </p>

        <p class="content">
          <i>Chernyshova Olga says:</i> <br/>
          Доброго времени суток,друзья!!!<br>
          Хочу поделиться с вами своей историей рождения нашей американочки:),нашей
          малютки-Станиславы,которая передаёт привет из весеннего Питера:)Может быть это
          будет полезным сомневающимся мамочкам.<br>
          Прочитав множество отзывов,выбрала доктора Светлану Масляк.Наше знакомство с
          этим замечателным доктором превзошло все ожидания.Настолько простой в общении и
          открытый человек,что уже при первой встрече становится таким близким и
          родным!Профессионал своего дела,с ней ничего не страшно!!А какая замечательная
          у Светланы команда:Виктория и Мила,всегда готовые прийти на помощь в любую
          минуту!Безмерно им благодарна за тёплую атмосферу и доброжелательность!Каждый
          приём, как поход в гости к близким друзьям!<br>
          Свои роды вспоминаю как что-то самое волшебное событие в своей жизни!Никакой
          боли, никакого страха и негатива,только положительные, позитивные эмоции и
          такие замечательные люди рядом!Да,да, Наташечка,это я про тебя!Спасибо,моя
          хорошая,что всегда была и есть рядом,всегда готова помочь ,выслушать и
          подсказать!!Ты-замечательный человечек и я тебе желаю процветания,благополучия
          и адекватных беременных клиентов:)Знаю, что с нами иногда бывает сложно:)<br>
          Благодарна судьбе ,что мне посчастливилось познакомиться с тобой!!Целуем и
          обнимаем!!!
        </p>
      </li>
    </ol>


  </div>
</div>