<div>
    <h1 class="handwritten underlined font-large">Позвольте помочь вам начать новую жизнь…</h1>
    <p>
      При разработке концепции нашего сервиса мы
      исходили из того, что нашим клиентам гораздо               
      проще иметь решение всех своих задач и                         
      вопросов в одном месте. Поэтому мы оказываем              
      организационную, медицинскую, иммиграционную      
      и юридическую поддержку, а также комплексно              
      подходим к решению проблем на любом этапе вашей       и
      поездки.  
    </p>
                                                   
    <h3>Обратившись в нашу компанию, вы получите следующий комплекс услуг:</h3>
    <ul>
      <li>Визовую поддержку</li>
      <li>Страхование</li>
      <li>Услуги по бронированию билетов</li>
      <li>Услуги по аренде жилья</li>
      <li>Услуги по аренде авто</li>
      <li>Трансфер и сопровождение</li>
      <li>Сопровождение беременности и родов</li>
      <li>Подбор госпиталя</li>
    </ul>
    <ul>
    </ul>
    <ul>
      <li>Подбор врачей</li>
      <li>Оформление документов</li>
      <li>Сопутствующие услуги</li>
      <li>Иммиграционную поддержку</li>
      <li>Юридическую поддержку</li>
      <li>Услуги по развитию бизнеса</li>
      <li>Инвестиционные услуги</li>
    </ul>

    <div class="clear left">
      <h3>Нас рекомендуют</h3>
      <div>
        Мы хотим узнать Ваше мнение о нашей работе и узнать 
        больше о вашем  личном опыте в США. Посетите раздел 
        <%= link_to 'Нас рекомендуют', 'http://www.google.com' %>
        чтобы оставить комментарии.
      </div>
    </div><!--left-->

    <div class="right">
      <h3>К вашим услугам 24/7</h3>
      <div>
        В  нашей  команде  работают  только  квалифицированные 
        специалисты  различного  профиля  (доктора,  переводчики,
        юристы, финансовые консультанты, риэлторы,  фотографы, 
        гиды и другие), свободно владеющие несколькими языками.
        Посетите раздел <%= link_to 'Почему мы', page_why_choose_us_path %> 
        чтобы получить больше информации  о наших сотрудниках.
        Мы сотрудничаем с  крупнейшими  мировыми  агенствами
        делового  туризма    <%= link_to nil, 'http://continent.ru' %>,
        <%= link_to nil, 'http://cbtc.ru' %> и  агентствами
        полного  цикла профессиональных операций в области 
        корпоративных мероприятий, бизнес трэвел <%= link_to nil, 'http://maximice.ru' %> и другими.
      </div>
    </div><!--right-->
</div>