<div>
    <h1 class="underlined font-medium">Позвольте помочь вам начать новую <em class="handwritten" style="font-size: 1.2em;">жизнь.</em></h1>
    <p>
      При разработке концепции нашего сервиса мы исходили из того, что нашим клиентам гораздо проще
      иметь решение всех своих задач и вопросов в одном месте. Поэтому мы оказываем <span style="font-size: 1em;">организационную,
      медицинскую, иммиграционную и юридическую</span> поддержку, а также комплексно подходим к решению
      проблем на любом этапе вашей и поездки.
    </p>
                                                   
    <h3>Обратившись в нашу компанию, вы получите следующий комплекс услуг:</h3>
    <ul>
      <li>Визовую поддержку</li>
      <li>Страхование</li>
      <li>Подбор врачей</li>
      <li>Сопутствующие услуги</li>
      <li>Юридическую поддержку</li>
      <li>Подбор госпиталя</li>
      <li>Оформление документов</li>
      <li>Инвестиционные услуги</li>
    </ul>
    <ul>
      <li>Сопровождение беременности и родов</li>
      <li>Иммиграционную поддержку</li>
      <li>Услуги по развитию бизнеса</li>
      <li>Услуги по бронированию билетов</li>
      <li>Услуги по аренде жилья</li>
      <li>Услуги по аренде авто</li>
      <li>Трансфер и сопровождение</li>
    </ul>

    <div class="clear left" style="text-align: justify;">
      <h3>Нас рекомендуют</h3>
      <p>
        Мы - ведущая бизнес-группа компаний, специализирующаяся на реализации инициатив, которые направлены не
        только на  организацию и сопровождению родов в США, но и на предоставлении юридических и иммиграционных услуг,
        осуществление инвестиционных проектов и обеспечение устойчивого развития различных бизнесов. В бизнес-группу
        входят компании <%= link_to 'US BABY TIME', 'http://usbabytime.com' %>, <%= link_to 'Credit Services of America', 'http://www.creditservicesamerica.com' %>,
        <%= link_to 'American EB-5 Centers', 'http://americaneb5centers.com' %>, <%= link_to 'Data Business Systems', 'http://google.com' %>
        и многие другие.
      </p>
      <p>
        Мы хотим узнать Ваше мнение о нашей работе и узнать больше о вашем личном опыте в США.
        Посетите раздел <%= link_to 'Отзывы', 'http://google.com' %> чтобы оставить комментарии и узнать, что о нас пишут.
        С авторами отзывов Вы можете пообщаться на форуме <%= link_to 'Отзывы', 'https://www.facebook.com/groups/450956344973158/' %>.
      </p>
    </div><!--left-->

    <div class="right">
      <h3>К вашим услугам 24/7</h3>
      <p style="text-align: justify;">
        В нашей команде работают только квалифицированные специалисты различного профиля
         (доктора, переводчики, юристы, финансовые консультанты, риэлторы, фотографы,
        гиды и другие), свободно владеющие несколькими языками.
        Посетите раздел <%= link_to 'Почему мы', page_why_choose_us_path %> чтобы получить
        больше информации о наших сотрудниках. Мы сотрудничаем с крупнейшими мировыми агенствами
        делового туризма <%= link_to nil, 'http://continent.ru' %>, <%= link_to nil, 'http://cbtc.ru' %>
        и агентствами полного цикла профессиональных операций в области корпоративных мероприятий,
        бизнес трэвел <%= link_to nil, 'http://maximice.ru' %> и другими.
      </p>
    </div><!--right-->
</div>