<div>
  <p class="handwritten underlined" style="font-size: 30px; color: #663;">Лучшие моменты</p>

  <div class="popup-gallery">

    <a href="<%= asset_path('photo_gallery/__ALLA-79.jpg') %>" title="The Cleaner">
      <img src="<%= asset_path('photo_gallery/__ALLA-79.jpg') %>" height="100">
    </a>

    <a href="<%= asset_path('photo_gallery/__ET-20.jpg') %>">
      <img src="<%= asset_path('photo_gallery/__ET-20.jpg') %>" height="100">
    </a>

    <a href="<%= asset_path('photo_gallery/__ET-62.jpg') %>">
      <img src="<%= asset_path('photo_gallery/__ET-62.jpg') %>" height="100">
    </a>

    <a href="<%= asset_path('photo_gallery/__KEVA-236.jpg') %>">
      <img src="<%= asset_path('photo_gallery/__KEVA-236.jpg') %>" height="100">
    </a>

    <a href="<%= asset_path('photo_gallery/__KNLEM-179.jpg') %>">
      <img src="<%= asset_path('photo_gallery/__KNLEM-179.jpg') %>" height="100">
    </a>

    <a href="<%= asset_path('photo_gallery/__NAA-55.jpg') %>">
      <img src="<%= asset_path('photo_gallery/__NAA-55.jpg') %>" height="100">
    </a>

    <a href="<%= asset_path('photo_gallery/__Narine-162.jpg') %>">
      <img src="<%= asset_path('photo_gallery/__Narine-162.jpg') %>" height="100">
    </a>

    <a href="<%= asset_path('photo_gallery/__NK-187.jpg') %>">
      <img src="<%= asset_path('photo_gallery/__NK-187.jpg') %>" height="100">
    </a>

    <a href="<%= asset_path('photo_gallery/__NKE-48.jpg') %>">
      <img src="<%= asset_path('photo_gallery/__NKE-48.jpg') %>" height="100">
    </a>

    <a href="<%= asset_path('photo_gallery/__NKE-180.jpg') %>">
      <img src="<%= asset_path('photo_gallery/__NKE-180.jpg') %>" height="100">
    </a>

    <a href="<%= asset_path('photo_gallery/__Olga M-9.jpg') %>">
      <img src="<%= asset_path('photo_gallery/__Olga M-9.jpg') %>" height="100">
    </a>

    <a href="<%= asset_path('photo_gallery/__Tara-9.jpg') %>">
      <img src="<%= asset_path('photo_gallery/__Tara-9.jpg') %>" height="100">
    </a>

    <a href="<%= asset_path('photo_gallery/__Tara-147.jpg') %>">
      <img src="<%= asset_path('photo_gallery/__Tara-147.jpg') %>" height="100">
    </a>

    <a href="<%= asset_path('photo_gallery/__Tara-193.jpg') %>">
      <img src="<%= asset_path('photo_gallery/__Tara-193.jpg') %>" height="100">
    </a>

    <a href="<%= asset_path('photo_gallery/__TE-130.jpg') %>">
      <img src="<%= asset_path('photo_gallery/__TE-130.jpg') %>" height="100">
    </a>

    <a href="<%= asset_path('photo_gallery/__TM-49.jpg') %>">
      <img src="<%= asset_path('photo_gallery/__TM-49.jpg') %>" height="100">
    </a>

    <a href="<%= asset_path('photo_gallery/__ZIVF-85.jpg') %>">
      <img src="<%= asset_path('photo_gallery/__ZIVF-85.jpg') %>" height="100">
    </a>

  </div>

</div>