<div style="text-align: justify;">
  <h1 class="underlined handwritten" style="font-size: 30px;">Услуги</h1>

  <h3 style="text-align: left;"><%= link_to 'Организационные услуги', organize_index_path %></h3>

  <ul style="text-align: left">
    <li>
      <%= link_to organize_actual_help_path do %>
          Квалифицированная помощь при оформлении американской визы, страхование, бронировании билетов
      <% end %>
    </li>
    <li>
      <%= link_to organize_problem_resolve_path do %>
          Решение вопросов по подбору, аренде и покупке жилья
      <% end %>
    </li>
    <li>
      <%= link_to organize_transport_rent_path do %>
          Помощь в аренде транспортного средства на выгодных условиях
      <% end %>
    </li>
    <li>
      <%= link_to organize_transfer_path do %>
          Предоставление транспортных услуг
      <% end %>
    </li>
  </ul>

  <p>
    <span style="font-size: 1.3em;">Сопутствующие услуги</span>
  <p>
  <ul style="text-align: left">
    <li>
      <%= link_to organize_excursion_path do %>
          Экскурсии с профессиональными гидами, в том числе рыбалка на частной яхте с русскоязычным капитаном
      <% end %>
    </li>
    <li>
      <%= link_to organize_photographer_path do %>
          Профессиональный фотограф
      <% end %>
    </li>
    <li>
      <%= link_to organize_shopping_path do %>
          Шоппинг с дизайнером, посещение специализированных детских магазинов
      <% end %>
    </li>
    <li>
      <%= link_to organize_healthy_food_shopping_path do %>
          Покупка здоровой пищи со специалистом, посещение лучших рынков и магазинов, где можно приобрести
          подлинные натуральные продукты
      <% end %>
    </li>
    <li>
      <%= link_to organize_women_service_path do %>
          Сопровождение в салоны красоты и подбор женских услуг
      <% end %>
    </li>
    <li>
      <%= link_to organize_ticket_reservation_path do %>
          Помощь в бронировании былетов на различные мероприятия
      <% end %>
    </li>
    <li>
      <%= link_to organize_english_courses_path do %>
          Подбор курсов английского языка
      <% end %>
    </li>
    <li>
      <%= link_to organize_parent_courses_path do %>
          Подбор других курсов для родителей
      <% end %>
    </li>
    <li>
      <%= link_to organize_kid_garden_path do %>
          Подбор детских садов, школ и различных детских кружков. Предоставление необходимой консультации
      <% end %>
    </li>
    <li>
      <%= link_to organize_translation_service_path do %>
          Предоставление квалифицированного переводчика</li>
      <% end %>
      </ul>


  <h3 style="text-align: left;"><%= link_to 'Сопровождение беременности и родов', support_index_path %></h3>
  <ul style="text-align: left">
    <li>
      <%= link_to support_doctor_appointment_path do %>
          Сопровождение на регулярные приемы к врачу-гинекологу
      <% end %>
    </li>
    <li>
      <%= link_to support_kid_doctor_appointment_path do %>
          Сопровождение на регулярные приемы к врачу-педиатру
      <% end %>
    </li>
    <li>
      <%= link_to support_borning_help_path do %>
          Сопровождение на роды и помощь при выписке из госпиталя
      <% end %>
    </li>
    <li>
      <%= link_to support_paperwork_path do %>
          Оформление документов США и РФ
      <% end %>
    </li>
    <li>
      <%= link_to support_hospital_path do %>
          Подбор госпиталя
      <% end %>
    </li>
    <li>
      <%= link_to support_doctor_selection_path do %>
          Выбор врача-гинеколога и врача-педиатра
      <% end %>
    </li>
  </ul>

  <p>
    <span style="font-size: 1.3em;">Сопутствующие услуги</span>
  <p>

  <ul style="text-align: left">
    <li>
      <%= link_to support_babysitter_service_path do %>
          Услуги няни и гувернантки
      <% end %>
    </li>
    <li>
      <%= link_to support_child_baptized_path do %>
          Крещение вашего ребенка
      <% end %>
    </li>
    <li>
      <%= link_to support_parent_cure_path do %>
          Лечение родителей в лучших клиниках США
      <% end %>
    </li>
  </ul>

  <h3 style="text-align: left;"><%= link_to 'Иммиграционные и инвестиционные услуги', immigration_index_path %></h3>
  <ul style="text-align: left">
    <li>
      <%= link_to immigration_change_usa_status_path do %>
          Изменение статуса в США
      <% end %>
    </li>
    <li>
      <%= link_to immigration_bussines_and_work_path do %>
          Организация Вашего бизнеса и работы в США
      <% end %>
    </li>
    <li>
      <%= link_to immigration_immigration_path do %>
          Иммиграция в США (EB5 и другие визы)
      <% end %>
    </li>

    <li>
      <%= link_to immigration_immigration_service_path do %>
          Инвестиционные услуги
      <% end %>
    </li>
    <li>
      <%= link_to immigration_lawyer_consulting_path do %>
          Оперативные консультации адвокатов
      <% end %>
    </li>
  </ul>
  <p>
    Если Вас интересует какой-либо другой вопрос – вы всегда
    можете <%= link_to('обратиться к нам', page_contact_us_path) %>  24/7:
  </p>

  <p>
    Посетите раздел <%= link_to 'О нас', page_about_us_path %>, чтобы получить больше информации о нашей компании.
  </p>

  <p>
    Бизнес-группа компаний, в которую входят компании <%= link_to 'US BABY TIME', 'http://usbabytime.com' %>,
    <%= link_to 'Credit Services of America', 'http://www.creditservicesamerica.com' %>,
    <%= link_to 'American EB-5 Centers', 'http://americaneb5centers.com' %>,
    <%= link_to 'Data Business Systems', 'http://dbsmanage.com' %>,
    и многие другие активно вовлечена в благотворительную деятельность и является членом сообществ, которые безвозмездно
    помогают людям.
    <br/>
    Поддержите благотворительные организации наших партнеров:
    <%= link_to 'http://www.cjfoundation.net/', 'http://www.cjfoundation.net/' %>
    , <%= link_to 'http://jdchfoundation.org/', 'http://jdchfoundation.org/' %>.
  </p>
</div>