<div style="text-align: justify;">
<h1 class="underlined handwritten" style="font-size: 30px;">Почему Мы?</h1>
<p>
  <span style="font-size: 1.5em;">Индивидуальный подход к каждому клиенту</span> и возможность выбора услуг позволит Вам не переплачивать 10-ки тысяч
  долларов.
</p>
<p>
  <span style="font-size: 1.5em;">Наша команда всегда Вам поможет</span>, даже если Вы приняли решение рожать без посредников и столкнулись с трудностями на
  каком-либо этапе. Посетите раздел <%= link_to 'О нас', page_about_us_path %> чтобы получить
  больше информации о нашей компании.
</p>
  <div>
    <a class="image-popup-vertical-fit" href="<%= asset_path('sert/sert_1.bmp') %>">
      <%= image_tag 'sert/sert_1.bmp', :width => 140, :height => 200, :style => 'margin-left: 70px;' %>
    </a>
    <a class="image-popup-vertical-fit" href="<%= asset_path('sert/sert_2.bmp') %>">
      <%= image_tag 'sert/sert_2.bmp', :width => 140, :height => 200, :style => 'margin-left: 15px;' %>
    </a>
  </div>
<p>
  При разработке концепции нашего сервиса мы исходили из того, что нашим клиентам гораздо проще иметь <span style="font-size: 1.5em;">решение всех
  задач и вопросов в одном месте</span>, чем посещать различные одиночные сайты и платить за это деньги. Поэтому в нашей
  команде работают <span style="font-size: 1.5em;">квалифицированные специалисты различного профиля</span> (доктора, переводчики, юристы, финансовые
  консультанты, риэлторы, фотографы, гиды и другие), свободно владеющие несколькими языками.
</p>
<p>
  Наше <span style="font-size: 1.5em;">отношение к клиенту всегда одинаково профессионально</span>, в независимости от финансовой платежеспособности, формы и
  размера возникшей проблемы. Любому клиенту мы окажем грамотные и действенные, а главное — <span style="font-size: 1.5em;">приемлемые в своей стоимости
  услуги</span>.
</p>
<p>Мы <span style="font-size: 1.5em;">всегда открыты</span> как для широкого и полноценного сотрудничества, так и для поддержки в отдельных вопросах.</p>
<p>
  Мы <span style="font-size: 1.5em;">не просим предоплату</span> до Вашего приезда в США. Мы прекрасно понимаем, что, скорее всего мы с Вами не знакомы лично.
  Перечислять деньги незнакомым людям в другой стране, до приезда в США, как это просят многие “ассистант” компании, –
  стресс для любого человека. Поэтому мы не просим предоплату до Вашего приезда в США. Если Вы вдруг измените свое
  решение или по каким-то причинам решите не сотрудничать с нашей компанией, Вам не придется беспокоиться по поводу
  возврата аванса. Оплата производится только после прилёта в Майами и знакомства с Вашим личным помощником.
</p>
<p>Мы не включаем в состав нашего с Вами договора услуги госпиталя и доктора.</p>
<p>
  Мы <span style="font-size: 1.5em;">гарантируем полную конфиденциальность!</span> Наши клиенты – это люди, которые ценят комфорт и свой статус, несмотря на
  то, что расценки на наши услуги одни из самых демократичных.
</p>
<p>
  Мы стараемся распределять обязанности таким образом, чтобы 1 сотрудник компании US Baby Time вёл не более 2-3
  беременных девушек одновременно. Это позволяет нам уделять своевременно и достаточно внимания нашим Клиентам.
</p>
<p>
  <span style="font-size: 1.5em;">Нас знают!</span> Вы можете ознакомиться с отзывами о нашей работе в форуме “Роды в США”
  – <%= link_to 'здесь.', 'http://www.deliveryinusa.com/?page_id=6974' %>
  Кроме того, с нашими клиентами Вы можете пообщаться лично. Многие из них, с
  удовольствием дадут свои рекомендации.
</p>
  <div>
    <a class="image-popup-vertical-fit" href="<%= asset_path('sert/sert_4.bmp') %>">
      <%= image_tag 'sert/sert_4.bmp', :width => 140, :height => 180, :style => 'margin-left: 40px;' %>
    </a>
    <a class="image-popup-vertical-fit" href="<%= asset_path('sert/sert_3.bmp') %>">
      <%= image_tag 'sert/sert_3.bmp', :width => 200, :height => 140, :style => 'margin-left: 15px;' %>
    </a>
  </div>
  <p>
  Посетите раздел <%= link_to 'Отзывы', '/' %> чтобы оставить комментарии и узнать, что о нас пишут.
</p>

<p>
  Группа компаний, в которую входит компания US BABY TIME активно вовлечена в благотворительную деятельность и является
  членом сообществ, которые безвозмездно помогают людям. Поддержите благотворительные организации наших партнеров:
  <%= link_to 'http://www.cjfoundation.net/', 'http://www.cjfoundation.net/' %>, <%= link_to 'http://jdchfoundation.org/', 'http://jdchfoundation.org/' %>.
</p>
</div>