<% content_for :banner do %>
    <%= link_to support_index_path do %>
        <div style="height: 200px">
          <%= image_tag 'banner_support.jpg', :class => 'banner' %>
          <p class="banner" style="padding-top: 18px; height: 26px;">
            <i>
              US BABY TIME - компания для обеспечения высокого качества Вашей жизни во Флориде
            </i>
          </p>
        </div>
    <% end %>
<% end %>
<div style="text-align: justify;">
  <h1 class="underlined font-large">Услуги няни и
    <em class="handwritten" style="font-size: 30px;">гувернантки</em></h1>

  <p>
    <span style="font-size: 1.5em;">Современный темп жизни диктует нам, молодым родителям, свои условия.</span>
    И если еще десять-пятнадцать лет назад такая роскошь, как услуги няни для ребенка была доступна, лишь крайне
    обеспеченным людям, сейчас подобные услуги стали жизненной необходимостью.
  </p>

  <h3>Компания US BABY TIME предлагает:</h3>
  <ul>
    <li>Услуги няни для грудничка</li>
    <li>Няня (воспитатель) для ребенка дошкольного возраста</li>
    <li>Няня для ребенка школьного возраста</li>
    <li>Гувернера;</li>
  </ul>

  <div>
    <%= image_tag 'extra/24_1_1.jpg', :width => 160, :height => 120, :style => 'margin-left: 20px;' %>
    <%= image_tag 'extra/24_1_2.jpg', :width => 200, :height => 120, :style => 'margin-left: 14px;' %>
  </div>

  <h3>В обязанности няни входит:</h3>
  <ul>
    <li>Соблюдение режима</li>
    <li>Уход и кормление ребенка</li>
    <li>Прогулки</li>
    <li>Физическое развитие</li>
    <li>Поддержание порядка в детской комнате</li>
    <li>Содержание в порядке детских вещей</li>
    <li>Развитие по возрасту</li>
  </ul>

  <h3>Няни могут работать по следующим режимам:</h3>
  <ul>
    <li>На полный рабочий день</li>
    <li>Неполный рабочий день</li>
    <li>Несколько раз в неделю</li>
    <li>Несколько часов для прогулок, сопровождения ребёнка в школы, секции и т.п.</li>
    <li>Ночной график работы</li>
    <li>С проживанием в Вашем доме</li>
  </ul>
  <p>
    Наши няни и гувернеры имеют высшее или среднее педагогическое образование, опыт работы с детьми в госучреждениях
    или семьях, положительные рекомендации с прошлых мест работы, хороший культурный уровень, владеют несколькими
    языками.
  </p>

  <p>
    Менеджеры компании US BABY TIME c удовольствием ответят на все Ваши вопросы и подберут ту няню, которая будет лучшим
    другом для Вас и Вашего ребенка.
  </p>

  <p>Посетите раздел <%= link_to 'О нас', page_about_us_path %>, чтобы больше узнать о нашей компании.</p>

  <div>
    <%= image_tag 'extra/24_2_1.jpg', :width => 220, :height => 140, :style => 'margin-left: 120px;' %>
  </div>

</div>