<% content_for :banner do %>
    <%= link_to support_index_path do %>
        <div style="height: 200px">
          <%= image_tag 'banner_support.jpg', :class => 'banner' %>
          <p class="banner" style="padding-top: 18px; height: 26px;">
            <i>
              US BABY TIME - компания для обеспечения высокого качества Вашей жизни во Флориде
            </i>
          </p>
        </div>
    <% end %>
<% end %>
<div style="text-align: justify;">
  <h1 class="underlined font-large" style="text-align: left;">Сопровождение на роды и помощь при выписке из
    <em class="handwritten" style="font-size: 30px;">госпиталя</em></h1>

  <p>
    <span style="font-size: 1.5em;">
    Встречайте самое главное событие в Вашей жизни под солнцем солнечного штата Флорида вместе с Вашей семьей.
    Все формальности и заботы оставьте специалистам компании US BABY TIME.
    </span>
  </p>

  <p>
    Специалисты компании US BABY TIME окажут сопровождение в госпиталь на роды:
    <%= link_to 'трансферт', organize_transfer_path %> в госпиталь, оформление документов при поступлении в госпиталь,
    сопровождение при проведении первичного обследования, при необходимости предоставление
    <%= link_to 'ассистента-переводчика', organize_translation_service_path %> на весь период пребывания в медицинском
    учреждении, а также контоль получения пакета документов о выполнении всех финансовых обязательств между Вами и
    госпиталем.</p>

  <div>
    <%= image_tag 'extra/21_1_1.jpg', :width => 200, :height => 120, :style => 'margin-left: 15px;' %>
    <%= image_tag 'extra/21_1_2.jpg', :width => 180, :height => 120, :style => 'margin-left: 15px;' %>
  </div>

  <p>
    Находясь в госпитале будущей маме будет оказано полное комплексное обслуживание в зависимости от ее состояния:
    эпидуральная анестезия, снятие симптомов боли после родов, предоставление одноместной палаты на два дня при
    естественных родах и на три дня при кесаревом сечении, индивидуальное питание, телевидение, интернет и возможность
    использования детской комнатой. С более подробной информацией об условиях предоставления палат и сервиса Вы можете
    ознакомиться в разделе <%= link_to 'Подбор госпиталя', support_hospital_path %>.</p>

  <p>
    Наши специалисты окажут Вам сопровождение при выписке из госпиталя, а именно: трансферт домой, оформление
    документов при выписке из госпиталя, в том числе получение всех квитанций об оплате, предоставят при необходимости
    ассистента-переводчика при выписке из госпиталя.
  </p>

  <p>
    Подробнее ознакомиться с нашими <b>ценами</b> Вы можете <%= link_to 'здесь', page_price_path %>.
  </p>

  <div>
    <%= image_tag 'extra/21_2_1.jpg', :width => 240, :height => 160, :style => 'margin-left: 95px;' %>
  </div>

</div>