<% content_for :banner do %>
    <%= link_to support_index_path do %>
        <div style="height: 200px">
          <%= image_tag 'banner_support.jpg', :class => 'banner' %>
          <p class="banner" style="padding-top: 18px; height: 26px;">
            <i>
              US BABY TIME - компания для обеспечения высокого качества Вашей жизни во Флориде
            </i>
          </p>
        </div>
    <% end %>
<% end %>
 
<div class='doctor_detail' >
  <h1 class="underlined" style="text-align: center;">Розлин Бонилла</h1>
  <p style="text-align: center;">
  <%= link_to 'Отзывы о докторе', 'http://forum.deliveryinusa.com/viewforum.php?f=166' %>
  <%= link_to 'Прайс-лист на услуги', '/Doctors+hospitals.pdf' %>
  </p>
  <p style="text-align: center;"><b>Адрес:</b> 230 Park Street, Miami Springs, FL, 33166</p>
  <a class="image-popup-vertical-fit" href="<%= asset_path('doctor_5_1.jpg') %>">
    <%= image_tag 'doctor_5_1.jpg' %>
  </a>
  <p>
    Розалин Бонила , 42 года, доктор Медицины. Получила диплом врача в Mount Sinai School of Medicine в Нью-Йорке в 1995 году.  Это учебное заведение занимает 44 место в списке 144 лучших учебных заведений в области медицины по версии US News и World Report. Затем она закончила интернатуру и резидентуру в Cooper Hospital – Robert W. Johnson School of Medicine в Нью-Джерси. Доктор Бонила сертифицирована Советом Акушерства и Гинекологии, является членом Медицинской Ассоциации Южной Флориды. Розалин Бонила родом из Нью-Йорка, где она работала акушер-гинекологом в Нью-Йоркском Presbyterian Hospital, а также работала в Weill Cornell Medical College в качестве доцента. Имеет 17-летний опыт работы, мама двоих детей. Невероятно внимательная и чуткая по отношению к своим пациентам, доктор Бонила всегда внимательно прислушивается к желанию будущей мамы и идёт на встречу своим пациентам. Владеет английским и испанским языками, и, из-за большого количества русских пациентов, уже даже начинает немного понимать русский язык.Доктор Бонила дважды, в 2010 и в 2011 г., стала обладательницей награды «Добрый Доктор» и уже четыре года подряд становится победительницей в номинации «Выбор Пациента» (Patients’ Choice Award: 2008 — 2011). У неё своя частная практика в городе Miami Springs, Флорида.
  </p>
  <p> 
  Стоимость ведения беременности и родов у доктора Bonilla Roselyn:
  <ul>
  <li>натуральные: 3 900$</li>
  <li>кесарево сечение: 3 900$</li>
  </ul>
  </p>

  <p> 
    Bonilla Roselyn прикреплена к госпиталю:
  <ul>
    <li><%= link_to 'Mount Sinai Medical Center', support_hospital_3_path %></li>
  </ul>
</p>
</div>