<% content_for :banner do %>
    <%= link_to support_index_path do %>
        <div style="height: 200px">
          <%= image_tag 'banner_support.jpg', :class => 'banner' %>
          <p class="banner" style="padding-top: 18px; height: 26px;">
            <i>
              US BABY TIME - компания для обеспечения высокого качества Вашей жизни во Флориде
            </i>
          </p>
        </div>
    <% end %>
<% end %>
<div class='doctor_detail' >
  <h1 class="underlined" style="text-align: center;">Уэйн ДиЖиакомо</h1>
  <p style="text-align: center;">
  <%= link_to 'Отзывы о докторе', 'http://forum.deliveryinusa.com/viewforum.php?f=478' %>
  <%= link_to 'Прайс-лист на услуги', '/Doctors+hospitals.pdf' %>
  </p>
  <p style="text-align: center;"><b>Адрес:</b> 3001W Hallandale Beach BLVD., Hallandale, FL 33009</p>
  <div class="photo">
    <a class="image-popup-vertical-fit" href="<%= asset_path('doc_2.jpg') %>">
      <%= image_tag 'doc_2.jpg' %>
    </a>
  </div>
  <p>
    Врач высшей категории,<br>
    Профессор кафедр Гинекологии и Акушерства Barry University и Nova University.
  </p>
  <p>
    Доктор Wayne DiGiacomo, входит в число лучших акушеров-гинекологов Флориды с более чем 30-летним опытом работы
  </p>
  <p>
    1972 - 1977: закончил с отличием  Медицинский Римский университет SUMMA CUM LAUDE, Рим, Италия <br/>
    Образование в США – UNIVERSITY OF MIAMI <br/><br/>
    1977 - 1981: Закончил с отличием  как Главный Резидент в Акушерстве и Гинекологии <br/><br/>
    1981 - 1992: частная практика <br/><br/>
    Brooks , Ди Джакомо И Гельман MD PA <br/>
    * Акушерства Гинекологии * Перинатологии * Планирование семьи * Высокий риск акушерства * Бесплодия * Тазовой хирургии
    * PELVISCOPY * Лазерная хирургия <br/><br/>
    1992 - 1994: Медицинский директор *Лучшее для детей* округа Бровард (коалиция-здоровые дети / матери) <br/><br/>
    1992 - 2000: Эксперт в Департаменте Регулирования Здравоохранения <br/><br/>
    Начальник службы Здравоохранения, Таллахасси, Флорида <br/><br/>
    Консультант в делах высокого риска для акушерства и гинекологии <br/><br/>
    С его супругой воспитывают четверых детей, Всем четверым сам помогал родиться на свет. <br/><br/>
    Основатель и владелец родового центра Халландейла
  </p>
  <p>
    Уэйн ДиДжакомо, или, как его все называют, «Доктор Ди», член Американской коллегии акушеров-гинекологов
    (www.acog.org). Доктор Ди глубоко верит в то, что природа наделила женщин способностью рожать детей без чрезмерного
    медицинского вмешательства. Он убежден, что женщины достигают наилучших результатов в родах и последующем
    восстановлении, если акушер-гинеколог позволяет природным процессам идти своим чередом. Основываясь на этом своем
    убеждении и большом практическом опыте приема родов, он вместе со своей женой и коллегой, лицензированной акушеркой
    Деборой ДиДжакомо основал Коалицию за право выбора при деторождении. В случае осложненных родов Уэйн ДиДжакомо
    принимает роды в условиях больницы.
  </p>
  <h3>
  Стоимость ведения беременности и родов у доктора DiGiacomo Wayne:
  </h3>
  <ul>
    <li>Натуральные: 4 500$</li>
    <li>Кесарево сечение: 4 500$</li>
  </ul>

  <h3>
  DiGiacomo Wayne прикреплен к госпиталю:
  </h3>
  <ul>
    <li>Memorial Regional Hospital</li>
    <li><%= link_to 'Broward General Medical Center', support_hospital_1_path %></li>
  </ul>

      <p style="text-align: left;">
  После приёма:
        <a class="image-popup-vertical-fit" href="<%= asset_path('doctor_2_1.jpg') %>">
          <%= image_tag 'doctor_2_1.jpg' %>
        </a>
        <a class="image-popup-vertical-fit" href="<%= asset_path('doctor_2_2.jpg') %>">
          <%= image_tag 'doctor_2_2.jpg' %>
        </a>
        <a class="image-popup-vertical-fit" href="<%= asset_path('doctor_2_3.jpg') %>">
          <%= image_tag 'doctor_2_3.jpg' %>
        </a>
  На пикнике “US Baby Time”. Доктор ДиЖиакомо со своими клиентами.
        <a class="image-popup-vertical-fit" href="<%= asset_path('doctor_2_4.jpg') %>">
          <%= image_tag 'doctor_2_4.jpg' %>
        </a>
  </p>
</div>