<% content_for :banner do %>
    <%= link_to support_index_path do %>
        <div style="height: 200px">
          <%= image_tag 'banner_support.jpg', :class => 'banner' %>
          <p class="banner" style="padding-top: 18px; height: 26px;">
            <i>
              US BABY TIME - компания для обеспечения высокого качества Вашей жизни во Флориде
            </i>
          </p>
        </div>
    <% end %>
<% end %>
 
<div class='doctor_detail' >
  <h1 class="underlined" style="text-align: center;">Семен Цинкер</h1>
  <p style="text-align: center;">
  <%= link_to 'Отзывы о докторе', 'http://forum.deliveryinusa.com/viewforum.php?f=173' %>
  <%= link_to 'Прайс-лист на услуги', '/Doctors+hospitals.pdf' %>
  </p>
  <p style="text-align: center;"><b>Адрес:</b> 2500 E. Hallandale Beach Blvd #207, Hallandale, Fl, 33009</p>
  <%= image_tag 'doctor_4_1.jpg' %>
  <p>
    1972 год – работает в «Mount Sinai Hospital» <br/>
    1975 год – получил сертификат ECFMG <br/>
    1976-1982 г.г. – работает в Нью-Йорке: клиники «Wychoff Heights Hospital» и «Jewish Hospital» <br/>
    1982 год – начал работать в «Florida Medical Center South» <br/>
    1985-1987 г.г. – возглавил отделение по подготовке стажеров в медицинском центре «Florida Medical Center South» в г.Майами <br/>
    1994-1996 г.г. – куратор Специальных Проектов в области акушерства и гинекологии (Special Delivery Program) в клинике «Westside Regional Hospital» <br/>
    1996-1998г.г. – заведующий отделением акушерства и гинекологии медицинского центра «Florida Medical Center South» в г. Майами.В настоящее время доктор работает заместителем заведующего отделением акушерства и гинекологии в одном из крупнейших и современнейших медицинских центров США, расположенном в г.Майами. <br/>
    Этим человеком движет настоящее и искреннее желание помочь женщине родить крепкого и здорового малыша. Для доктора Цинкера нет ничего невозможного или сложного. Его профессия – это его призвание. Он до последнего будет бороться за то, чтобы женщина родила естественным путем. Если встречаются нестандартные ситуации во время беременности, то мамы едут рожать к нему со всех Соединенных Штатов, а также и из других стран. Доктор Цинкер специализируется на естественных родах с тазовым предлежанием плода, родах двойни и т.п. Очень редко роды у этого доктора заканчиваются кесаревым сечением. Именно поэтому так часто его выбирают русские женщины, желающие самостоятельно родить малыша.
    <br/>
    Доктор Цинкер отлично говорит по-русски, так как родился в Одессе. <br/>
    Семен Цинкер – один из лучших врачей, которых можно пожелать будущим мамам. В личной жизни доктор Цинкер замечательный любящий муж, а также отец и наставник для своего сына.
    <br/>
  </p>
   
  <p> 
  Стоимость ведения беременности и родов у доктора Семена Цинкера:
  <ul>
  <li>натуральные: 6 000$</li>
  <li>кесарево сечение: 6 300$</li>
  </ul>
  </p>

  <p> 
    Семен Цинкер прикреплен к госпиталю:
  <ul>
    <li><%= link_to 'Broward General Medical Center', support_hospital_1_path %></li>
  </ul>
  <%= image_tag 'doctor_4_2.jpg' %>
</p>
</div>