<% content_for :banner do %>
    <%= link_to support_index_path do %>
        <div style="height: 200px">
          <%= image_tag 'banner_support.jpg', :class => 'banner' %>
          <p class="banner" style="padding-top: 18px; height: 26px;">
            <i>
              US BABY TIME - компания для обеспечения высокого качества Вашей жизни во Флориде
            </i>
          </p>
        </div>
    <% end %>
<% end %>
<div class='doctor_detail' >
  <h1 class="underlined" style="text-align: center;">Илеана Перес </h1>
  <p style="text-align: center;">
  <%= link_to 'Отзывы о докторе', 'http://forum.deliveryinusa.com/viewforum.php?f=497' %>
  <%= link_to 'Прайс-лист на услуги', '/Doctors+hospitals.pdf' %>
  </p>
  <p style="text-align: center;"><b>Адрес:</b> 230 Park Street, Miami Springs, FL, 33166</p>
  <%= image_tag 'doctor_6_1.jpg' %>
  <p>
    Илеана Перес, M.D., F.A.C.O.G. выпускник Florida International University и University of Miami Medical School.
  </p>
  <p>
    Доктор Перес долгое время практиковала в Jackson Memorial Hospital и в настоящее время работает в Mount Sinai Medical Center на South Beach.
  </p>
  <p>
    Доктор Перес является сертифицированным акушером – гинекологом.
  </p>
  <p>
    Доктор Перес работает в команде доктора Розлин Бонила, и отлично зарекомендовала себя в работе с русскоговорящими пациентами.
  </p>
</div>