<% content_for :banner do %>
    <%= link_to support_index_path do %>
        <div style="height: 200px">
          <%= image_tag 'banner_support.jpg', :class => 'banner' %>
          <p class="banner" style="padding-top: 18px; height: 26px;">
            <i>
              US BABY TIME - компания для обеспечения высокого качества Вашей жизни во Флориде
            </i>
          </p>
        </div>
    <% end %>
<% end %>
<div class="doctor">
  <h1 class="underlined font-large">Гинекологи в <em class="handwritten" style="font-size: 30px;">Майами</em></h1>


  <div class="doc_info">
    <div class="title">
      Уэйн ДиДжакомо
    </div>
    <div class="photo">
      <%= image_tag 'doc_2.jpg' %>
    </div>
    <div class="about">
      <p>
        Врач высшей категории, Профессор кафедр Гинекологии и Акушерства Barry University и Nova University. Доктор
        Wayne DiGiacomo, входит в число лучших акушеров-гинекологов Флориды с более чем 30-летним опытом работы.
        <a href="/support/doctor/2">Далее …</a>
      </p>
    </div>
  </div>

  <div class="doc_info">
    <div class="title">
      Светлана Масляк
    </div>
    <div class="photo">
      <%= image_tag 'doc_3.jpg' %>
    </div>
    <div class="about">
      <p>
        Светлана Масляк – профессионал своего дела, акушер-гинеколог, доктор медицины, член Американского Совета по
        вопросам акушерства и гинекологии.
        <br/>
        В 1987 году Светлана закончила Ивано-Франковскую Медицинскую Академию. <br/>
        В 2005 году доктор Масляк окончила Университет медицины и стоматологи в Нью-Джерси со специализацией Акушерство
        и гинекология
        <a href="/support/doctor/3">Далее …</a>
      </p>
    </div>
  </div>

  <div class="doc_info">
    <div class="title">
      Семен Цинкер
    </div>
    <div class="photo">
      <%= image_tag 'doc_4.jpg' %>
    </div>
    <div class="about">
      <p>
        Этим человеком движет настоящее и искреннее желание помочь женщине родить крепкого и здорового малыша. Для
        доктора
        Цинкера нет ничего невозможного или сложного. Его профессия – это его призвание. Он до последнего будет бороться
        за
        то, чтобы женщина родила естественным путем. Если встречаются нестандартные ситуации во время беременности, то
        мамы
        едут рожать к нему со всех Соединенных Штатов, а также и из других стран.
        <a href="/support/doctor/4">Далее …</a>
      </p>
    </div>
  </div>

  <div class="doc_info">
    <div class="title">
      Розлин Бонилла
    </div>
    <div class="photo">
      <%= image_tag 'doc_5.jpg' %>
    </div>
    <div class="about">
      <p>
        Розалин Бонилла, 42 года, доктор Медицины. Невероятно внимательная и чуткая по отношению к своим пациентам,
        доктор
        Бонилла всегда внимательно прислушивается к желанию будущей мамы и идёт на встречу своим пациентам. Владеет
        английским
        и испанским языками, и, из-за большого количества русских пациентов, уже даже начинает немного понимать русский
        язык.
        <a href="/support/doctor/5">Далее …</a>
      </p>
    </div>
  </div>

  <div class="doc_info">
    <div class="title">
      Илеана Перес
    </div>
    <div class="photo">
      <%= image_tag 'doc_6.jpg' %>
    </div>
    <div class="about">
      <p>
        Илеана Перес (Perez Ileana) доктор Медицины, выпускник Florida International University и University of Miami
        Medical
        School. Доктор Перес долгое время практиковала в Jackson Memorial Hospital и в настоящее время работает в Mount
        Sinai
        Medical Center на South Beach. Доктор Перес является сертифицированным акушером – гинекологом.
        <a href="/support/doctor/6">Далее …</a>
      </p>
    </div>
  </div>

  <div class="doc_info">
    <div class="title">
      Матар Набил
    </div>
    <div class="photo">
      <%= image_tag 'doc_7.jpg' %>
    </div>
    <div class="about">
      <p>
        Доктор Набил – выходец из Египта и один и самых бюджетных докторов. Госпиталь, в котором принимает Матар – тоже
        является одним из самых приемлемых по цене. Имея большой опыт работы в своей профессии, Матар придерживается
        политики
        увеличения объема выполняемой работы, нежели увеличения стоимости услуг.
        <a href="/support/doctor/7">Далее …</a>
      </p>
    </div>
  </div>

</div>
