<% content_for :banner do %>
    <%= link_to support_index_path do %>
        <div style="height: 200px">
          <%= image_tag 'banner_support.jpg', :class => 'banner' %>
          <p class="banner" style="padding-top: 18px; height: 26px;">
            <i>
              US BABY TIME - компания для обеспечения высокого качества Вашей жизни во Флориде
            </i>
          </p>
        </div>
    <% end %>
<% end %>
<div style="text-align: justify;">
  <h1 class="underlined font-large">Сопровождение на регулярные приемы к
    <em class="handwritten" style="font-size: 30px;">врачу-гинекологу</em></h1>

  <p>
    <span style="font-size: 1.5em;">
    Во Флориде врачи обладают потрясающим чувством юмора, на работе и вне офиса их всегда можно встретить только с
    улыбкой и в хорошем настроении!
    </span>
  </p>

  <p>
    Мы хотим сделать так, чтобы в Вашей жизни период беременности стал особенно приятным и спокойным, без лишней суеты,
    очередей и тревог. Специалисты компании US BABY TIME разделят и поймут радости и заботы будущей мамы, а также
    обеспечат высокопрофессиональное и комфортное сопровождение на все Ваши приемы к врачу-гинекологу:
    <%= link_to 'трансферт', organize_transfer_path %>, оформление необходимых документов при первичном приеме,
    сопровождение при проведении плановых обследований, предоставление при необходимости
    <%= link_to 'ассистента-переводчика', organize_translation_service_path%> на протяжении всего времени ведения
    беременности, помощь при оплате, а также контроль получения пакета документов о выполнении всех финансовых
    обязательств между Вами и врачом-гинекологом.
  </p>
  <div>
    <%= image_tag 'extra/19_1_1.jpg', :width => 200, :height => 120, :style => 'margin-left: 10px;' %>
    <%= image_tag 'extra/19_1_2.jpg', :width => 200, :height => 120, :style => 'margin-left: 15px;' %>
  </div>
  <p>
    Будущая мама в одном месте сдаст все анализы, пройдет диспансерный осмотр несколькими специалистами, здесь же она
    пройдет обязательное обследование и УЗИ-скрининг.
  </p>

  <p>
    Важно, что все обследования проводятся в удобное время, быстро и, самое главное, безопасно и безболезненно, так как
    во всех <b>наших партнерских клиниках</b> используются только самые современные технологии.
  </p>

  <div>
    <%= image_tag 'extra/19_2_1.bmp', :width => 260, :height => 200, :style => 'margin-left: 90px;' %>
  </div>

  <p>
    Согласно многочисленным наблюдениям наших сотрудников, в Майами беременность наступает быстрее, чем в остальных
    местах, и намного легче переносится. Малыши рождаются здоровыми и спокойными, а мамы быстрее восстанавливаются после
    родов. Именно поэтому у будущей мамы во Флориде остается не так уж много времени и желания на все сопутствующие
    родам формальные процедуры. Снимите рутину формальностей со своих плеч и доверьтесь профессионалам компании US BABY
    TIME.
  </p>

  <p>
    Будущим мамам также необходимо заранее позаботиться о том, чтобы найти хорошего педиатра. Ведь к выбору педиатра
    необходимо подойти со всей серьезностью и высокой степенью ответственности. Среди множества врачей-педиатров
    необходимо уметь найти не просто высококвалифицированного специалиста, но именно детского врача, знающего, как
    найти подход именно к Dашему малышу.
  </p>

  <div  style="border: #000000 1px">
    <%= image_tag 'extra/19_3_1.bmp', :width => 220, :height => 240, :style => 'margin-left: 100px;' %>
  </div>

  <p>
    Посетите раздел <%= link_to 'Выбор врача-гинеколога и врача-педиатра', support_doctor_selection_path %>, чтобы
    получить более подробную информацию.
  </p>

  <p>
    Подробнее ознакомиться с нашими <b>ценами</b> Вы можете <%= link_to 'здесь', page_price_path %>.
  </p>

</div>