<% content_for :banner do %>
    <%= link_to support_index_path do %>
        <div style="height: 200px">
          <%= image_tag 'banner_support.jpg', :class => 'banner' %>
          <p class="banner" style="padding-top: 18px; height: 26px;">
            <i>
              US BABY TIME - компания для обеспечения высокого качества Вашей жизни во Флориде
            </i>
          </p>
        </div>
    <% end %>
<% end %>
<div style="text-align: justify;">

  <h1 class="underlined font-large" style="text-align: left;">
    Выбор <em class="handwritten" style="font-size: 30px;">врача-гинеколога</em> и <em class="handwritten" style="font-size: 30px;">врача-педиатра</em></h1>

  <p>
    <span style="font-size: 1.5em;">Мы сотрудничаем только с ведущими многоязычными гинекологами и педитрами Флориды</span>, высокий
    уровень квалификации которых подтвержден не только лицензиями, но и долгими годами эффективной работы.
    Вам предстоит сделать выбор врача из специалистов, успешно принявших роды у знаменитостей и звезд с мировым именем.
    Мы порекомендуем Вам лучших из существующих специалистов, а Вам останется лишь сделать выбор!
  </p>

  <h3>Наши рекомендации:</h3>

  <ul>
    <li>
      <%= link_to 'Гинекологи в Майами', support_doctor_selection_gynecologist_path %>
      <div>
        <%= image_tag 'extra/19_2_1.bmp', :width => 260, :height => 200, :style => 'margin-left: 90px;' %>
      </div>
    </li>
  </ul>
  <p>
      Наши Партнеры (центр “Women to Women OB-GYN Care” ("Женщины-женщинам,  помощь при родах") - один из наиболее
      уважаемых медицинских центров в США, специализирующейся на гинекологии, руководителем которого является
      опытнейший и аккредитованый в госпитале Memorial Regional доктор Масляк. Под ее началом вот уже пять лет
      работает акушер-гинеколог Шрусан Грей, получившая медицинское образование в Университете Пенсильвании и в школе
      медицины университета Case Western Reserve, а затем работавшая в Long Island Jewish Hospital в Нью-Йорке.
      Доктор Грей хорошо знакома с эмоциональными и культурными особенностями русских женщин, так как у многих из
      них она принимала роды.
  </p>
  <ul>
    <li>
      <%= link_to 'Педиатры в Майами', support_doctor_selection_pediatrician_path %>
      <div  style="border: #000000 1px">
        <%= image_tag 'extra/19_3_1.bmp', :width => 220, :height => 240, :style => 'margin-left: 100px;' %>
      </div>
    </li>
  </ul>

  <p>
    Наши Партнеры (Pediatric Associates) — одна из самых старых и наиболее уважаемых педиатрических групп
    в США. Основанные в 1955, Pediatric Associates открыли свой первый офис в городе Голливуд, штат Флорида.
  </p>

  <p>
    <i>
      Pediatric Associates предоставляет свои услуги для детей всех возрастов: от новорожденных до подростков.
      Сертифицированные в США педиатры группы Pediatric Associates числятся в штате большинства главных госпиталей
      Майами. Миссия Pediatric Associates состоит в том, чтобы предоставить самые лучшие и самые современные медицинские
      услуги для детей.
    </i>
  </p>

  <p>
    Подробнее ознакомиться с нашими <b>ценами</b> Вы можете <%= link_to 'здесь', page_price_path %>.
  </p>

  <p>
    Вы можете воспользоваться нашими рекомендациями, либо поделиться своими идеями на нашем форуме
    <%= link_to 'Facebook', 'https://www.facebook.com/groups/450956344973158/' %>.
  </p>

  <p>Все Ваши предложения нами ценятся и принимаются во внимание.</p>
  <div>
    <%= image_tag 'extra/23_4_1.jpg', :width => 160, :height => 160, :style => 'margin-left: 5px;' %>
    <%= image_tag 'extra/23_4_2.jpg', :width => 240, :height => 160, :style => 'margin-left: 15px;' %>
  </div>
</div>