<% content_for :banner do %>
    <%= link_to support_index_path do %>
        <%= image_tag 'banner_support.jpg', :class => 'banner' %>
    <% end %>
<% end %>
<div class="hospital">
  <h1 class="underlined font-large">Broward General Medical Center</h1>

  <p style="text-align: center">
    <%= link_to 'Отзывы о госпитале', 'http://forum.deliveryinusa.com/viewforum.php?f=159' %>
    <%= link_to 'Описание и стоимость', 'http://www.usbabytime.com/data/hospitals/Broward_General_Hospital.pdf' %> <br/>
    Адрес: 1600 S. Andrews Avenue Fort Lauderdale, FL 33316 <br/>
  </p>

  <p>

    Медицинский центр «Broward General Hospital» является самым современным в Майами (год основания – 1994). Родильное
    отделение «Broward General Hospital» предлагает будущим мамам 13 палат повышенной комфортности, которые оснащены
    оборудованием нового поколения. В каждой палате есть телефон, интернет, телевизор, а также специализированный канал
    с обучающими программами по уходу за ребенком и восстановлению после родов.
  </p>

  <h3>Стоимость родов в Broward General Medical Center:</h3>
  <ul>
    <li>Натуральные: 3 300$</li>
    <li>Кесарево сечение: 4 500$</li>
    <li>Эпидуральная анестезия: 1 000$ н.р. / 1200$ к.с.</li>
    <li>Услуги неонатолога (при к/с): $300-$700</li>
  </ul>

  <h3>Рекомендуемые доктора в Broward General Medical Center:</h3>
  <ul>
    <li><%= link_to 'Tsikner Simen (Семен Цинкер) - 6 000$ н.р. / 6 300$ к/с' %></li>
  </ul>
  <%= image_tag 'hospital_1_1.jpg' %>

  <p>
    Персонал медицинского центра отличает высокий уровень обслуживания и внимательное отношение к мамам и
    малышам. «Broward General Hospital» знаменит своим центром лактации, специалисты которого проводят консультации по
    грудному вскармливанию. «Broward General Hospital» уделяет большое внимание не только вынашиванию, но и планированию
    беременности: будущим мамам предлагаются услуги психолога, а также курсы, готовящие к материнству, консультации по
    предотвращению возникновения хронических заболеваний младенцев, вакцинации, укреплению иммунитета.
  </p>

  <%= image_tag 'hospital_1_2.jpg' %>

  <%= image_tag 'hospital_1_3.jpg' %>

  <%= image_tag 'hospital_1_4.jpg' %>

  <%= image_tag 'hospital_1_5.jpg' %>

  <p>Broward General Medical Center</p>

  <%= image_tag 'hospital_1_6.jpg' %>

  <p>Broward General Medical Center</p>

  <%= image_tag 'hospital_1_7.jpg' %>

  <p>Broward General Medical Center</p>


  <%= image_tag 'hospital_1_8.jpg' %>

  <p>Broward General Medical Center</p>


  <%= image_tag 'hospital_1_9.jpg' %>

  <p>Broward General Medical Center</p>


  <%= image_tag 'hospital_1_10.jpg' %>

  <p>Broward General Medical Center</p>

</div>