<% content_for :banner do %>
    <%= link_to support_index_path do %>
        <%= image_tag 'banner_support.jpg', :class => 'banner' %>
    <% end %>
<% end %>
<div class="hospital">
  <h1 class="underlined font-large">Mount Sinai Medical Center</h1>

  <p style="text-align: center;">
    <%= link_to 'Отзывы о госпитале', 'http://forum.deliveryinusa.com/viewforum.php?f=160' %>
    <%= link_to 'Описание и стоимость', 'http://usbabytime.com/data/hospitals/Mount_Sinai_Medical_Center.pdf' %> <br/>
    Адрес:  4300 Alton Road Miami Beach, Florida
  </p>

    <h3>Стоимость родов в Mount Sinai Medical Center:</h3>
  <ul>
    <li>Натуральные: 3 500$</li>
    <li>Кесарево сечение: 6 000$</li>
    <li>Эпидуральная анестезия: включена в стоимость$</li>
    <li>Услуги неонатолога (при к/с): 500$ – 800$</li>
  </ul>

  <p><b>Нет гарантии получения одноместной палаты.</b></p>

  <h3>Рекомендуемые доктора в Mount Sinai Medical Center:</h3>

  <ul>
    <li><%= link_to 'Bonilla Roselyn – 3 900$ н.р. / 3 900$ к/с (с 2012 года приняла роды у более 100 пациентов из
      России)' %></p>
    </li>
  </ul>
   
  <%= image_tag 'hospital_3_1.jpg' %>

  <p>
    Самый крупный частный госпиталь в штате Флорида, он занимает лидирующее место в рейтинге America's Best Hospitals
    (Лучшие госпитали Америки) за 2009—2010 гг. Этот центр входит в единую группу Синайских госпиталей, к участникам
    которой предъявляются высочайшие требования.
  </p>

  <p>
    Установленное здесь оборудование соответствует последнему слову техники, чтобы роды за границей были
    максимально комфортные и безопасны. В частности, в госпитале находится Neonatal Intensive Care Unit (NICU,
    Неонатальное отделение интенсивной терапии), которое широко известно в Штатах как центр медпомощи недоношенным
    младенцам и новорожденным в критическом состоянии.
  </p>
  <%= image_tag 'hospital_3_2.jpg' %>
  <p>
    Если вы примете решение родить за рубежом в Синайском медицинском центре, то знайте о том, что штат Центра
    составляют лучшие специалисты мира различных медицинских направлений, в том числе, в области акушерства и
    гинекологии. Mount Sinai Medical Center оборудован новейшим оборудованием и располагает самыми лучшими специалистами
    высшей квалификации в области гинекологии и акушерства. Это частный госпиталь высшего уровня, являющийся самым
    престижным и крупным во Флориде. Mount Sinai Medical Center был основан в 1949 году и на сегодняшний день является
    крупнейшим на территории штата Флорида, а так же входит в число лучших медицинских центров в США.
  </p>

  <p>
    Mount Sinai Medical Center состоит из 15 корпусов, которые имеют в своём распоряжении 955 койко-мест, где работают
    более 900 докторов и 3 000 человек персонала. Mount Sinai Medical Center является частью такого драгоценного
    семейного опыта как рождение ребенка в США для многих семей в течение более чем 60- ти лет. Все услуги направлены на
    оказание наиболее качественного сервиса для ребенка и его матери. Центр множество раз выигрывал в многочисленных
    номинациях, проводимых среди американских медицинских учреждений. В 2009 году он занял одну из ведущих позиций
    почетного списка "America’s Best Hospitals issue" уже в третий раз.
  </p>

  <p>
    Кроме медицинских услуг центр оказывает парам, решившим родить в США множество дополнительных. Так же, предусмотрено
    пребывание вместе с роженицей, при желании, в палате и при родах близких членов семьи. Многочисленные классы
    направлены на обучение матери ухаживанию за новорожденным, кормлению грудью и неотложной помощи.
  </p>

  <p>
    В госпитале находится Neonatal Intensive Care Unit (NICU), один из наиболее известных в США как центр помощи и
    поддержки новорожденных в критическом состоянии. NICU предоставляет высший уровень ухода за недоношенными младенцами
    и младенцами, нуждающимися в дополнительном медицинском внимании.
  </p>

  <p>
    NICU в Маунт Синае отличается высоким уровнем персональной заботы о роженице, профессионализмом врачей и дружелюбной
    атмосферой. Здоровье будущей мамы является исключительно важным моментом в политике госпиталя. Опытные врачи из
    отделения Акушерства и Гинекологии в «Mount Sinai Medical Center» наблюдают роженицу с начала беременности,
    поддерживают ее здоровье и здоровье будущего малыша.
  </p>

  <p>
    В «Mount Sinai Medical Center» в «Отделении Матери и Ребенка», существуют классы по подготовке к родам и по уходу за
    новорожденным. Вам ответят на все вопросы и подготовят к тому, как правильно кормить ребенка грудью, объяснят
    важность этого процесса, как для ребенка, так и для вас. Обучение проводит сертифицированный специалист-консультант
    по лактации, класс проходит один раз в месяц.
  </p>

</div>