<% content_for :banner do %>
    <%= link_to support_index_path do %>
        <div style="height: 200px">
          <%= image_tag 'banner_support.jpg', :class => 'banner' %>
          <p class="banner" style="padding-top: 18px; height: 26px;">
            <i>
              US BABY TIME - компания для обеспечения высокого качества Вашей жизни во Флориде
            </i>
          </p>
        </div>
    <% end %>
<% end %>
<div class="hospital">
  <h1 class="underlined font-large">Подбор <em class="handwritten" style="font-size: 30px;">госпиталя</em></h1>

  <p>
    <span style="font-size: 1.5em;">
    Высококвалифицированные врачи и новейшие достижения американской медицины - залог успешных родов и здоровья
    Вашего будущего ребенка.
    </span>
  </p>

  <p>
    Мы можем рекомендовать Вам, исходя из Ваших пожеланий и нашего опыта, где лучше провести предродовой период и роды,
    но в конечном итоге – выбор конечно за Вами.
  </p>

  <p>
    Ниже представлены лучшие госпитали Майами с информацией о ценах, месторасположении и отзывами наших Клиентов.
  </p>

  <p>
    Многие клиники Флориды оборудованы современным медицинским оборудованием, предлагают комфортабельные родильные
    комнаты с телевизором, видео и WI-FI, а также разнообразное меню для будущих мам.
  </p>

  <p>
    Компания US BABY TIME располагает необходимой информацией о родильных центрах и родильных отделениях в госпиталях
    Флориды. Познакомьтесь с основными из них:
  </p>

  <ul>
    <li>
      <%= link_to support_hospital_1_path do %>
          <b>Broward General Medical Center</b>
          <a class="image-popup-vertical-fit" href="<%= asset_path('hospital_1.jpg') %>">
            <%= image_tag 'hospital_1.jpg' %>
          </a>
      <% end %>
    </li>

    <li>
      <%= link_to support_hospital_3_path do %>
          <b>Mount Sinai Medical Center</b>
          <a class="image-popup-vertical-fit" href="<%= asset_path('hospital_3.jpg') %>">
            <%= image_tag 'hospital_3.jpg' %>
          </a>
      <% end %>
    </li>
  </ul>

  <p>Это далеко не полный список госпиталей.</p>

  <p>
    По приезду в США, компания US BABY TIME организует по Вашему желанию туры по госпиталям. Наш сотрудник подскажет все
    преимущества того или иного госпиталя, заключит от Вашего имени договор на оказание врачебных услуг по рождению
    ребенка.
  </p>

  <p>
    В Америке при госпиталях существуют различные
    <%= link_to 'курсы подготовки будущих родителей', 'http://www.memorialregional.com/services/familybirthplace/calendar.cfm' %>.
    Почти каждый из них предлагает курсы еженедельно. Занятие в основном идут по лактации, подготовке к родам, безопасности малыша, будущему воспитанию
    ребенка. Представители компании US BABY TIME запишут Вас на курсы, предлагаемые госпиталем по Вашему желанию,
    организуют <%= link_to 'трансфер', organize_transfer_path %> и при необходимости предоставят
    <%= link_to 'ассистента-переводчика', organize_translation_service_path %>.
  </p>

  <p>
    Подробнее ознакомиться с нашими <b>ценами</b> Вы можете <%= link_to 'здесь', page_price_path %>.
  </p>

</div>