<div class="hospital">
  <h1 class="underlined font-large">Подбор <em class="handwritten" style="font-size: 30px;">госпиталя</em></h1>

  <p>
    <span style="font-size: 1.5em;">
    Высококвалифицированные врачи и новейшие достижения американской медицины - залог успешных родов и здоровья
    Вашего будущего ребенка.
    </span>
  </p>

  <p>
    Мы можем рекомендовать Вам, исходя из ваших пожеланий и нашего опыта, где лучше провести предродовой период и роды,
    но в конечном итоге – выбор конечно за вами.
  </p>

  <p>
    Ниже представлены лучшие госпитали Майами с информацией о ценах, месторасположении и отзывами наших Клиентов.
  </p>

  <p>
    Многие клиники Флориды оборудованы современным медицинским оборудованием, предлагают комфортабельные родильные
    комнаты с телевизором, видео и WI-FI, а также разнообразное меню для будущих мам.
  </p>

  <p>
    Компания US BABY TIME располагает необходимой информацией о родильных центрах и родильных отделениях в госпиталях
    Флориды. Познакомьтесь с основными из них:
  </p>

  <ul>
    <li>
      <%= link_to support_hospital_1_path do %>
        <b>Broward General Medical Center</b>
        <%= image_tag 'hospital_1.jpg' %>
      <% end %>
    </li>

  <li>
    <%= link_to support_hospital_2_path do %>
        <b>Memorial Regional Hospital</b>
      <%= image_tag 'hospital_2.jpg' %>
  <% end %>
  </li>

  <li>
    <%= link_to support_hospital_3_path do %>
        <b>Mount Sinai Medical Center</b>
      <%= image_tag 'hospital_3.jpg' %>
  <% end %>
  </li>
  </ul>

  <p>Это далеко не полный список госпиталей.</p>

  <p>
    По приезду в США, компания US BABY TIME организует по вашему желанию туры по госпиталям. Наш сотрудник подскажет все
    преимущества того или иного госпиталя, заключит от Вашего имени договор на оказание врачебных услуг по рождению
    ребенка.
  </p>

  <p>
    В Америке при госпиталях существуют различные курсы подготовки будущих родителей. Почти каждый из них предлагает
    курсы еженедельно. Занятие в основном идут по лактации, подготовке к родам, безопасности малыша, будущему воспитанию
    ребенка. Представители компании US BABY TIME запишет вас на курсы предлагаемые госпиталем по вашему желанию,
    организует трансфер и при необходимости сопровождение и переводчика.
  </p>

</div>