<% content_for :banner do %>
    <%= link_to support_index_path do %>
        <div style="height: 200px">
          <%= image_tag 'banner_support.jpg', :class => 'banner' %>
          <p class="banner" style="padding-top: 18px; height: 26px;">
            <i>
              US BABY TIME - компания для обеспечения высокого качества Вашей жизни во Флориде
            </i>
          </p>
        </div>
    <% end %>
<% end %>
<div class="hospital">
  <h1 class="underlined font-large">Memorial Regional Hospital</h1>

  <p style="text-align: center;">
    <%= link_to 'Отзывы о госпитале', 'http://forum.deliveryinusa.com/viewforum.php?f=159' %>
    <%= link_to 'Описание и стоимость', 'http://usbabytime.com/data/hospitals/Memorial_Regional_Hospital.pdf' %> <br/>
    Адрес: 3501 Johnson Street, Hollywood, Florida 33021
  </p>

  <a class="image-popup-vertical-fit" href="<%= asset_path('hospital_2_1.jpg') %>">
    <%= image_tag 'hospital_2_1.jpg' %>
  </a>

  <h3>Стоимость родов в Memorial Regional Hospital:</h3>
  <ul>
    <li>Натуральные: 3 500$</li>
    <li>Кесарево сечение: 4 500$</li>
    <li>Эпидуральная анестезия: 1 250$</li>
    <li>Услуги неонатолога (при к/с): 500$ – 800$</li>
  </ul>

  <p><b>Гарантированное получение одноместной палаты, что важно для многих клиентов.</b></p>

  <h3>Рекомендуемые доктора в Memorial Regional Hospital:</h3>
  <ul>
    <li><%= link_to 'DiGiacomo Wayne (Уэйн ДиДжакомо) – 4 500$ н.р. / 4 500$ к/с (ссылка на новое окно, смотри документ «Уэйн ДиЖиакомо - Гинеколог»)'%></li>
    <li><%= link_to 'Maslyak Svetlana (Светлана Масляк) – 4 500$ н.р. / 4 500$ к/с ссылка на новое окно, смотри документ «Светлана Масляк - Гинеколог»)'%></li>
    <li><%= link_to 'Matar Nabil (Матар Набил) – 2 700 н.р. / 2 700 к/с ссылка на новое окно, смотри документ «Матар Набил - Педиатр»)'%></li>
  </ul>

  <p>
    Это флагман Мемориальной системы здравоохранения, основанной в Голливуде в 1953 году. Это крупнейшая сеть лечебных
    учреждений в США, отличающаяся исключительно высоким уровнем обслуживания пациентов. Госпиталь был удостоен
    множества престижных наград, включая такие награды как «Tоп-100» лучших госпиталей в США, награда за лучший
    медицинский персонал, лучшую детскую больницу, лучший роддом и пр. Поэтому в Memorial Regional Hospital уделяется
    такое большое внимание деталям, ведь именно из мелочей создаётся атмосфера, позволяющая будущей маме почувствовать
    себя по-настоящему спокойно и комфортно во время беременности.
  </p>
  <a class="image-popup-vertical-fit" href="<%= asset_path('hospital_2_2.jpg') %>">
    <%= image_tag 'hospital_2_2.jpg' %>
  </a>

  <p>
    Цель госпиталя сделать так, чтобы Ваши роды прошли с максимальным комфортом и с минимальным стрессом для вас, вашего
    малыша и близких людей. Высококвалифицированный внимательный медицинский персонал, великолепные комфортабельные палаты
    – всё вместе это создает потрясающую атмосферу, в которой вы почувствуете, что за вами не просто ухаживают, о вас
    заботятся... В основе философии работы с пациентами лежит открытая коммуникация и постоянное взаимодействие медицинского
    персонала с пациентами и их близкими.
  </p>
  <a class="image-popup-vertical-fit" href="<%= asset_path('hospital_2_3.jpg') %>">
    <%= image_tag 'hospital_2_3.jpg' %>
  </a>
  <p>
    Один из крупнейших госпиталей Флориды, завоевавший известность и репутацию в области передовой медицины. Родильное
    отделение здесь называется Family Birthplace (дословно Семейное место рождения). Высококлассные специалисты Отделения
    окажут Вам качественную медицинскую помощь, если вы захотите рожать в США. В Memorial Regional Hospital уверены, что
    рождение новой жизни должно проходить в максимально комфортных условиях.
  </p>
  <a class="image-popup-vertical-fit" href="<%= asset_path('hospital_2_4.jpg') %>">
    <%= image_tag 'hospital_2_4.jpg' %>
  </a>
  <p>
    Именно поэтому к ремонту родового отделения здесь подошли настолько щепетильно. Мебель из экологически чистых
    материалов, выполненная в теплых тонах создает спокойную расслабляющую атмосферу, также в палатах вы найдете все те
    прелести, которые обычно встречаются в роскошных отелях. В родильном отделении имеется 53 палаты, из них 14 люксов,
    всего 39 обычных. Все палаты одноместные. В палатах есть все необходимое для того, чтобы обеспечить самое комфортное
    пребывание в роддоме:
  <ul>
    <li>Телевизор с плоским экраном, DVD плеер и беспроводной интернет в каждой палате</li>
    <li>Весь интерьер выполнен из натурального дерева, начиная от полов, заканчивая шкафами и передвижными детскими кроватками</li>
    <li>Встроенные сейфы для хранения ценных вещей</li>
    <li>Док станции для цифровых медиа плееров в каждой из 14 палат-люксов позволят вам составить свой собственный музыкальный плей-лист</li>
    <li>Тщательно продуманное искусственное освещение и много солнечного света из окон. Панорамный вид на Южную Флориду из окна вашей палаты</li>
    <li>Каждый день в столовой госпиталя для Вас пекут свежие печенья</li>
  </ul>
  </p>
  <a class="image-popup-vertical-fit" href="<%= asset_path('hospital_2_5.jpg') %>">
    <%= image_tag 'hospital_2_5.jpg' %>
  </a>
  <p>
    В госпитале работает медицинский персонал госпиталя, состоящий из сертифицированных акушерок, неонатологов,
    анестезиологов и специально подготовленных медсестёр-акушерок и используются самые современные технологии, чтобы
    наблюдать за мамами и малышами 24 часа в сутки. Если случится какое-то непредвиденное осложнение во время беременности,
    родов или после, то можете быть уверены, что весь персонал родильного отделения в Memorial Regional Hospital
    профессионально подготовлен и доступен 24 часа в сутки, 7 дней в неделю. По соседству находится Joe DiMaggio Children’s
    Hospital Wasie Neonatal Intensive Care Unit (NICU) II и III уровня, центр помощи и поддержки детей, родившихся с
    осложнениями. Проще говоря, в Memorial Regional Hospital вы найдете самых опытных специалистов в сфере акушерства и
    гинекологии в стране.
  </p>
  <p>
  В Memorial Regional Hospital о вас будут заботиться с того самого момента как вы узнаете о том,
  что беременны. Госпиталь организует занятия для будущих мам, направленные как на моральную, так и на физическую
  подготовку к родам. А после выписки из госпиталя вам будут предложены тренинги не только для мам, но и для молодых
  отцов. Выбрать из многообразия услуг те, которые подходят именно для вас Вам поможет Ваш лечащий врач.
  </p>
  <a class="image-popup-vertical-fit" href="<%= asset_path('hospital_2_6.jpg') %>">
    <%= image_tag 'hospital_2_6.jpg' %>
  </a>
  <p>
    В Memorial Regional Hospital есть даже свой собственный фитнес центр, где команда высококвалифицированных экспертов
    поможет Вам подобрать фитнес-программу исходя из Вашего состояния здоровья и целей, которые вы ставите перо собой,
    придя на занятия. Многие люди занимаются в этом фитнес центре, чтобы восстановиться после операций, в том числе после
    родов. Здесь Вам помогут подобрать фитнес-программу, подходящую именно для Вас.
  </p>
  <p>
    Кроме того, для будущих родителей здесь организованы специальные образовательные занятия и программы, благодаря
    которым беременность и роды пройдут легко и радостно, когда вы соберетесь рожать за рубежом.
  </p>
  <p>
    Family Birthplace считается во Флориде лучшим перинатальным центром интенсивной терапии.
  </p>
  <a class="image-popup-vertical-fit" href="<%= asset_path('hospital_2_7.jpg') %>">
    <%= image_tag 'hospital_2_7.jpg' %>
  </a>
  <iframe width="435" height="320" src="//www.youtube.com/embed/5zWmsx7tuNE" frameborder="0" allowfullscreen></iframe>
</div>