<% content_for :banner do %>
    <%= link_to support_index_path do %>
        <%= image_tag 'banner_support.jpg', :class => 'banner' %>
    <% end %>
<% end %>
<div style="text-align: justify;">
  <h1 class="underlined font-large">Сопровождение</br><em class="handwritten" style="font-size: 30px;">беременности и родов</em></h1>

  <p>
    <span style="font-size: 1.5em;">Запись к медицинскому специалисту, подбор госпиталя и регистрация в медицинских учреждениях, получение документов
      на ребенка,</span> как и любая другая бюрократическая процедура, часто вызывает неприятные ассоциации у наших
    клиентов с очередями, многократными походами, волнительными собеседованиями со специалистами и персоналом, особенно
    за рубежом, где без помощи профессионалов иногда бывает довольно сложно преодолеть языковой барьер.
    Компания US BABY TIME стремится существенным образом упростить все формальные процессы и процедуры для своих
    клиентов. Наши сотрудники – это профессионалы, которые свободно владеют несколькими языками. Мы позаботимся о Ваших
    личных потребностях и их исполнении, а вы сможете сконцентрироваться на самом главном - рождении ребенка! Посетите
    раздел  <%= link_to 'О нас', page_about_us_path %>, чтобы больше узнать о нашей компании.</p>

  <p>
      <span style="font-size: 1.5em;">Мы предлагаем Вам следующие услуги, и если Вас интересует какой-либо другой вопрос
        – Вы всегда можете <%= link_to('обратиться к нам', page_contact_us_path) %> 24/7:</span>
  </p>

  <ul style="text-align: left">
    <li><%= link_to 'Сопровождение на регулярные приемы к врачу-гинекологу', support_doctor_appointment_path %></li>
    <li><%= link_to 'Сопровождение на регулярные приемы к врачу-педиатру', support_kid_doctor_appointment_path %></li>
    <li><%= link_to 'Сопровождение на роды и помощь при выписке из госпиталя', support_borning_help_path %></li>
    <li><%= link_to 'Оформление документов США и России', support_paperwork_path %></li>
    <li><%= link_to 'Подбор госпиталя', support_hospital_path %></li>
    <li><%= link_to 'Выбор врача-гинеколога и врача-педиатра', support_doctor_selection_path %></li>
  </ul>

  <h3>Сопутствующие услуги</h3>
  <ul style="text-align: left">
    <li><%= link_to 'Услуги няни и гувернантки', support_babysitter_service_path %></li>
    <li><%= link_to 'Крещение вашего ребенка', support_child_baptized_path %></li>
    <li><%= link_to 'Лечение родителей в лучших клиниках США', support_parent_cure_path %></li>
  </ul>

  <h3>С чего начать</h3>

  <p>Свяжитесь с нами. US BABY TIME - компания для обеспечения качества Вашей жизни во Флориде. Помимо выбора сервиса в
    соответствии с Вашими потребностями, Вы можете осуществить вашу идею родов в Майами самостоятельно (без
    посредников), а в случае возникновения каких-либо трудностей или вопросов,
    <span style="font-size: 1.5em;">обратиться к нам на любой стадии</span> Вашего пребывания. Мы предлагаем услуги
    персонального ассистента не только по организации и сопровождению родов в Майами, но и по управлению и разрешению
    любых Ваших назревших вопросов в списке «Дел на сегодня». Срочных и важных. Ежедневно. Ваш персональный ассистент
    будет Вашим доверенным лицом и поможет Вам выиграть время еще до рождения ребенка, организовать все медицинские
    приемы и формальности, связанные с родами и после рождения ребенка, а вы сможете посвятить его себе, своей семье и
    здоровью. Мы будем рады стать Вашим надежным партнером.</p>
</div>