<% content_for :banner do %>
    <%= link_to support_index_path do %>
        <div style="height: 200px">
          <%= image_tag 'banner_support.jpg', :class => 'banner' %>
          <p class="banner" style="padding-top: 18px; height: 26px;">
            <i>
              US BABY TIME - компания для обеспечения высокого качества Вашей жизни во Флориде
            </i>
          </p>
        </div>
    <% end %>
<% end %>
<div style="text-align: justify;">
  <h1 class="underlined font-large">Сопровождение на регулярные приемы к
    <em class="handwritten" style="font-size: 30px;">врачу-педиатру</em></h1>

  <p>
    <span style="font-size: 1.5em;">Консультация педиатра может существенно сократить количество вопросов, которые
      встают перед родителями.</span> Американские
    специалисты четко знают, в каком возрасте и что может беспокоить ребенка, могут дать совет по уходу, вскармливанию и
    закаливанию. Все это возможно только в том случае, если Вы обратитесь к настоящему профессионалу!
  </p>
  <div>
    <a class="image-popup-vertical-fit" href="<%= asset_path('extra/20_1_1.jpg') %>">
      <%= image_tag 'extra/20_1_1.jpg', :width => 160, :height => 180, :style => 'margin-left: 55px;' %>
    </a>
    <a class="image-popup-vertical-fit" href="<%= asset_path('extra/20_1_2.jpg') %>">
      <%= image_tag 'extra/20_1_2.jpg', :width => 140, :height => 180, :style => 'margin-left: 15px;' %>
    </a>
  </div>
  <p>
    Специалисты компании US BABY TIME окажут полное сопровождение на регулярные приемы к врачу-педиатру:
    <%= link_to 'трансферт', organize_transfer_path %>, оформление необходимых документов при первичном приеме,
    сопровождение при проведении плановых обследований, предоставление при необходимости
    <%= link_to 'ассистента-переводчика', organize_translation_service_path %> на регулярные приемы к врачу-педиатру,
    помощь при оплате, а также контоль получения пакета документов о выполнении всех финансовых обязательств между Вами
    и врачом-педиатром.
  </p>
  <p>
    Став нашим клиентом, Вам не придется тратить лишнее время на поиск информации, думать обо всех важных
    формальностях,
    волноваться о возможных дорогостоящих ошибках. Сэкономленное время, которое могло быть упущено, гораздо лучше
    потратить на более приятные вещи, тем более в солнечной Флориде.
  </p>

  <p>
    В наших партнерских клиниках Вы сможете получить грамотную консультацию высококвалифицированных специалистов,
    которе помогут решить ряд проблем, связанных с питанием, уходом и здоровьем малыша.
  </p>

  <p>
    Наш детский врач во Флориде - это настоящий профессионал своего дела, он способен найти правильный подход не только
    к каждому маленькому пациенту, но и к его родителям. Обратившись к хорошему врачу, Вы поймете, что это не
    преувеличение. Консультация педиатра профессионала принесет только положительные эмоции Вам и Вашему малышу. Вы
    получите ответы на интересующие Вас вопросы и устраните все проблемы совместно с врачом в сопровождении нашего
    специалиста.
  </p>

  <p>
    Посетите раздел <%= link_to 'Выбор врача-гинеколога и врача-педиатра', support_doctor_selection_path %>, чтобы
    получить более подробную информацию.
  </p>

  <div  style="border: #000000 1px">
    <a class="image-popup-vertical-fit" href="<%= asset_path('extra/19_3_1.bmp') %>">
      <%= image_tag 'extra/19_3_1.bmp', :width => 220, :height => 240, :style => 'margin-left: 110px;' %>
    </a>
  </div>

  <p>
    Подробнее ознакомиться с нашими <b>ценами</b> Вы можете <%= link_to 'здесь', page_price_path %>.
  </p>

  <div>
    <a class="image-popup-vertical-fit" href="<%= asset_path('extra/20_2_1.jpg') %>">
      <%= image_tag 'extra/20_2_1.jpg', :width => 240, :height => 160, :style => 'margin-left: 95px;' %>
    </a>
  </div>

</div>