<% content_for :banner do %>
    <%= link_to support_index_path do %>
        <div style="height: 200px">
          <%= image_tag 'banner_support.jpg', :class => 'banner' %>
          <p class="banner" style="padding-top: 18px; height: 26px;">
            <i>
              US BABY TIME - компания для обеспечения высокого качества Вашей жизни во Флориде
            </i>
          </p>
        </div>
    <% end %>
<% end %>
<div style="text-align: justify;">
  <h1 class="underlined font-large" style="text-align: left;">Оформление документов
    <em style="font-size: 30px;">США</em> и <em style="font-size: 30px;">России</em></h1>

  <p><span style="font-size: 1.5em">Получение Вашим ребенком Американского гражданства по факту рождения на территории США – это залог будущего
    ребенка.</span></p>

  <p>
    Специалисты компании US BABY TIME помогут Вам оформить и Американские и Российские документы для новорожденного
    ребенка. Воспользовавшись нашими услугами Вы значительно сэкономите Ваше время и деньги на полет в консульство РФ в
    Вашингтоне. Мы не только поможем оформить все документы, но и сделаем это в самые кратчайшие сроки. Все документы
    оформляются в рамках существующего законодательства и с соблюдением всех необходимых требований.
  </p>

  <p>Посетите раздел <%= link_to 'О нас', page_about_us_path %>, чтобы больше узнать о нашей компании</p>

  <div>
    <a class="image-popup-vertical-fit" href="<%= asset_path('extra/22_1_1.jpg') %>">
      <%= image_tag 'extra/22_1_1.jpg', :width => 180, :height => 240, :style => 'margin-left: 25px;' %>
    </a>
    <a class="image-popup-vertical-fit" href="<%= asset_path('extra/22_1_2.jpg') %>">
      <%= image_tag 'extra/22_1_2.jpg', :width => 180, :height => 240, :style => 'margin-left: 15px;' %>
    </a>
  </div>

  <div style="margin-top: 10px">
    <a class="image-popup-vertical-fit" href="<%= asset_path('extra/22_2_1.jpg') %>">
      <%= image_tag 'extra/22_2_1.jpg', :width => 180, :height => 110, :style => 'margin-left: 25px;' %>
    </a>
    <a class="image-popup-vertical-fit" href="<%= asset_path('extra/22_2_2.jpg') %>">
      <%= image_tag 'extra/22_2_2.jpg', :width => 180, :height => 110, :style => 'margin-left: 15px;' %>
    </a>
  </div>

  <h3>Документы</h3>

  <p>
    Ваш ребенок, рождённый в США, будет иметь два гражданства: по рождению – гражданство США (14-ая поправка к
    Конституции США) и по родителям - гражданство РФ, если хотя бы один из родителей гражданин РФ.
  </p>

  <p><b>Документы США:</b></p>

  <blockquote><i>
    Четырнадцатая поправка к Конституции США гарантирует гражданство США, рожденным или натурализованным лицам:
    Amendment XIV, Section 1, Clause 1: «Аll persons born or naturalized in the United States, and subject to the
    jurisdiction thereof, are citizens of the United States and of the State wherein they reside».<br>
    «Любой, кто родился на территории США, является гражданином США».
  </i></blockquote>
  <ol>
    <li>
      <b>Birth certificate</b><br>
      Получение Свидетельства о рождении США (Birth Certificate).
    </li>
    <li>
      <b>Social Security Number</b><br>
      Подача и получение документа Social Security Number (SSN) в социальной федеральной службе, который выдаётся
      каждому гражданину страны.
    </li>
    <li>
      <b>US Passport</b><br>
      Подготовка и подача документов на паспорт США (срочное получение паспорта США). Если Ваш ребенок получит
      гражданство США и Вас заинтересует вопрос, как Вашей семье легально остаться в стране и организовать новую жизнь,
      обратитесь к <%= link_to 'нашим специалистам.', immigration_immigration_service_path %>
    </li>
  </ol>

  <p><b>Документы РФ:</b></p>

  <blockquote><i>
    Ребёнок, родившийся в США, становится гражданином Российской Федерации, если его родители, или хотя бы один из
    родителей, являются гражданами России. Ст. 12 ФЗ-62 от 31.05.02, приобретение гражданства Российской Федерации по
    рождению.
  </i></blockquote>

  <ol>
    <li><b>Свидетельство о рождении США</b>, переведенное и заверенное апостилем (штамп о гражданстве РФ).</li>
    <li>
      <b>Паспорт РФ.</b><br>
      Подготовка и подача документов на загроничный паспорт РФ. Можно вписывать ребенка в заграничный паспорт одного
      из родителей (если заграничный паспорт РФ старого образца) или получить персональный заграничный паспорт РФ.
    </li>
  </ol>

  <p><b>Для граждан Украины:</b></p>
  <p>
    Дети граждан Украины въезжают на территорию Украины по паспорту гражданина США (без визы). Украинские документы
    для ребенка оформляются на территории Украины. Затрат на оформление документов Украины на территории США не
    предусмотрено.
  </p>

  <p><b>Для граждан Казахстана:</b></p>
  <p>
    Дети граждан Казахстана въезжают на территорию Казахстана по паспорту гражданина США. Для этого необходимо получить
    визу в паспорт США ребенка в посольстве Казахстана в США. Документы гражданина Казахстана для ребенка оформляются
    на территории Казахстана.
  </p>
  <p>
    Стоимость подготовки документов для получения визы в Казахстан для ребенка + помощь в получении визы - 600$ + все
    государственные сборы и почтовые переводы.
  </p>

  <p>
    <b>Результат работы:</b> полный пакет документов РФ (Казахстана) и США.
  </p>

  <%= link_to 'Подробные услуги, оказываемые компанией US BABY TIME по получению документов', support_paperwork_list_path %>

  <p>
    Подробнее ознакомиться с нашими <b>ценами</b> Вы можете <%= link_to 'здесь', page_price_path %>.
  </p>

  <p>Посетите раздел <%= link_to 'О нас', page_about_us_path %>, чтобы больше узнать о нашей компании.</p>

</div>