<div style="text-align: justify;">
  <h1 class="underlined font-large" style="text-align: left;">Оформление документов
    <em style="font-size: 30px;">США</em> и <em style="font-size: 30px;">России</em></h1>

  <p><span style="font-size: 1.5em">Получение вашим ребенком Американского гражданства по факту рождения на территории США – это залог будущего
    ребенка.</span></p>

  <p>
    Специалисты компании US BABY TIME помогут Вам оформить и Американские и Российские документы для новорожденного
    ребенка. Воспользовавшись нашими услугами Вы значительно сэкономите Ваше время и деньги на полет в консульство РФ в
    Вашингтоне. Мы не только поможем оформить все документы, но и сделаем это в самые кратчайшие сроки. Все документы
    оформляются в рамках существующего законодательства и с соблюдением всех необходимых требований.
  </p>

  <p>Посетите раздел <%= link_to 'О нас', page_about_us_path %>, чтобы больше узнать о нашей компании</p>

  <h3>Документы</h3>

  <p>
    Ваш ребенок, рождённый в США, будет иметь два гражданства: по рождению – гражданство США (14-ая поправка к
    Конституции США) и по родителям - гражданство РФ, если хотя бы один из родителей гражданин РФ.
  </p>

  <p><b>Документы США:</b></p>

  <blockquote><i>
    Четырнадцатая поправка к Конституции США гарантирует гражданство США, рожденным или натурализованным лицам:
    Amendment XIV, Section 1, Clause 1: «Аll persons born or naturalized in the United States, and subject to the
    jurisdiction thereof, are citizens of the United States and of the State wherein they reside».<br>
    «Любой, кто родился на территории США, является гражданином США».
  </i></blockquote>
  <ol>
    <li>
      <b>Birth certificate</b><br>
      Получение Свидетельства о рождении США (Birth Certificate).
    </li>
    <li>
      <b>Social Security Number</b><br>
      Подача и получение документа Social Security Number (SSN) в социальной федеральной службе, который выдаётся
      каждому гражданину страны.
    </li>
    <li>
      <b>US Passport</b><br>
      Подготовка и подача документов на паспорт США (срочное получение паспорта США). Если вас интересует вопрос, как
      получив гражданство в США, остаться дальше в стране, обратитесь за более детальной информацией к <%= link_to 'нашим
      специалистам.', immigration_immigration_service_path %>
    </li>
  </ol>

  <p><b>Документы РФ:</b></p>

  <blockquote><i>
    Ребёнок, родившийся в США, становится гражданином Российской Федерации, если его родители, или хотя бы один из
    родителей, являются гражданами России. Ст. 12 ФЗ-62 от 31.05.02, приобретение гражданства Российской Федерации по
    рождению.
  </i></blockquote>

  <ol>
    <li><b>Свидетельство о рождении США</b>, переведенное и заверенное апостилем (штамп о гражданстве РФ).</li>
    <li>
      <b>Паспорт РФ.</b><br>
      Подготовка и подача документов на паспорт РФ. (Вписывание в заграничный паспорт или получение отдельно паспорта
      РФ.)
    </li>
  </ol>

  <p>
    Если вас интересует вопрос, как получив гражданство РФ для ребенка, остаться в США дальше, обратитесь за более
    детальной информацией к <%= link_to 'нашим специалистам.', immigration_immigration_service_path %>
  </p>

  <%= link_to 'Подробные услуги, оказываемые компанией US BABY TIME по получению документов', support_paperwork_list_path %>

  <p>Посетите раздел <%= link_to 'О нас', page_about_us_path %>, чтобы больше узнать о нашей компании.</p>

</div>