<% content_for :banner do %>
    <%= link_to support_index_path do %>
        <div style="height: 200px">
          <%= image_tag 'banner_support.jpg', :class => 'banner' %>
          <p class="banner" style="padding-top: 18px; height: 26px;">
            <i>
              US BABY TIME - компания для обеспечения высокого качества Вашей жизни во Флориде
            </i>
          </p>
        </div>
    <% end %>
<% end %>
<div style="text-align: justify;">
  <h1 class="underlined font-large" style="text-align: left">Лечение родителей в<em class="handwritten" style="font-size: 30px;"> лучших клиниках 
    США</em></h1>

  <p>
    <span style="font-size: 1.5em;">Компания US BABY TIME организует продуманные до мелочей консультации с Американскими
      докторами и лечение в лучших клиниках США.</span> При необходимости, еще до Вашего приезда, мы проанализируем
    Ваши документы со специалистом, и подготовим Вам программу лечения/обследования.
  </p>

  <p>
    Флорида – это не просто отдых за рубежом, но и идеальная возможнось получить высококвалифицированные медицинские
    услуги на самом высоком уровне.
  </p>

  <p>
    Мы профессионально занимаемся организацией визитов к специалистам в области как общей медицины, так и
    узкоспециализированных направлений: косметическая хирургия, пластическая хирургия и эстетическая стоматология.
    Каждый визит индивидуален, продуман до мелочей и выгодно отличается своей гибкостью к запросам клиента.
  </p>

  <div>
    <%= image_tag 'extra/26_1_1.jpg', :width => 180, :height => 150, :style => 'margin-left: 5px;' %>
    <%= image_tag 'extra/26_1_2.jpg', :width => 230, :height => 150, :style => 'margin-left: 15px;' %>
  </div>

  <p>
    Каждый год сотни клиентов со всего мира приезжают к нам. Среди них преуспевающие бизнесмены и их жены, публичные
    знаменитости и звезды шоу-бизнеса. Все они получают высококлассное обслуживание и необходимую медицинскую помощь в
    лучших клиниках Флориды.
  </p>

  <p>
    Длительное сотрудничество с ведущими специалистами и медицинскими центрами США позволяет нам предоставлять разумные
    и сдержанные цены при огромном спектре предлагаемых услуг.
  </p>

  <%= link_to 'Мы сотрудничаем только с лучшими госпиталями и клиниками в Майами', support_hospital_list_path %>

  <p>
    Мы прекрасно понимаем, что нахождение за границей – это дополнительная психологическая и эмоциональная нагрузка. Мы
    готовы взять на себя все организационные хлопоты, связанные с пребыванием в медицинском учреждении, что бы Вы
    чувствовали себя в окружении комфорта и абсолютной безопасности.
  </p>

  <p>Посетите раздел <%= link_to 'О нас', page_about_us_path %>, чтобы больше узнать о нашей компании</p>

  <div>
    <%= image_tag 'extra/26_2_1.jpg', :width => 300, :height => 180, :style => 'margin-left: 70px;' %>
  </div>

</div>