<!DOCTYPE html>
<html>
<head>
  <title>Babytime</title>
  <link rel="shortcut icon" href="http://darasgarden.com/favicon.ico" type="image/x-icon">
  <link href='http://fonts.googleapis.com/css?family=Marck+Script&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="common_body">
<div id="wrapper">
  <%= render 'shared/menu' %>

  <div id="content">

    <%= yield %>

  </div>

  <%= render 'shared/side_form' %>
  <%= render 'shared/footer' %>
</div>
</body>
</html>