<!DOCTYPE html>
<html>
    <head>
      <title>Babytime</title>
      <meta name="google-translate-customization" content="936f24a52ae83dee-44616ef718b701a2-g6edf50ceb18b5de3-e">
      <%= csrf_meta_tags %>

      <link rel="shortcut icon" href="http://darasgarden.com/favicon.ico" type="image/x-icon">
      <link href='http://fonts.googleapis.com/css?family=Oranienbaum&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Marck+Script&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
      <%= stylesheet_link_tag    "page", :media => "all" %>
      <%= stylesheet_link_tag    "magnific", :media => "all" %>

      <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
      <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
      <script type="text/javascript" src="/assets/magnific.min.js"></script>

      <script>
          function googleTranslateElementInit() {
              new google.translate.TranslateElement({pageLanguage: 'ru', includedLanguages: 'ru,en,de,es,fr,it,pt,yi,zh-CN', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
          }

          jQuery(document).ready(function() {

              jQuery('.image-popup-vertical-fit').magnificPopup({
                  type: 'image',
                  closeOnContentClick: true,
                  mainClass: 'mfp-img-mobile',
                  image: {
                      verticalFit: true
                  }

              });

          });
      </script>

    </head>

    <body class="common_body">
        <div id="wrapper">

          <!--toolbar-->
          <%= render 'shared/toolbar' %>

          <!--menu-->
            <div id="header" class="handwritten" style="width: 760px; padding-top: 50px">
              <%= render 'shared/menu' %>
            </div>

          <%= yield :banner %>

          <!--content-->
          <div id="content">

            <%= yield %>

          </div>

          <!--side bar-->
          <%= render 'shared/side_form' %>

          <!--footer-->
          <%= render 'shared/footer' %>
        </div>
    </body>
</html>