<!DOCTYPE html>
<html>
    <head>
      <title>Babytime</title>
      <link rel="shortcut icon" href="http://darasgarden.com/favicon.ico" type="image/x-icon">
      <%= stylesheet_link_tag    "page", :media => "all" %>
      <%= stylesheet_link_tag    "owl.theme", :media => "all" %>
      <%= stylesheet_link_tag    "owl.carousel", :media => "all" %>
      <%= stylesheet_link_tag    "owl.transitions", :media => "all" %>
      <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>

      <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
      <script src="/assets/owl.carousel.min.js"></script>
      <link href='http://fonts.googleapis.com/css?family=Oranienbaum&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Marck+Script&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
      <script>
          $(document).ready(function() {

              var owl = $("#feature");

              owl.owlCarousel({
                  navigation : false,
                  autoPlay : 5000,
                  pagination : false,
                  singleItem : true,
                  transitionStyle : "fadeUp"
              });

              $( "#org_frame" ).on( "mouseover", function() {
                  $("#org").trigger( "mouseover" );
              });
              $( "#org_frame" ).on( "mouseout", function() {
                  $("#org").trigger( "mouseout" );
              });
              $( "#del_frame" ).on( "mouseover", function() {
                  $("#del").trigger( "mouseover" );
              });
              $( "#del_frame" ).on( "mouseout", function() {
                  $("#del").trigger( "mouseout" );
              });
              $( "#immi_frame" ).on( "mouseover", function() {
                  $("#immi").trigger( "mouseover" );
              });
              $( "#immi_frame" ).on( "mouseout", function() {
                  $("#immi").trigger( "mouseout" );
              });

          });
      </script>
    </head>
    <body class="special_body">
        <div id="wrapper">

          <!--toolbar-->
          <%= render 'shared/toolbar' %>

          <!--menu-->
          <div>
            <% if session[:locale] == 'ru'%>
                <%= render 'shared/menu_ru' %>
            <% else %>
                <%= render 'shared/menu' %>
            <% end %>
          </div>

          <!--carousel-->
          <div style="height: 320px;">
              <div id="feature" class="owl-carousel owl-theme">

                  <div class="item"><%= image_tag '1.jpg' %></div>
                  <div class="item"><%= image_tag '2.jpg' %></div>
                  <div class="item"><%= image_tag '3.jpg' %></div>
                  <div class="item"><%= image_tag '4.jpg' %></div>
                  <div class="item"><%= image_tag '5.jpg' %></div>
                  <div class="item"><%= image_tag '6.jpg' %></div>
                  <div class="item"><%= image_tag '7.jpg' %></div>

              </div>
            <div class="font-large superLiner"
                 style="font-family:serif; text-align: center; padding-top: 14px; line-height: 85%; margin-left: 20px;
                         position: relative; top: -100px; left: 0px; color: #ffffff; height: 80px; width: 720px;
                         background: rgb(152, 178, 198); background: rgba(152, 178, 198, .8); ">
                <%= yield :mainLiner %>
            </div>
          </div>
          <!--feature icon-->
          <div id="featurettes">
            <div>
                <a href="http://darasgarden.com/weddings/" style="position: relative;">
                  <%= image_tag 'picture_frame_clean.png', :id => 'org_frame', :class => 'image_over' %>
                  <%= image_tag 'organization_bw.jpg', :id => 'org', :mouseover => 'organization.jpg' %>
                </a>
              <%= yield :subLiner1 %>
            </div>
            <div style="margin-left: 4px;">
              <a href="http://darasgarden.com/weddings/" style="position: relative;">
                <%= image_tag 'picture_frame_clean.png', :id => 'del_frame', :class => 'image_over'%>
                <%= image_tag 'delivery_bw.jpg', :id => 'del', :mouseover => 'delivery.jpg' %>
              </a>
              <%= yield :subLiner2 %>
            </div>
            <div style="margin-left: 4px;">
              <a href="http://darasgarden.com/weddings/" style="position: relative;">
                <%= image_tag 'picture_frame_clean.png', :id => 'immi_frame', :class => 'image_over' %>
                <%= image_tag 'immigration_bw.jpg', :id => 'immi', :mouseover => 'immigration.jpg' %>
              </a>
              <%= yield :subLiner3 %>
            </div>
          </div>

          <!--content-->
          <div id="content">
            <%= yield %>
          </div>

          <!--side bar-->
          <% if session[:locale] == 'ru'%>
              <%= render 'shared/side_form_ru' %>
          <% else %>
              <%= render 'shared/side_form' %>
          <% end %>

          <!--footer-->
          <%= render 'shared/footer' %>
        </div>
    </body>
</html>