<!DOCTYPE html>
<html>
    <head>
      <title>Babytime</title>
      <link rel="shortcut icon" href="http://darasgarden.com/favicon.ico" type="image/x-icon">
      <meta name="google-translate-customization" content="936f24a52ae83dee-44616ef718b701a2-g6edf50ceb18b5de3-e">
      <%= stylesheet_link_tag    "page", :media => "all" %>
      <%= stylesheet_link_tag    "owl.theme", :media => "all" %>
      <%= stylesheet_link_tag    "owl.carousel", :media => "all" %>
      <%= stylesheet_link_tag    "owl.transitions", :media => "all" %>
      <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>

      <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
      <script src="/assets/owl.carousel.min.js"></script>
      <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
      <link href='http://fonts.googleapis.com/css?family=Oranienbaum&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Marck+Script&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
      <script>
          function googleTranslateElementInit() {
              new google.translate.TranslateElement({pageLanguage: 'ru', includedLanguages: 'ru,en,de,es,fr,it,pt,yi,zh-CN', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
          }
          $(document).ready(function() {

              var owl = $("#feature");

              owl.owlCarousel({
                  navigation : false,
                  autoPlay : 5000,
                  pagination : false,
                  singleItem : true,
                  transitionStyle : "fadeUp"
              });

              $( "#org_frame" ).on( "mouseover", function() {
                  $("#org").trigger( "mouseover" );
              });
              $( "#org_frame" ).on( "mouseout", function() {
                  $("#org").trigger( "mouseout" );
              });
              $( "#org_text" ).on( "mouseover", function() {
                  $("#org").trigger( "mouseover" );
              });
              $( "#org_text" ).on( "mouseout", function() {
                  $("#org").trigger( "mouseout" );
              });
              $( "#del_frame" ).on( "mouseover", function() {
                  $("#del").trigger( "mouseover" );
              });
              $( "#del_frame" ).on( "mouseout", function() {
                  $("#del").trigger( "mouseout" );
              });
              $( "#del_text" ).on( "mouseover", function() {
                  $("#del").trigger( "mouseover" );
              });
              $( "#del_text" ).on( "mouseout", function() {
                  $("#del").trigger( "mouseout" );
              });
              $( "#immi_frame" ).on( "mouseover", function() {
                  $("#immi").trigger( "mouseover" );
              });
              $( "#immi_frame" ).on( "mouseout", function() {
                  $("#immi").trigger( "mouseout" );
              });
              $( "#immi_text" ).on( "mouseover", function() {
                  $("#immi").trigger( "mouseover" );
              });
              $( "#immi_text" ).on( "mouseout", function() {
                  $("#immi").trigger( "mouseout" );
              });

          });
      </script>
    </head>
    <body class="special_body">

    <div id="wrapper">

          <!--toolbar-->
          <%= render 'shared/toolbar' %>

          <!--menu-->
            <div id="header" class="handwritten" style="width: 760px; padding-top: 50px">
              <%= render 'shared/menu' %>
            </div>

          <!--carousel-->
          <div style="height: 320px;">
              <div id="feature" class="owl-carousel owl-theme">

                  <div class="item"><%= image_tag '1.jpg' %></div>
                  <div class="item"><%= image_tag '2.jpg' %></div>
                  <div class="item"><%= image_tag '3.jpg' %></div>
                  <div class="item"><%= image_tag '4.jpg' %></div>
                  <div class="item"><%= image_tag '5.jpg' %></div>
                  <div class="item"><%= image_tag '6.jpg' %></div>
                  <div class="item"><%= image_tag '7.jpg' %></div>

              </div>
            <div class="font-large superLiner"
                 style="font-family:serif; text-align: center; padding-top: 14px; line-height: 85%; margin-left: 20px;
                         position: relative; top: -100px; left: 0px; color: #ffffff; height: 80px; width: 720px;
                         background: rgb(152, 178, 198); background: rgba(152, 178, 198, .8); ">
                <%= yield :mainLiner %>
            </div>
          </div>
          <!--feature icon-->
          <div id="featurettes">
            <div>
              <%= link_to page_event_organization_path, :style => 'position: relative;' do %>
                <%= image_tag 'picture_frame_clean.png', :id => 'org_frame', :class => 'image_over' %>
                <%= image_tag 'organization_bw.jpg', :id => 'org', :mouseover => 'organization.jpg' %>
              <% end %>
              <%= link_to page_event_organization_path, :id => 'org_text' do %>
                <%= yield :subLiner1 %>
              <% end %>
            </div>
            <div style="margin-left: 4px;">
              <%= link_to page_support_path, :style => 'position: relative;' do %>
                <%= image_tag 'picture_frame_clean.png', :id => 'del_frame', :class => 'image_over'%>
                <%= image_tag 'delivery_bw.jpg', :id => 'del', :mouseover => 'delivery.jpg' %>
            <% end %>
            <%= link_to page_support_path, :id => 'del_text' do %>
              <%= yield :subLiner2 %>
            <% end %>
            </div>
            <div style="margin-left: 4px;">
              <%= link_to page_immigration_path, :style => 'position: relative;' do %>
                <%= image_tag 'picture_frame_clean.png', :id => 'immi_frame', :class => 'image_over' %>
                <%= image_tag 'immigration_bw.jpg', :id => 'immi', :mouseover => 'immigration.jpg' %>
              <% end %>
              <%= link_to page_immigration_path, :id => 'immi_text' do %>
                <%= yield :subLiner3 %>
              <% end %>
            </div>
          </div>

          <!--content-->
          <div id="content">
            <%= yield %>
          </div>

          <!--side bar-->
          <%= render 'shared/side_form' %>

          <!--footer-->
          <%= render 'shared/footer' %>
        </div>
    </body>
</html>